#aig-eopoo-detail-page {
  #address-list {
    position: relative;
  }
  #contact-list {
    position: relative;
  }
  #referent-list {
    position: relative;
  }
  #wallet-list {
    position: relative;
  }
  #pos-list {
    position: relative;
  }
}
