<div id="aig-eopoo-detail-page" class="page-layout blank">

    <aig-generic-header [sectionName]="(eopooDTO | eopooName)" [search]="false"></aig-generic-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16 m-16">
                <aig-eopoo-entity-detail [eopoo]="eopooDTO"></aig-eopoo-entity-detail>

                <button mat-stroked-button color="primary" (click)="editEopoo(eopooDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteEopoo(eopooDTO.id)">Delete</button>
            </div>
        </div>

		<div class="widget p-16" fxFlex.gt-sm="50">
			<div class="fuse-card auto-width p-16" id="address-list">
                <div class="h4 m-16 mt-0 mb-0">Indirizzi</div>
                <aig-address-list-table [dataSource]="addressDTOs" [displayedColumns]="addressDC" [error]="addressError">
                </aig-address-list-table>
                <div style="height: 35px;"></div>
                <button mat-fab class="accent" class="add-button-in-list-table" (click)="addAddress(eopooDTO)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

		<div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16" id="contact-list">
                <div class="h4 m-16 mt-0 mb-0">Contatti</div>
                <aig-contact-list-table [dataSource]="contactDTOs" [displayedColumns]="contactDC" [error]="contactError">
                </aig-contact-list-table>
                <div style="height: 35px;"></div>
                <button mat-fab class="accent" class="add-button-in-list-table" (click)="addContact(eopooDTO)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>   
        </div>

        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16" id="referent-list">
                <div class="h4 m-16 mt-0 mb-0">Referent</div>
                <aig-referent-list-table [dataSource]="referentDTOs" [displayedColumns]="referentDC" [error]="referentError">
                </aig-referent-list-table>
                <div style="height: 35px;"></div>
                <button mat-fab class="accent" class="add-button-in-list-table" (click)="addReferent(eopooDTO)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-16 mt-0 mb-0">Utenti per questa anagrafica</div>
                <pre>{{ contextUserEopooDTOs | json }}</pre>
            </div>
        </div>
        
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-16 mt-0 mb-16">Negozi associati a questa anagrafica</div>
                <div *ngFor="let sellerDTO of sellerDTOs">
                    {{ sellerDTO.id }} - {{ sellerDTO.name }}
                </div>
            </div>
        </div>

    </div>

</div>