<div class="page-layout simple left-sidebar">
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="purchase-item-sidebar" position="left" lockedOpen="gt-md">
        <!-- SIDEBAR CONTENT -->
        <div class="content">
            <div>
                <div class="header p-16 border-bottom" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h5">{{ 'MAIN.FILTERS' | translate | titlecase }}</span>
                </div>
                <div class="content py-16" fusePerfectScrollbar>
                    <div class="nav material2">
                        <div class="nav-item" aria-label="inbox">
                            <div fxLayout="row" fxLayoutAlign="center top">
                                <button mat-raised-button (click)="showAllPurchaseItem()">{{ 'MAIN.RESET_FILTERS' | translate | titlecase }}</button>
                            </div>
                            <form [formGroup]="purchaseItemSearchFormGroup" (ngSubmit)="purchaseItemSearchWithFilter()"class="p-8">
                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Id</mat-label>
                                        <input matInput type="number" formControlName="id">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Prezzo</mat-label>
                                        <input matInput type="number" formControlName="price">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="end top">
                                    <button type="submit" mat-raised-button color="accent">Cerca</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                (click)="toggleSidebar('purchase-item-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>
            <h2>Elenco vendite</h2>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT-->
        <div class="content mb-48">
            <aig-purchase-item-list-table [dataSource]="purchaseItemDTOs" [displayColumns]="purchaseItemDC" [error]= "purchaseItemError" ></aig-purchase-item-list-table>

            <mat-paginator #paginator [length]="purchaseItemLength" [pageIndex]="this.purchaseItemFilters.page" [pageSize]="this.purchaseItemPaginationSize" 
                [pageSizeOptions]="[10,30,50]" (page)="purchaseItemPaginationEvent($event)"></mat-paginator>
        </div>

        
        <button mat-fab class="accent" id="add-purchase-item-button" (click)="newPurchaseItem()" aria-label="add purchase item">
            <mat-icon>add</mat-icon>
        </button>
        
        
    
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>