:host {

    #eopoo-detail {

        .content {

            #eopoo-details-container {
                min-width: 600px;
            }

            .form-errors-model {
                flex: 1;

                code {
                    background: none !important;
                }
            }

            .horizontal-stepper-wrapper,
            .vertical-stepper-wrapper {
                max-width: 800px;
            }
        }
    }
}