<div id="aig-city-detail-page" class="page-layout blank">
    <aig-standard-header [sectionName]="tipoRitenuta.value" [search]="false"></aig-standard-header>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
               

               <entity-detail-tipo-ritenuta [tipoRitenuta]="tipoRitenuta"></entity-detail-tipo-ritenuta>

                <button mat-stroked-button color="primary" (click)="editTipoRitenuta(tipoRitenuta)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteTipoRitenuta(tipoRitenuta.id)">Delete </button>
            </div>
        </div>
    </div>
</div>