<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <span *ngIf="error.status == 401">No access to this info</span>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <button class="m-4" mat-raised-button (click)="exporter.exportTable('csv')">CSV</button>
    <button class="m-4"mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'graduatoria', sheet: 'graduatoria', Props: {Author: 'ApiGest'}})">Excel</button>

    <mat-table #table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter" matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef> Cognome </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.familyUnit.surname }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.familyUnit.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cf">
            <mat-header-cell *matHeaderCellDef> Codice Fiscale </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.familyUnit.taxId }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="familyTotal">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nucleo Familiare </mat-header-cell>
            <mat-cell *matCellDef="let e">
                <span style="text-align: center; width: 100%;">{{ (e.familyUnit.adultNumber + e.familyUnit.childrenNumber) }}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
            <mat-cell *matCellDef="let e">

				<span *ngIf="e.requestTypeId == 1" style="text-align: center; width: 100%;">{{ e.familyUnit.postalCode }}</span>
				<span *ngIf="e.requestTypeId == 2" style="text-align: center; width: 100%;">
					<span *ngIf="e.requestStatusA">A</span>
                    <span *ngIf="e.requestStatusB">B</span>
				</span>

            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Stato </mat-header-cell>
            <mat-cell *matCellDef="let e">
                <span *ngIf="e.note == '1'" style="color: gray;">Da istruire</span>
                <span *ngIf="e.note == '2'" style="color: blue;">In valutazione</span>
                <span *ngIf="e.note == '3'" style="color: green;">Approvata</span>
                <span *ngIf="e.note == '4'" style="color: red;">Non ammissibile</span>
                <span *ngIf="e.note == '5'" style="color: brown;">Duplicata</span>
                <span *ngIf="e.note == '6'" style="color: blueviolet;">Soccorso istruttorio</span>
                <span *ngIf="e.note == '7'" style="color: brown;">Rinunciato</span>
                <span *ngIf="e.note == '8'" style="color: orange;">Integrato</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="instructor">
            <mat-header-cell *matHeaderCellDef>Instructor</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ name(e.familyUnit.note) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="incomeMar">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Reddito Marzo</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.requestStatusBIncomeMar }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Importo</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ aigSolidarityRequestCalculatorService.calculate(e) | currency: 'EUR' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button class="mr-8" mat-stroked-button color="accent"
                    [routerLink]="'/solidarity/request/detail/' + e.id">Details</button>
                <button class="mr-8" mat-stroked-button color="accent"
                    [routerLink]="'/solidarity/request/detail/' + e.id + '/module'">Module</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

</div>