<div class="page-layout simple left-sidebar">
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="partecipation-modality-sidebar" position="left" lockedOpen="gt-md">
        <!-- SIDEBAR CONTENT -->
        <div class="content">
            <div>
                <div class="content py-16" fusePerfectScrollbar>
                    <div class="nav material2">
                        <div class="nav-item" aria-label="inbox">
                            <div fxLayout="row" fxLayoutAlign="center top">
                                <button mat-raised-button (click)="showAllPartecipationModality()">Resetta filtri</button>
                            </div>
                            <form [formGroup]="partecipationModalitySearchFormGroup" (ngSubmit)="partecipationModalitySearchWithFilter()"
                                class="p-8">
                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Id</mat-label>
                                        <input matInput type="number" formControlName="id">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="end top">
                                    <button type="submit" mat-raised-button color="accent">Cerca</button>
                                </div>

                                 <!--<div fxLayout="row" fxLayoutAlign="end top">
                                    <button mat-raised-button (click)="publish()"> Publish </button>
                                </div>
                                -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                (click)="toggleSidebar('partecipation-modality-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>
            <h2>Modalità di Partecipazione</h2>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content mb-48">
           <aig-partecipation-modality-list-table [displayColumns]="partecipationModalityDC" [dataSource]="partecipationModalityDTOs"
                [error]="partecipationModalityError"></aig-partecipation-modality-list-table>

            <mat-paginator #paginator [length]="partecipationModalityLength" [pageIndex]="this.partecipationModalityFilters.page"
                [pageSize]="this.partecipationModalityPaginationSize" [pageSizeOptions]="[10, 20, 50]"
                (page)="partecipationModalityPaginationEvent($event)">
            </mat-paginator>

            <button mat-fab class="accent" id="add-partecipation-modality-button" (click)="newPartecipationModality()"
                aria-label="add partecipation modality">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->

</div>