<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
	<h3>Error!</h3>
	<span *ngIf="error.status == 401">No access to this info</span>

	<button (click)="showError = true">.</button>
	<pre *ngIf="showError">{{ error | json }}</pre>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.amount }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="creditPayment">
            <mat-header-cell *matHeaderCellDef>Credit Payment</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.creditPayment }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="creditPaymentId">
            <mat-header-cell *matHeaderCellDef>Credit Payment Id</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.creditPaymentId }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="paymentMethod">
            <mat-header-cell *matHeaderCellDef>Payment Method</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.paymentMethod.name }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="paymentMethodId">
            <mat-header-cell *matHeaderCellDef>Payment Method Id</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.paymentMethodId }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="purchase">
            <mat-header-cell *matHeaderCellDef>Purchase</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.purchase }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="purchaseId">
            <mat-header-cell *matHeaderCellDef>Purchase Id</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.purchaseId }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="valuePaperPayment">
            <mat-header-cell *matHeaderCellDef>Value Paper Payment</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.valuePaperPayment }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="valuePaperPaymentId">
            <mat-header-cell *matHeaderCellDef>Value Paper Payment Id</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.valuePaperPaymentId }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button class="mr-8" mat-stroked-button color="accent" [routerLink]="'/commerce/payment/detail/' + e.id">Details</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let dataSource; columns: displayColumns;"></mat-row>

    </mat-table>

</div>