<form *ngIf="step.form" [formGroup]="transactionNewUpdateForm" (ngSubmit)="submit()">

	<div fxLayout="row" fxLayoutAlign="start start" *ngIf="!transaction">
        <mat-form-field appearance="outline" fxFlex>
			<mat-label>Data transazione </mat-label>
			<input matInput [matDatepicker]="picker" formControlName="creationDateTime">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			
		</mat-form-field>>
        
    </div>


    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.CREATE' | translate | titlecase }}</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.UPDATE' | translate | titlecase }}</button>
    </div>

</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <h1 *ngIf="!isUpdate">Transazione {{ 'MAIN.CREATION_OK' | translate }}</h1>
    <h1 *ngIf="isUpdate">Transazione {{ 'MAIN.UPDATE_OK' | translate }}</h1>
    
    <hr>

    OK

    <div *ngIf="!isUpdate">
        <br>
        <hr>
        <button *ngIf="!isUpdate" mat-stroked-button color="primary" (click)="newTransaction()">{{ 'MAIN.CREATE_NEW' | translate | titlecase }}</button>
    </div>
</div>