<form *ngIf="step.form" [formGroup]="inventoryCategoryNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'COMMERCE.NAME' | translate | titlecase }}</mat-label>
            <input formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'COMMERCE.PARENT_CATEGORY' | translate | titlecase }}</mat-label>
            <input formControlName="parent" matInput [matAutocomplete]="parentCategoryAutocomplete">
            <mat-autocomplete #parentCategoryAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.inventoryCategoryDisplayFn">
                <mat-option *ngFor="let category of filteredParentCategory | async" [value]="category">{{ category.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.CREATE' | translate | titlecase }}</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.UPDATE' | translate | titlecase }}</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <h1 *ngIf="!isUpdate">{{ 'COMMERCE.INVENTORY_CATEGORY' | translate | titlecase }} {{ 'MAIN.CREATION_OKA' | translate }}</h1>
    <h1 *ngIf="isUpdate">{{ 'COMMERCE.INVENTORY_CATEGORY' | translate | titlecase }} {{ 'MAIN.UPDATE_OKA' | translate }}</h1>
    
    <hr>

    <aig-inventory-category-box-detail [inventoryCategory]="inventoryCategoryResult"></aig-inventory-category-box-detail>

    <div *ngIf="!isUpdate">
        <br>
        <hr>
        <button *ngIf="!isUpdate" mat-stroked-button color="primary" (click)="newInventoryCategory()">{{ 'MAIN.CREATE_NEW' | translate | titlecase }}</button>
    </div>
</div>