<form *ngIf="step.form" [formGroup]="ippLotCategoryNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Lot Category Name</mat-label>
            <input name="name" formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Code</mat-label>
            <input name="code" formControlName="code" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Wiki Code</mat-label>
            <input name="wikiCode" formControlName="wikiCode" matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ ippLotCategoryNewUpdateForm.value | json }}</pre>
    <button *ngIf="!ippLotCategoryNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newIppLotCategory()">Create New</button>
</div>