<form *ngIf="step.form" [formGroup]="roleNewForm" (ngSubmit)="createRole()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Role Name</mat-label>
            <mat-icon matSuffix class="secondary-text">assignment_ind</mat-icon>
            <input name="name" formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Role Code</mat-label>
            <mat-icon matSuffix class="secondary-text">assignment_ind</mat-icon>
            <input name="roleCode" formControlName="roleCode" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ roleDTO | json }}</pre>
</div>