<div id="aig-social-action-detail-page" class="page-layout blank">

    <aig-standard-header [sectionName]="socialAction.name" [search]="false"></aig-standard-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
                <pre>{{ socialAction | json }}</pre>
                <button mat-stroked-button color="primary" (click)="editSocialAction(socialAction)">Edit</button>
            </div>
        </div>
    </div>


</div>