<form *ngIf="step.form" [formGroup]="contextUserNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>User Code</mat-label>
            <input name="userCode" formControlName="userCode" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" *ngIf="tenantContext == null">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Tenant Context</mat-label>
            <input formControlName="tenantContext" matInput required [matAutocomplete]="tenantContextAutocomplete">
            <mat-autocomplete #tenantContextAutocomplete="matAutocomplete" [displayWith]="managementAutocompleteFunctionService.tenantContextDisplayFn">
                <mat-option *ngFor="let tenantContext of filteredTenantContexts| async" [value]="tenantContext">{{ tenantContext.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">Crea</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">Aggiorna</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ contextUserNewUpdateForm.value | json }}</pre>
    <button *ngIf="!contextUserNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newContextUser()">Create New</button>
</div>