<div id="aig-standard-custom" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message">Standard custom page</span>

            </div>

        </div>

        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <mat-tab-group dynamicHeight>

                <mat-tab label="City">

                    <aig-city-list-page></aig-city-list-page>

                </mat-tab>

                <mat-tab label="Social">

                    <aig-social-list-page></aig-social-list-page>

                </mat-tab>

                <mat-tab label="Social action">

                    <aig-social-action-list-page></aig-social-action-list-page>

                </mat-tab>

                <mat-tab label="Cpv">

                    <aig-cpv-list-page></aig-cpv-list-page>

                </mat-tab>

                <mat-tab label="Ipp modality">

                    <aig-ipp-lot-modality-list-page></aig-ipp-lot-modality-list-page>

                </mat-tab>

                <mat-tab label="Ipp procedure">

                    <aig-ipp-procedure-list-page></aig-ipp-procedure-list-page>

                </mat-tab>

                <mat-tab label="Ipp sector">

                    <aig-ipp-sector-list-page></aig-ipp-sector-list-page>

                </mat-tab>

                <mat-tab label="Ipp lot type">

                    <aig-ipp-lot-type-list-page></aig-ipp-lot-type-list-page>

                </mat-tab>

                <mat-tab label="Ipp lot category">

                    <aig-ipp-lot-category-list-page></aig-ipp-lot-category-list-page>

                </mat-tab>

            </mat-tab-group>

        </div>

    </div>

</div>