<div id="aig-standard-custom" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message">Standard custom page</span>

            </div>

        </div>

        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <mat-tab-group dynamicHeight>

                <mat-tab label="City">

                    <aig-city-list-page></aig-city-list-page>

                </mat-tab>

                <mat-tab label="Social">

                    <aig-social-list-page></aig-social-list-page>

                </mat-tab>

                <mat-tab label="Social action">

                    <aig-social-action-list-page></aig-social-action-list-page>

                </mat-tab>

                <mat-tab label="Cpv">

                    <aig-cpv-list-page></aig-cpv-list-page>

                </mat-tab>

                <mat-tab label="Ipp modality">

                    <aig-ipp-lot-modality-list-page></aig-ipp-lot-modality-list-page>

                </mat-tab>

                <mat-tab label="Ipp procedure">

                    <aig-ipp-procedure-list-page></aig-ipp-procedure-list-page>

                </mat-tab>

                <mat-tab label="Ipp sector">

                    <aig-ipp-sector-list-page></aig-ipp-sector-list-page>

                </mat-tab>

                <mat-tab label="Ipp lot type">

                    <aig-ipp-lot-type-list-page></aig-ipp-lot-type-list-page>

                </mat-tab>

                <mat-tab label="Ipp lot category">

                    <aig-ipp-lot-category-list-page></aig-ipp-lot-category-list-page>

                </mat-tab>

                <mat-tab label="Award criterion">

                    <aig-award-criterion-list-page></aig-award-criterion-list-page>

                </mat-tab>

                <mat-tab label="Partecipation type">

                    <aig-partecipation-type-list-page></aig-partecipation-type-list-page>

                </mat-tab>

                <mat-tab label="Procurement status">

                    <aig-procurement-status-list-page></aig-procurement-status-list-page>

                </mat-tab>

                <mat-tab label="Procurement lot status">

                    <aig-procurement-lot-status-list-page></aig-procurement-lot-status-list-page>

                </mat-tab>

                <mat-tab label="Regime fiscale">

                    <aig-regime-fiscale-list-page></aig-regime-fiscale-list-page>

                </mat-tab>

                <mat-tab label="Tipo cassa">

                    <aig-tipo-cassa-list-page></aig-tipo-cassa-list-page>

                </mat-tab>

                <mat-tab label="Natura">

                    <aig-natura-list-page></aig-natura-list-page>

                </mat-tab>

                <mat-tab label="Tipo ritenuta">

                    <aig-tipo-ritenuta-list-page></aig-tipo-ritenuta-list-page>

                </mat-tab>

                <mat-tab label="Tipo cessione prestazione">

                    <aig-tipo-cessione-prestazione-list-page></aig-tipo-cessione-prestazione-list-page>

                </mat-tab>

                <mat-tab label="Tipo sconto maggiorazione">

                    <aig-tipo-sconto-maggiorazione-list-page></aig-tipo-sconto-maggiorazione-list-page>

                </mat-tab>

                <mat-tab label="Esigibilita iva">

                    <aig-esigibilita-iva-list-page></aig-esigibilita-iva-list-page>

                </mat-tab>

                <mat-tab label="Modalita pagamento">

                    <aig-modalita-pagamento-list-page></aig-modalita-pagamento-list-page>

                </mat-tab>

            </mat-tab-group>

        </div>

    </div>

</div>