#aig-standard-custom {

    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
    }

    > .center {

        > .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;
        }

        > .content {
            flex: 1;

            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }

}