<div id="aig-ipp-lot-category-detail-page" class="page-layout blank">
    <aig-standard-header [sectionName]="ippLotCategoryDTO.name" [search]="false"></aig-standard-header>
    
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-ipp-lot-category [ippLotCategoryDTO]="ippLotCategoryDTO"></entity-detail-ipp-lot-category>

               


                <button mat-stroked-button color="primary" (click)="editIppLotCategory(ippLotCategoryDTO)">Edit</button>
                <button mat-stroked-button color="primary"
                (click)="deleteIppLotCategory(ippLotCategory.id)">Delete
            </button>
            </div>
        </div>
    </div>
</div>