        <div class="h1 m-8 ml-16">{{ dati-ordine-acquisto.dati-ordine-acquisto }}</div>
        <div class="h4 ml-16">ID: <b>{{ dati-ordine-acquisto.id }}</b></div>

        <div class="h4 ml-16">riferimentoNumeroLinea: <b>{{ datiOrdineAcquisto.riferimentoNumeroLinea }}</b></div>
        <div class="h4 ml-16">idDocumento: <b>{{ datiOrdineAcquisto.idDocumento }}</b></div>
        <div class="h4 ml-16">data: <b>{{ datiOrdineAcquisto.data }}</b></div>
        <div class="h4 ml-16">numItem: <b>{{ datiOrdineAcquisto.numItem }}</b></div>
        <div class="h4 ml-16">codiceCommessaConvenzione: <b>{{ datiOrdineAcquisto.codiceCommessaConvenzione }}</b></div>
        <div class="h4 ml-16">codiceCUP: <b>{{ datiOrdineAcquisto.codiceCUP }}</b></div>
        <div class="h4 ml-16">codiceCIG: <b>{{ datiOrdineAcquisto.codiceCIG }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">divisa: <b>{{ datiOrdineAcquisto.eopoo.person.divisa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ datiOrdineAcquisto.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiOrdineAcquisto.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoTotaleDocumento: <b>{{ datiOrdineAcquisto.eopoo.person.importoTotaleDocumento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">arrotondamento: <b>{{ datiOrdineAcquisto.eopoo.person.arrotondamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causale: <b>{{ datiOrdineAcquisto.eopoo.person.causale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">art73: <b>{{ datiOrdineAcquisto.eopoo.person.art73 }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoDocumentoCode: <b>{{ datiOrdineAcquisto.eopoo.person.tipoDocumentoCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">bolloVirtuale: <b>{{ datiOrdineAcquisto.eopoo.person.bolloVirtuale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoBollo: <b>{{ datiOrdineAcquisto.eopoo.person.importoBollo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">riferimentoFase: <b>{{ datiOrdineAcquisto.eopoo.person.riferimentoFase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">vettoreEopooCode: <b>{{ datiOrdineAcquisto.eopoo.person.vettoreEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">mezzoTrasporto: <b>{{ datiOrdineAcquisto.eopoo.person.mezzoTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causaleTrasporto: <b>{{ datiOrdineAcquisto.eopoo.person.causaleTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numeroColli: <b>{{ datiOrdineAcquisto.eopoo.person.numeroColli }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">descrizione: <b>{{ datiOrdineAcquisto.eopoo.person.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">unitaMisuraPeso: <b>{{ datiOrdineAcquisto.eopoo.person.unitaMisuraPeso }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoLordo: <b>{{ datiOrdineAcquisto.eopoo.person.pesoLordo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoNetto: <b>{{ datiOrdineAcquisto.eopoo.person.pesoNetto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraRitiro: <b>{{ datiOrdineAcquisto.eopoo.person.dataOraRitiro }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataInizioTrasporto: <b>{{ datiOrdineAcquisto.eopoo.person.dataInizioTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoResa: <b>{{ datiOrdineAcquisto.eopoo.person.tipoResa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraConsegna: <b>{{ datiOrdineAcquisto.eopoo.person.dataOraConsegna }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">indirizzo: <b>{{ datiOrdineAcquisto.eopoo.person.indirizzo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiOrdineAcquisto.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ datiOrdineAcquisto.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiOrdineAcquisto.eopoo.person.numero }}</b></div>

