        <div class="h1 m-8 ml-16">{{ procurement.procurement }}</div>
        <div class="h4 ml-16">ID: <b>{{ procurement.id }}</b></div>

        <div class="h4 ml-16">description: <b>{{ procurement.description }}</b></div>
        <div class="h4 ml-16">code: <b>{{ procurement.code }}</b></div>
        <div class="h4 ml-16">ref: <b>{{ procurement.ref }}</b></div>
        <div class="h4 ml-16">contractorEopooCode: <b>{{ procurement.contractorEopooCode }}</b></div>
        <div class="h4 ml-16">sectorCode: <b>{{ procurement.sectorCode }}</b></div>
        <div class="h4 ml-16">procedureCode: <b>{{ procurement.procedureCode }}</b></div>
        <div class="h4 ml-16">modalityCode: <b>{{ procurement.modalityCode }}</b></div>
        <div class="h4 ml-16">statusCode: <b>{{ procurement.statusCode }}</b></div>





