<div id="aig-social-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="50">

            <div class="fuse-card auto-width p-16">

                <div class="h4 m-8 ml-16 mb-0 secondary-text">Prezzi</div>
                <div class="h1 m-16">{{ priceListDTO.name }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ priceListDTO.id }}</div>
                <div *ngIf="priceListDTO.catalog" class="h4 m-8 ml-16 mb-0 secondary-text">Catalog: {{ priceListDTO.catalog.name }}</div>
                <br>
                <button mat-stroked-button color="primary" (click)="editPriceList(priceListDTO)">Edit</button>
                <button mat-stroked-button color="primary"(click)="deletePriceList(priceListDTO.id)">Delete</button>

            </div>

            <br>

            <div class="fuse-card auto-width p-16">

                <aig-price-list-item-list-table [displayColumns]="priceListItemDC" [dataSource]="priceListItemDTOs"
				    [error]="priceListItemError"></aig-price-list-item-list-table>

            </div>

        </div>

    </div>

</div>