<form *ngIf="step.form" [formGroup]="paymentNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>amount</mat-label>
            <input name="amount" formControlName="amount" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>paymentMethod</mat-label>
            <input name="paymentMethod" formControlName="paymentMethod" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ paymentNewUpdateForm.value | json }}</pre>
    <button *ngIf="!paymentNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newPayment()">Create New</button>
</div>