<div id="aig-social-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="70">

            <div class="fuse-card auto-width p-16">

                <div class="h1 m-8 ml-16 mb-0 secondary-text"><b>Details</b></div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Descrizione: {{procurementLotDTO.description}}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Cig: {{procurementLotDTO.cig}}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Data scadenza: {{procurementLotDTO.offerExpiryDate}}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Importo: {{procurementLotDTO.baseAmount | currency : 'EUR'}}</div>

                <br>

                <button mat-stroked-button color="primary" (click)="editProcurementLot(procurementLotDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteProcurementLot(procurementLotDTO.id)">Delete</button>

            </div>

            <br>

            <div class="fuse-card auto-width p-14">

                <div class="h3 m-8 ml-16 mb-0 secondary-text"><b>Partecipation</b></div>
                <aig-partecipation-list-table [dataSource]="partecipationDTOs" [displayColumns]="partecipationDC"
                [error]="partecipationError"></aig-partecipation-list-table>

            </div>

        </div>

    </div>

</div>