#aig-procurement-lot-detail-page {
    #dossier-list {
        position: relative;
        padding-bottom: 64px !important;
    }
    #partecipation-list {
        position: relative;
        padding-bottom: 64px !important;
    }
}