<div id="aig-application-module-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-application-module [applicationModuleDTO]="applicationModuleDTO"></entity-detail-application-module>

                <button mat-stroked-button color="primary" (click)="editApplicationModule(applicationModuleDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteApplicationModule(applicationModuleDTO.id)">Delete</button>
            </div>
        </div>
    </div>
</div>