<div id="aig-purchase-new-update-form" *ngIf="step.form">
    <form [formGroup]="purchaseNewUpdateForm" (ngSubmit)="submit()">

        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Cliente</mat-label>
                <input matInput required formControlName="buyer" required [matAutocomplete]="buyerAutocomplete">
                <mat-autocomplete #buyerAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.buyerDisplayFn">
                    <mat-option *ngFor="let buyer of filteredBuyer | async" [value]="buyer">{{ buyer.id }}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field>
                <mat-label>Data</mat-label>
                <input formControlName="insertedDateTime" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start start">

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Note</mat-label>
                <input matInput formControlName="statusNote">
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start start">

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount">
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-slide-toggle formControlName="closed">Closed</mat-slide-toggle>
        </div>    


        <div fxLayout="row" fxLayoutAlign="end top">
            <button type="submit" mat-raised-button color="accent">Crea</button>
        </div>
    </form>
</div>
<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ purchaseNewUpdateForm.value | json }}</pre>
    <button *ngIf="!purchaseNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newPurchase()">Create New</button>
</div>