<div class="page-layout simple left-sidebar">
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="warehouse-handling-item-sidebar" position="left" lockedOpen="gt-md">
        <!-- SIDEBAR CONTENT -->
		<div class="content">
			<div>
				<div class="p-16 border-bottom" fxLayout="row" fxLayoutAlign="center top">
					<button mat-raised-button (click)="resetFiltersWarehouseHandlingItem()">{{ 'MAIN.RESET_FILTERS' | translate | titlecase }}</button>
				</div>
				<div class="header pl-16 mt-8" fxLayout="row" fxLayoutAlign="start center">
					<span class="h3">{{ 'MAIN.FILTERS' | translate | titlecase }}</span>
				</div>
				<div class="content" fusePerfectScrollbar>
					<div class="nav material2">
						<div class="nav-item" aria-label="inbox">
							<form [formGroup]="warehouseHandlingItemSearchFormGroup"
								(ngSubmit)="warehouseHandlingItemSearchWithFilter()" class="p-8">

								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Id</mat-label>
										<input matInput type="number" formControlName="id">
									</mat-form-field>
								</div>

								<!--<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Data</mat-label>
										<input formControlName="date" matInput [matDatepicker]="picker">
										<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>

								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Tipo di Movimentazione</mat-label>
										<mat-select formControlName="warehouseHandlingType">
											<mat-option [value]="'LOAD'">LOAD</mat-option>
											<mat-option [value]="'SHIFT'">SHIFT</mat-option>
											<mat-option [value]="'UNLOAD'">UNLOAD</mat-option>
										</mat-select>
									</mat-form-field>
								</div>

								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Magazzino di Carico</mat-label>
										<input formControlName="warehouseToLoad" matInput
											[matAutocomplete]="warehouseToLoadAutocomplete">
										<mat-autocomplete #warehouseToLoadAutocomplete="matAutocomplete"
											[displayWith]="autocompleteDisplayService.warehouseDisplayFn">
											<mat-option *ngFor="let warehouse of filteredWarehouseToLoad | async"
												[value]="warehouse">{{ warehouse.name }}</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>

								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Magazzino di Scarico</mat-label>
										<input formControlName="warehouseToUnload" matInput
											[matAutocomplete]="warehouseToUnloadAutocomplete">
										<mat-autocomplete #warehouseToUnloadAutocomplete="matAutocomplete"
											[displayWith]="autocompleteDisplayService.warehouseDisplayFn">
											<mat-option *ngFor="let warehouse of filteredWarehouseToUnload | async"
												[value]="warehouse">{{ warehouse.name }}</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>

                                <div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Produttore</mat-label>
										<input formControlName="producer" matInput
											[matAutocomplete]="producerAutocomplete">
										<mat-autocomplete #producerAutocomplete="matAutocomplete"
											[displayWith]="autocompleteDisplayService.producerDisplayFn">
											<mat-option *ngFor="let producer of filteredProducer | async"
												[value]="producer">{{ producer.name }}</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>-->

								<div fxLayout="row" fxLayoutAlign="end top">
									<button type="submit" mat-raised-button color="accent">Cerca</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md (click)="toggleSidebar('warehouse-handling-item-sidebar')">
				<mat-icon>menu</mat-icon>
			</button>
            <h2>Movimentazione di Magazzino di un articolo</h2>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content mb-48">
            <aig-warehouse-handling-item-list-table [displayColumns]="warehouseHandlingItemDC" [dataSource]="warehouseHandlingItemDTOs" [error]="warehouseHandlingItemError"></aig-warehouse-handling-item-list-table>

            <mat-paginator #paginator [length]="warehouseHandlingItemLength" [pageIndex]="this.warehouseHandlingItemFilters.page" [pageSize]="this.warehouseHandlingItemPaginationSize" [pageSizeOptions]="[10, 20, 50]" (page)="warehouseHandlingItemPaginationEvent($event)">
            </mat-paginator>

            <button mat-fab class="accent" id="add-warehouse-handling-item-button" (click)="newWarehouseHandlingItem()" aria-label="add warehouse handling item">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->

</div>