<div id="eopoo-new-form">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Tipo Anagrafica</mat-label>
            <mat-select required (selectionChange)="onEopooTypeChange($event.value)">
                <mat-option *ngFor="let eopooType of eopooTypeDTOs" [value]="eopooType">
                    {{ eopooType.name }}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix class="secondary-text">list</mat-icon>
            <mat-error>Seleziona tipo anagrafica!</mat-error>
        </mat-form-field>
    </div>


    
    <div *ngIf="selectedEopooType" [ngSwitch]="selectedEopooType.eopooCategory">
        
        <aig-eopoo-generic-new-update-form *ngSwitchCase="'GENERIC'">GENERIC</aig-eopoo-generic-new-update-form>
        
        <aig-eopoo-person-new-update-form *ngSwitchCase="'PERSON'">PERSON</aig-eopoo-person-new-update-form>

    </div>

</div>