<div id="eopoo-new-form">

    <div *ngIf="!isUpdate" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Tipo Anagrafica</mat-label>
            <mat-select (selectionChange)="onEopooTypeChange($event.value)">
                <mat-option *ngFor="let eopooType of eopooTypeDTOs" [value]="eopooType">
                    {{ eopooType.name }}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix class="secondary-text">list</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="selectedEopooType" [ngSwitch]="selectedEopooType.eopooCategory">

        <!-- <aig-eopoo-generic-new-update-form *ngSwitchCase="'GENERIC'" [eopoo]="eopoo" [eopooType]="selectedEopooType">
        </aig-eopoo-generic-new-update-form> -->

        <!-- <aig-eopoo-person-new-update-form *ngSwitchCase="'PERSON'" [eopoo]="eopoo" [eopooType]="selectedEopooType">
        </aig-eopoo-person-new-update-form> -->

    </div>

</div>