<div [ngSwitch]="view">
    <p *ngSwitchCase="'CARD'">
        card
    </p>
    <p *ngSwitchDefault>
        <!-- <procurement-lot-list-table-prime [ds]="ds"></procurement-lot-list-table-prime> -->
        <p-table 
            styleClass="p-datatable-sm"
            [value]="ds" [loading]="loading"
            [lazy]="true" (onLazyLoad)="lazyLoad($event)"
            
            [resizableColumns]="true"
            [(selection)]="selectedElements" >

            <ng-template pTemplate="header">
                <tr>
                    <th style="width:50px" pResizableColumn ></th>
                    <th style="width:120px" pResizableColumn pSortableColumn="cig">CIG</th>
                    <th style="width:50%"pResizableColumn pSortableColumn="description">Descrizione</th>
                    <th pResizableColumn >Stazione Appaltante</th>
                    <th pResizableColumn >Amount</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e>
                <tr>
                    <td><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
                    <td>{{ e.cig }}</td>
                    <td>{{ e.description }}</td>
                    <td>{{ e.procurement.contractorEopoo | eopooName }}</td>
                    <td>{{ e.amount }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</div>

<gle-paginator 
    [totalRecords]="totalRecords"
    [pageSizeOptions]="[30,50,100,500]"
    [initialSize]="30"
    (paginator)="changePagination($event)"
    ></gle-paginator>