<div class="h4 m-8 ml-16 mb-0 secondary-text">
    ID: {{ preparation.id }}
</div>
<div class="h4 ml-16">Tipo partecipazione: <b>{{ preparation.type.name }}</b></div>
<div class="h4 ml-16">Stato: <b>{{ preparation.status.description }}</b></div>
<div class="h4 ml-16">Sopralluogo: <b>{{ preparation.siteInspection }}</b></div>

<div class="h2 m-8 ml-16 mb-0 secondary-text">{{ 'MAIN.DETAILS' | translate }} proponente</div>
<aig-eopoo-entity-detail [eopooDTO]="preparation.proposerEopoo"></aig-eopoo-entity-detail>