<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <h3>Error!</h3>
    <span *ngIf="error.status == 401">No access to this info</span>

    <button (click)="showError = true">.</button>
    <pre *ngIf="showError">{{ error | json}}</pre>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="seller">
            <mat-header-cell *matHeaderCellDef> Venditore </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.seller.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="eopooCode">
            <mat-header-cell *matHeaderCellDef> Codice Cliente </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.eopooCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="buyer">
            <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.eopoo | eopooName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="bornDate">
            <mat-header-cell *matHeaderCellDef> Data nascita </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.eopoo.person.bornDate | date:'dd/MM/yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="taxid">
            <mat-header-cell *matHeaderCellDef> Codice Fiscale </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.eopoo.taxNumber }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="confirmation">
            <mat-header-cell *matHeaderCellDef> Conferma </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.confirmation }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="statusNote">
            <mat-header-cell *matHeaderCellDef> Stato </mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.statusNote}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="validateButton">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button *ngIf="e.statusNote != '1'" class="mr-8" mat-stroked-button color="accent" [routerLink]="'/commerce/buyer/detail/' + e.id + '/validate'">Validazione</button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button class="mr-8" mat-stroked-button color="accent" [routerLink]="'/commerce/buyer/detail/' + e.id">Details</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let dataSource; columns: displayColumns;"></mat-row>

    </mat-table>

</div>