<div id="aig-award-criterion-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <pre>{{awardCriterionDTO | json}}</pre>
                <button mat-stroked-button color="primary" (click)="editAwardCriterion(awardCriterion)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteAwardCriterion(awardCriterion.id)">Delete</button>
            </div>
        </div>
    </div>
</div>