<div id="aig-award-criterion-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <award-criterion-detail-box [awardCriterion]="awardCriterionDTO"></award-criterion-detail-box>

                <button mat-stroked-button color="primary" (click)="editAwardCriterion(awardCriterionDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteAwardCriterion(awardCriterionDTO.id)">Delete</button>
            </div>
        </div>
    </div>
</div>