<form *ngIf="step.form" [formGroup]="partecipationTypeNewUpdateForm" (ngSubmit)="submit()">

    
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Code</mat-label>
            <input name="code" formControlName="code" matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>WikiCode</mat-label>
            <input name="wikiCode" formControlName="wikiCode" matInput >
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nome</mat-label>
            <input name="name" formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex=50% class="pl-4">
            <mat-label>Data attivazione</mat-label>
            <input formControlName="activationDate" matInput [matDatepicker]="activationDataPicker">
            <mat-datepicker-toggle matSuffix [for]="activationDataPicker"></mat-datepicker-toggle>
            <mat-datepicker #activationDataPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex=50% class="pl-4">
            <mat-label>Data Di scadenza</mat-label>
            <input formControlName="expirationDate" matInput [matDatepicker]="picker" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
       
    </div>
    
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Descrizione</mat-label>
            <input name="description" formControlName="description" matInput >
        </mat-form-field>
       
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">Crea</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">Aggiorna</button>
    </div>

</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <h1 *ngIf="!isUpdate">Creazione avvenuta con successo</h1>
    <h1 *ngIf="isUpdate">Aggiornamento avvenuto con successo</h1>

    <hr>

    <partecipation-type-detail-box [partecipationType]="partecipationTypeResult"></partecipation-type-detail-box>

    <div *ngIf="!isUpdate">
        <br>
        <hr>
        <button *ngIf="!isUpdate" mat-stroked-button color="primary" (click)="newPartecipationType()">Crea nuovo</button>
    </div>
</div>