<div class="h1 m-8 ml-16">{{ buyer.eopoo | eopooName }}</div>
<div class="h4 ml-16">{{ 'COMMERCE.CONFIRMATION' | translate | titlecase }}: 
    <span *ngIf="buyer.confirmation"><b>{{ 'COMMERCE.YES' | translate }}</b></span>
    <span *ngIf="!buyer.confirmation"><b>{{ 'COMMERCE.NO' | translate }}</b></span>
</div>
<div class="h4 ml-16">{{ 'COMMERCE.STATUS_NOTE' | translate | titlecase }}: <b>{{ buyer.statusNote }}</b></div>
<div class="h4 ml-16">{{ 'COMMERCE.SELLER' | translate | titlecase }}: <b>{{ buyer.seller.name }}</b></div>