#aig-procurement-detail-page {
    #dossier-list {
        position: relative;
        padding-bottom: 64px !important;
    }
    #procurement-list {
        position: relative;
        padding-bottom: 64px !important;
    }
}