<div id="aig-procurement-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="70">

            <div class="fuse-card auto-width p-16">

                <div class="h1 m-8 ml-16 mb-0 secondary-text"><b>Details</b></div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Descrizione: {{procurementDTO.description}}</div>

                <br>

                <button mat-stroked-button color="primary" (click)="editProcurement(procurementDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteProcurement(procurementDTO)">Delete</button>

            </div>

            <br>

            <div class="fuse-card auto-width p-14">

                <div class="h3 m-8 ml-16 mb-0 secondary-text"><b>Procurement lot</b></div>
                <aig-procurement-lot-list-table [dataSource]="procurementLotDTOs" [displayColumns]="procurementLotDC"
                    [error]="procurementLotError">
                </aig-procurement-lot-list-table>

                <button mat-fab class="accent" id="add-procurement-lot-button" (click)="newProcurementLot(procurementDTO)"
                    aria-label="add procurement lot">
                    <mat-icon>add</mat-icon>
                </button>

            </div>

        </div>

    </div>

</div>