<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="data.tenantContext.id" class="title dialog-title">Update Tenant Context </span>
            <span *ngIf="!data.tenantContext.id" class="title dialog-title">Create New Tenant Context </span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
       <aig-tenant-context-new-update-form [tenantContext]="data.tenantContext" ></aig-tenant-context-new-update-form>
    </div>
</div>