<mat-horizontal-stepper linear #stepper *ngIf="step.form">

    <mat-step [completed]="purchaseIsCompleted">
        <ng-template matStepLabel>Crea acquisto</ng-template>

        <aig-purchase-new-update-form [returnToParent]="true" (purchaseOutput)="purchaseOutput($event)"></aig-purchase-new-update-form>

        <div fxLayout="row" fxLayoutAlign="end top">
            <button *ngIf="purchaseIsCompleted" mat-button mat-raised-button color="primary" matStepperNext>Avanti</button>
		</div>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Movimentazione di magazzino</ng-template>

        <form [formGroup]="askWarehouseCreationFormGroup">
            <div>
                <h3>Questo acquisto genera movimentazione di magazzino?</h3>
                <mat-radio-group aria-label="Select an option" formControlName="create" required>
                    <div><mat-radio-button class="warehouseQuestionRadio" value="1">SI</mat-radio-button></div>
                    <div><mat-radio-button class="warehouseQuestionRadio" value="0">NO</mat-radio-button></div>
                </mat-radio-group>
            </div>
        </form>

        <aig-warehouse-handling-new-update-form [returnToParent]="true" (wareHouseHandlingOutput)="warehouseHandlingOutput($event)"></aig-warehouse-handling-new-update-form>

        <div fxLayout="row" fxLayoutAlign="end top">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button color="primary" matStepperNext>Avanti</button>
		</div>
    </mat-step>
    

    <mat-step>
        <ng-template matStepLabel>Aggiungi elementi all'acquisto</ng-template>

        <aig-purchase-item-list-table
            [dataSource]="purchaseItemList"
            [displayColumns]="['inventoryItemCombination', 'quantity', 'price', 'tax']">
        </aig-purchase-item-list-table>

        <aig-purchase-item-new-update-form 
            *ngIf="purchase" [purchase]="purchase"
            [returnToParent]="true" (purchaseItemOutput)="addPurchaseItem($event)"
            [continueInsertion]="true">
        </aig-purchase-item-new-update-form>

        <div fxLayout="row" fxLayoutAlign="end top">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button color="primary" matStepperNext>Avanti</button>
		</div>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Completamento</ng-template>

        <button mat-button mat-raised-button color="primary" (click)="insertComplexPurchase()">Conferma</button>

        <div fxLayout="row" fxLayoutAlign="end top">
            <button mat-button matStepperPrevious>Back</button>
		</div>
    </mat-step>

</mat-horizontal-stepper>


<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    info
    <!--
    <pre>{{ purchaseNewUpdateForm.value | json }}</pre>
    <button *ngIf="!purchaseNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newPurchase()">Create New</button>
    -->
</div>

