<div class="page-layout simple left-sidebar">
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="procurement-lot-filter-sidebar" position="left" lockedOpen="gt-md">
        <!-- SIDEBAR CONTENT -->
        <div class="content">
            <div>
                <div class="header p-16 border-bottom" fxLayout="row" fxLayoutAlign="center start">
                    <button mat-raised-button (click)="showAll()">{{ 'MAIN.RESET_FILTERS' | translate | titlecase }}</button>
                </div>
                <div class="header pl-16 mt-8" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h3">{{ 'MAIN.FILTERS' | translate }}</span>
                </div>
                <div class="content" fusePerfectScrollbar>
                    <div class="nav material2">
                        <form [formGroup]="procurementLotSearchFormGroup" (ngSubmit)="search()" class="p-8">
                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Cig</mat-label>
                                    <input matInput type="string" formControlName="cig">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Descrizione</mat-label>
                                    <input matInput type="string" formControlName="description">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Date</mat-label>
                                    <input matInput [matDatepicker]="picker" placeholder="Seleziona la data"
                                        formControlName="offerExpiryDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Anagrafica</mat-label>
                                    <input formControlName="contractorEopoo" matInput
                                        [matAutocomplete]="contractorEopooAutocomplete">
                                    <mat-autocomplete #contractorEopooAutocomplete="matAutocomplete"
                                        [displayWith]="genericAutocompleteDisplayService.eopooDisplayFn">
                                        <mat-option
                                            *ngFor="let eopoo of filteredEopoo | async"
                                            [value]="eopoo">{{ eopoo | eopooName }}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Criterio di aggiudicazione</mat-label>
                                    <input formControlName="awardCriterion" matInput
                                        [matAutocomplete]="awardCriterionAutocomplete">
                                    <mat-autocomplete #awardCriterionAutocomplete="matAutocomplete"
                                        [displayWith]="standardAutocompleteDisplayService.ippLotAwardCriterionDisplayFn">
                                        <mat-option
                                            *ngFor="let awardCriterion of filteredAwardCriterion | async"
                                            [value]="awardCriterion">{{ awardCriterion.name }}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Categoria</mat-label>
                                    <input formControlName="category" matInput
                                        [matAutocomplete]="categoryAutocomplete">
                                    <mat-autocomplete #categoryAutocomplete="matAutocomplete"
                                        [displayWith]="standardAutocompleteDisplayService.ippLotCategoryDisplayFn">
                                        <mat-option
                                            *ngFor="let category of filteredIppLotCategory | async"
                                            [value]="category">{{ category.name }}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Tipo</mat-label>
                                    <input formControlName="type" matInput
                                        [matAutocomplete]="typeAutocomplete">
                                    <mat-autocomplete #typeAutocomplete="matAutocomplete"
                                        [displayWith]="standardAutocompleteDisplayService.ippLotTypeDisplayFn">
                                        <mat-option
                                            *ngFor="let type of filteredIppLotType | async"
                                            [value]="type">{{ type.name }}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>


                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Modalità</mat-label>
                                    <input formControlName="ippModality" matInput
                                        [matAutocomplete]="ippModalityAutocomplete">
                                    <mat-autocomplete #ippModalityAutocomplete="matAutocomplete"
                                        [displayWith]="standardAutocompleteDisplayService.ippModalityDisplayFn">
                                        <mat-option
                                            *ngFor="let ippModality of filteredIppModality | async"
                                            [value]="ippModality">{{ippModality.name}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Procedura</mat-label>
                                    <input formControlName="ippProcedure" matInput
                                        [matAutocomplete]="ippProcedureAutocomplete">
                                    <mat-autocomplete #ippProcedureAutocomplete="matAutocomplete"
                                        [displayWith]="standardAutocompleteDisplayService.ippProcedureDisplayFn">
                                        <mat-option
                                            *ngFor="let ippProcedure of filteredIppProcedure | async"
                                            [value]="ippProcedure">{{ippProcedure.name}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>


                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Settore</mat-label>
                                    <input formControlName="ippSector" matInput
                                        [matAutocomplete]="ippSectorAutocomplete">
                                    <mat-autocomplete #ippSectorAutocomplete="matAutocomplete"
                                        [displayWith]="standardAutocompleteDisplayService.ippSectorDisplayFn">
                                        <mat-option
                                            *ngFor="let ippSector of filteredIppSector | async"
                                            [value]="ippSector">{{ippSector.name}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" class="mt-24" fxLayoutAlign="end top">
                                <button type="submit" mat-raised-button color="accent">{{ 'MAIN.SEARCH' | translate | titlecase }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                (click)="toggleSidebar('procurement-lot-filter-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>
            <h2>{{ 'IPP.PROCUREMENT_LOTS' | translate | titlecase }}</h2>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content mb-48">
            <gle-ipp-procurement-lot-list-loader
                [filters]="searchFilters"
                ></gle-ipp-procurement-lot-list-loader>
            

            <button mat-fab class="accent" id="add-procurement-lot-button" (click)="newProcurementLot()"
                aria-label="add procurement lot">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>