        <div class="h1 m-8 ml-16">{{ dati-cassa-previdenziale.dati-cassa-previdenziale }}</div>
        <div class="h4 ml-16">ID: <b>{{ dati-cassa-previdenziale.id }}</b></div>

        <div class="h4 ml-16">alCassa: <b>{{ datiCassaPrevidenziale.alCassa }}</b></div>
        <div class="h4 ml-16">importoContributo: <b>{{ datiCassaPrevidenziale.importoContributo }}</b></div>
        <div class="h4 ml-16">imponibileCassa: <b>{{ datiCassaPrevidenziale.imponibileCassa }}</b></div>
        <div class="h4 ml-16">tipoCassaCode: <b>{{ datiCassaPrevidenziale.tipoCassaCode }}</b></div>
        <div class="h4 ml-16">aliquotaIVA: <b>{{ datiCassaPrevidenziale.aliquotaIVA }}</b></div>
        <div class="h4 ml-16">naturaCode: <b>{{ datiCassaPrevidenziale.naturaCode }}</b></div>
        <div class="h4 ml-16">ritenuta: <b>{{ datiCassaPrevidenziale.ritenuta }}</b></div>
        <div class="h4 ml-16">riferimentoAmministrativo: <b>{{ datiCassaPrevidenziale.riferimentoAmministrativo }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">divisa: <b>{{ datiCassaPrevidenziale.eopoo.person.divisa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ datiCassaPrevidenziale.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiCassaPrevidenziale.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoTotaleDocumento: <b>{{ datiCassaPrevidenziale.eopoo.person.importoTotaleDocumento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">arrotondamento: <b>{{ datiCassaPrevidenziale.eopoo.person.arrotondamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causale: <b>{{ datiCassaPrevidenziale.eopoo.person.causale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">art73: <b>{{ datiCassaPrevidenziale.eopoo.person.art73 }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoDocumentoCode: <b>{{ datiCassaPrevidenziale.eopoo.person.tipoDocumentoCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">bolloVirtuale: <b>{{ datiCassaPrevidenziale.eopoo.person.bolloVirtuale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoBollo: <b>{{ datiCassaPrevidenziale.eopoo.person.importoBollo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">riferimentoFase: <b>{{ datiCassaPrevidenziale.eopoo.person.riferimentoFase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">vettoreEopooCode: <b>{{ datiCassaPrevidenziale.eopoo.person.vettoreEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">mezzoTrasporto: <b>{{ datiCassaPrevidenziale.eopoo.person.mezzoTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causaleTrasporto: <b>{{ datiCassaPrevidenziale.eopoo.person.causaleTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numeroColli: <b>{{ datiCassaPrevidenziale.eopoo.person.numeroColli }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">descrizione: <b>{{ datiCassaPrevidenziale.eopoo.person.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">unitaMisuraPeso: <b>{{ datiCassaPrevidenziale.eopoo.person.unitaMisuraPeso }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoLordo: <b>{{ datiCassaPrevidenziale.eopoo.person.pesoLordo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoNetto: <b>{{ datiCassaPrevidenziale.eopoo.person.pesoNetto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraRitiro: <b>{{ datiCassaPrevidenziale.eopoo.person.dataOraRitiro }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataInizioTrasporto: <b>{{ datiCassaPrevidenziale.eopoo.person.dataInizioTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoResa: <b>{{ datiCassaPrevidenziale.eopoo.person.tipoResa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraConsegna: <b>{{ datiCassaPrevidenziale.eopoo.person.dataOraConsegna }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">indirizzo: <b>{{ datiCassaPrevidenziale.eopoo.person.indirizzo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiCassaPrevidenziale.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ datiCassaPrevidenziale.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiCassaPrevidenziale.eopoo.person.numero }}</b></div>

