<div class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="40">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Cliente</div>
                <div class="h1 m-16">{{ buyer.eopoo | eopooName }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ buyer.id }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Codice Anagrafica: {{ buyer.eopooCode }}</div>
                <div class="h4 m-8 ml-16">Stato: {{ buyer.statusNote | AigC6eGenericStatus }}</div>
            </div>
            <div class="fuse-card auto-width p-16 mt-16">
                <div *ngIf="!loadingBuyerValidationImage">
                    <div *ngIf="buyer.statusNote != 1">
                        <button mat-stroked-button color="primary" *ngIf="!buyerValidationImageUrl" (click)="showDocument()">Mostra documento</button>
                        <div *ngIf="buyerValidationImageUrl">
                            <img [src]="buyerValidationImageUrl" alt="buyerValidationImageUrl" />
                        </div>
                    </div>
                    <div *ngIf="buyer.statusNote == 1 || buyer.statusNote == 4">
                        <input  mat-stroked-button color="primary" type="file" (change)="buyerValidationSelectedImage($event)" />
                        <button mat-stroked-button color="primary" *ngIf="buyerValidationImageFile" (click)="uploadDocument()">Carica documento</button>
                    </div>
                </div>

                <div *ngIf="loadingBuyerValidationImage" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                    <mat-spinner></mat-spinner>
                    Caricamento file in corso
                </div>
            </div>
            
        </div>
        <div class="widget p-16" fxFlex.gt-sm="60">
            <div class="fuse-card auto-width p-16">
                <aig-buy-list-table [dataSource]="purchaseDTOs" [displayedColumns]="purchaseDisplayedColumns"
                    [error]="purchaseError">
                </aig-buy-list-table>
            </div>
        </div>
    </div>
</div>