<div id="aig-seller-manager" class="page-layout simple right-sidebar" fxLayout="row">
    <div class="center" fusePerfectScrollbar *ngIf="selectedSeller">
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">
                <span class="mat-display-1 my-0 my-sm-24 welcome-message">Gestore di vendite</span>
            </div>

            <div fxLayout="row" >

                <div class="selected-seller">{{ selectedSeller.name}}</div>
                <button mat-icon-button class="seller-selector" [matMenuTriggerFor]="sellerMenu"
                    aria-label="Select seller">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #sellerMenu="matMenu">
                    <div *ngFor="let sellerDTO of sellerDTOs">
                        <button mat-menu-item (click)="setSeller(sellerDTO)">
                            <span *ngIf="sellerDTO == selectedSeller">-</span>
                            <span>{{ sellerDTO.name }}</span>
                        </button>
                    </div>
                </mat-menu>
            </div>

        </div>
        <div class="content">
            <mat-tab-group dynamicHeight>



                <mat-tab label="Gestione vendite">
                    <aig-purchase-list-page ></aig-purchase-list-page>
                </mat-tab>



                <mat-tab label="Clienti">
                    <aig-buyer-list-page [staticSeller]= "selectedSeller"></aig-buyer-list-page>
                </mat-tab>




            </mat-tab-group>
        </div>
    </div>
</div>