<div id="aig-social-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="50">

            <div class="fuse-card auto-width p-16">

                <div class="h4 m-8 ml-16 mb-0 secondary-text">Categorie inventario</div>
                <div class="h1 m-16">{{ inventoryCategoryDTO.name }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ inventoryCategoryDTO.id }}</div>
                <div *ngIf="inventoryCategoryDTO.inventoryCategoryName" class="h4 m-8 ml-16 mb-0 secondary-text">Parent: {{ inventoryCategoryDTO.inventoryCategoryName }}</div>

                <br>

                <button mat-stroked-button color="primary" (click)="editInventoryCategory(inventoryCategoryDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteInventoryCategory(inventoryCategoryDTO.id)">Delete</button>

            </div>

            <br>

            <div class="fuse-card auto-width p-16">

                <aig-inventory-item-list-table [dataSource]="inventoryItemDTOs" [displayColumns]="inventoryItemDC"
                [error]="inventoryItemError"></aig-inventory-item-list-table>

            </div>
            
        </div>

    </div>
    
</div>


