<div class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget" fxFlex.gt-sm="auto">
            <div class="fuse-card auto-width p-16 m-8">
                <div class="h1 m-8 ml-16 mb-0 secondary-text"> {{ 'MAIN.DETAILS' | translate | titlecase }} {{ 'COMMERCE.INVENTORY_CATEGORY' | translate }}</div>
                <hr>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">
                    ID: {{ inventoryCategoryDTO.id }}
                </div>
                <aig-inventory-category-box-detail [inventoryCategory]="inventoryCategoryDTO"></aig-inventory-category-box-detail>
                <br>
                <div fxLayoutAlign="end">
                    <button class="ml-8" mat-stroked-button color="primary" (click)="editInventoryCategory(inventoryCategoryDTO)">{{ 'MAIN.EDIT' | translate | titlecase }}</button>
                    <button class="ml-8" mat-stroked-button color="warn" (click)="deleteInventoryCategory(inventoryCategoryDTO.id)">{{ 'MAIN.DELETE' | translate | titlecase }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="widget" fxFlex.gt-sm="auto">
        <div class="fuse-card auto-width p-16 m-8 table-with-add-button">
            <div class="h3 m-8 ml-16 mb-0 secondary-text"><b>{{ 'COMMERCE.INVENTORY_ITEMS' | translate | titlecase }}</b></div>
            <aig-inventory-item-list-table [dataSource]="inventoryItemDTOs" [displayColumns]="inventoryItemDC"
                [error]="inventoryItemError"></aig-inventory-item-list-table>

            <button mat-fab class="accent" class="add-button-in-list-table" (click)="addInventoryItem(inventoryCategoryDTO)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

</div>