<div class="page-layout simple left-sidebar">
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="object-reference-sidebar" position="left" lockedOpen="gt-md">
        <!-- SIDEBAR CONTENT -->
        <div class="content">
            <div>
                <div class="content py-16" fusePerfectScrollbar>
                    <div class="nav material2">
                        <div class="nav-item" aria-label="inbox">
                            <div fxLayout="row" fxLayoutAlign="center top">
                                <button mat-raised-button (click)="showAllObjectReference()">Resetta filtri</button>
                            </div>
                            <form [formGroup]="objectReferenceSearchFormGroup" (ngSubmit)="objectReferenceSearchWithFilter()" class="p-8">
                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Id</mat-label>
                                        <input matInput type="number" formControlName="id">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Module Name</mat-label>
                                        <input formControlName="applicationModule" matInput [matAutocomplete]="applicationModuleAutocomplete">
                                        <mat-autocomplete #applicationModuleAutocomplete="matAutocomplete" [displayWith]="managementAutocompleteService.applicationModuleDisplayFn">
                                            <mat-option *ngFor="let applicationModule of filteredApplicationModule | async" [value]="applicationModule">
                                                {{ applicationModule.name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="end top">
                                    <button type="submit" mat-raised-button color="accent">Cerca</button>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="end top">
                                    <button mat-raised-button (click)="publish()"> Publish </button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class= "center">
        <!-- HEADER -->
        <div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md (click)="toggleSidebar('object-reference-sidebar')">
				<mat-icon>menu</mat-icon>
			</button>
            <h2>Object Reference</h2>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content mb-48">

            <aig-object-reference-list-table [displayColumns]="objectReferenceDC" [dataSource]="objectReferenceDTOs" [error]="objectReferenceError"></aig-object-reference-list-table>

            <mat-paginator #paginator [length]="objectReferenceLength" [pageSize]="this.objectReferencePaginationSize" [pageIndex]="this.objectReferenceFilters.page" [pageSizeOptions]="[10, 20, 50]" (page)="objectReferencePaginationEvent($event)">
            </mat-paginator>

            <button mat-fab class="accent" id="add-object-reference-button" (click)="newObjectReference()" aria-label="add object-reference">
   				 <mat-icon>add</mat-icon>
			</button>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>