<form *ngIf="step.form" [formGroup]="partecipationModalityNewUpdateForm" (ngSubmit)="submit()">


    <mat-form-field>
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput required>
    </mat-form-field>
    
    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">Crea</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">Aggiorna</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ partecipationModalityNewUpdateForm.value | json }}</pre>
    <button *ngIf="!partecipationModalityNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newPartecipationModality()">Create New</button>
</div>