<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="data.insurancePolicy == null" class="title dialog-title">Aggiungi polizza</span>
            <span *ngIf="data.insurancePolicy != null" class="title dialog-title">Modifica polizza</span>
            
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <aig-insurance-policy-new-update-form [partecipation]="data.partecipation" [insurancePolicy]="data.insurancePolicy"></aig-insurance-policy-new-update-form>
    </div>
</div>