<div id="aig-social-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="50">

            <div class="fuse-card auto-width p-16">

                <pre>{{ producerDTO | json }}</pre>

                <button mat-stroked-button color="primary" (click)="editProducer(producerDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteProducer(producerDTO.id)">Delete</button>

            </div>

            <br>

            <div class="fuse-card auto-width p-16">

                <div class="h3 m-8 ml-16 mb-0 secondary-text"><b>Inventory items</b></div>
                <aig-inventory-item-list-table [dataSource]="inventoryItemDTOs" [displayColumns]="inventoryItemDC"
                    [error]="inventoryItemError"></aig-inventory-item-list-table>

            </div>

        </div>

    </div>

</div>