        <div class="h1 m-8 ml-16">{{ altri-dati-gestionali.altri-dati-gestionali }}</div>
        <div class="h4 ml-16">ID: <b>{{ altri-dati-gestionali.id }}</b></div>

        <div class="h4 ml-16">tipiDato: <b>{{ altriDatiGestionali.tipiDato }}</b></div>
        <div class="h4 ml-16">riferimentoTesto: <b>{{ altriDatiGestionali.riferimentoTesto }}</b></div>
        <div class="h4 ml-16">riferimentoNumero: <b>{{ altriDatiGestionali.riferimentoNumero }}</b></div>
        <div class="h4 ml-16">riferimentoData: <b>{{ altriDatiGestionali.riferimentoData }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">numeroLinea: <b>{{ altriDatiGestionali.eopoo.person.numeroLinea }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoCessionePrestazioneCode: <b>{{ altriDatiGestionali.eopoo.person.tipoCessionePrestazioneCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">codiceArticoloTipo: <b>{{ altriDatiGestionali.eopoo.person.codiceArticoloTipo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">codiceArticoloValore: <b>{{ altriDatiGestionali.eopoo.person.codiceArticoloValore }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">descrizione: <b>{{ altriDatiGestionali.eopoo.person.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">quantita: <b>{{ altriDatiGestionali.eopoo.person.quantita }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">unitaMisura: <b>{{ altriDatiGestionali.eopoo.person.unitaMisura }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataInizioPeriodo: <b>{{ altriDatiGestionali.eopoo.person.dataInizioPeriodo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataFinePeriodo: <b>{{ altriDatiGestionali.eopoo.person.dataFinePeriodo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">prezzoUnitario: <b>{{ altriDatiGestionali.eopoo.person.prezzoUnitario }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">prezzoTotale: <b>{{ altriDatiGestionali.eopoo.person.prezzoTotale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">aliquotaIVA: <b>{{ altriDatiGestionali.eopoo.person.aliquotaIVA }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">ritenuta: <b>{{ altriDatiGestionali.eopoo.person.ritenuta }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">naturaCode: <b>{{ altriDatiGestionali.eopoo.person.naturaCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">riferimentoAmministrazione: <b>{{ altriDatiGestionali.eopoo.person.riferimentoAmministrazione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ altriDatiGestionali.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">divisa: <b>{{ altriDatiGestionali.eopoo.person.divisa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ altriDatiGestionali.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ altriDatiGestionali.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoTotaleDocumento: <b>{{ altriDatiGestionali.eopoo.person.importoTotaleDocumento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">arrotondamento: <b>{{ altriDatiGestionali.eopoo.person.arrotondamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causale: <b>{{ altriDatiGestionali.eopoo.person.causale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">art73: <b>{{ altriDatiGestionali.eopoo.person.art73 }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoDocumentoCode: <b>{{ altriDatiGestionali.eopoo.person.tipoDocumentoCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">bolloVirtuale: <b>{{ altriDatiGestionali.eopoo.person.bolloVirtuale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoBollo: <b>{{ altriDatiGestionali.eopoo.person.importoBollo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">riferimentoFase: <b>{{ altriDatiGestionali.eopoo.person.riferimentoFase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">vettoreEopooCode: <b>{{ altriDatiGestionali.eopoo.person.vettoreEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">mezzoTrasporto: <b>{{ altriDatiGestionali.eopoo.person.mezzoTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causaleTrasporto: <b>{{ altriDatiGestionali.eopoo.person.causaleTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numeroColli: <b>{{ altriDatiGestionali.eopoo.person.numeroColli }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">descrizione: <b>{{ altriDatiGestionali.eopoo.person.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">unitaMisuraPeso: <b>{{ altriDatiGestionali.eopoo.person.unitaMisuraPeso }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoLordo: <b>{{ altriDatiGestionali.eopoo.person.pesoLordo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoNetto: <b>{{ altriDatiGestionali.eopoo.person.pesoNetto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraRitiro: <b>{{ altriDatiGestionali.eopoo.person.dataOraRitiro }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataInizioTrasporto: <b>{{ altriDatiGestionali.eopoo.person.dataInizioTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoResa: <b>{{ altriDatiGestionali.eopoo.person.tipoResa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraConsegna: <b>{{ altriDatiGestionali.eopoo.person.dataOraConsegna }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">indirizzo: <b>{{ altriDatiGestionali.eopoo.person.indirizzo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ altriDatiGestionali.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ altriDatiGestionali.eopoo.person.data }}</b></div>

