<form *ngIf="step.form" [formGroup]="inventoryItemCombinationNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>ID</mat-label>
            <input formControlName="id" matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nome</mat-label>
            <input formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!inventoryItemCombination.id" type="submit" mat-raised-button color="accent">Crea</button>
        <button *ngIf="inventoryItemCombination.id" type="submit" mat-raised-button color="accent">Aggiorna</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ inventoryItemCombinationNewUpdateForm.value | json }}</pre>
    <button *ngIf="!inventoryItemCombinationNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newInventoryItemCombination()">Crea nuova</button>
</div>