<form *ngIf="step.form" [formGroup]="inventoryItemCombinationNewUpdateForm" (ngSubmit)="submit()">

	<div *ngIf="!inventoryItemCombination.inventoryItem && !inventoryItem" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'COMMERCE.INVENTORY_ITEM' | translate | titlecase }}</mat-label>
            <input formControlName="inventoryItem" matInput required [matAutocomplete]="inventoryItemAutocomplete">
            <mat-autocomplete #inventoryItemAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.inventoryItemDisplayFn">
                <mat-option *ngFor="let inventoryItem of filteredInventoryItems | async" [value]="inventoryItem">{{ inventoryItem.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'COMMERCE.NAME' | translate | titlecase }}</mat-label>
            <input formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'COMMERCE.COMBINATION_CODE' | translate | titlecase }}</mat-label>
            <input formControlName="combinationCode" matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.CREATE' | translate | titlecase }}</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.UPDATE' | translate | titlecase }}</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <h1 *ngIf="!isUpdate">{{ 'COMMERCE.INVENTORY_ITEM_COMBINATION' | translate | titlecase }} {{ 'MAIN.CREATION_OKA' | translate }}
    </h1>
    <h1 *ngIf="isUpdate">{{ 'COMMERCE.INVENTORY_ITEM_COMBINATION' | translate | titlecase }} {{ 'MAIN.UPDATE_OKA' | translate }}</h1>

    <hr>

    <aig-inventory-item-combination-box-detail [inventoryItemCombination]="inventoryItemCombinationResult"></aig-inventory-item-combination-box-detail>

    <div *ngIf="!isUpdate">
        <br>
        <hr>
        <button *ngIf="!isUpdate" mat-stroked-button color="primary" (click)="newInventoryItemCombination()">{{ 'MAIN.CREATE_NEWA' | translate | titlecase }}</button>
    </div>
</div>