<form *ngIf="step.form" [formGroup]="priceListNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'COMMERCE.NAME' | translate | titlecase }}</mat-label>
            <input formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div *ngIf="!catalog" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'COMMERCE.CATALOG' | translate | titlecase }}</mat-label>
            <input formControlName="catalog" matInput [matAutocomplete]="catalogAutocomplete" required >
            <mat-autocomplete #catalogAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.catalogDisplayFn">
                <mat-option *ngFor="let catalog of filteredCatalog | async" [value]="catalog">{{ catalog.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.CREATE' | translate | titlecase }}</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.UPDATE' | translate | titlecase }}</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ priceListNewUpdateForm.value | json }}</pre>
    <button *ngIf="!priceListNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newPriceList()">{{ 'MAIN.CREATE_NEW' | translate | titlecase }}</button>
</div>