<form *ngIf="step.form" [formGroup]="preparationModalityNewUpdateForm" (ngSubmit)="submit()">

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput required>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">Crea</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">Aggiorna</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ preparationModalityNewUpdateForm.value | json }}</pre>
    <button *ngIf="!preparationModalityNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newPreparationModality()">Create New</button>
</div>