<table id="rows">
	<tr>
		<td>Rows: {{ pagination.first }} - </td>
		<td>
			<select [ngModel]="initialSize" (ngModelChange)="selectSize($event)">
				<option *ngFor="let pageSizeOption of pageSizeOptions">{{ pageSizeOption }}</option>
			</select>
		</td>
		<td>of {{ totalRecords }}</td>
	</tr>
</table>

<table id="pages">
	<tr>
		<td>Page: </td>
		<td>
			<form [formGroup]="selectPageForm" (ngSubmit)="selectPageFormSubmit()">
				<input type="text" formControlName="page" required>    
			</form>
		</td>
		<td>of {{ pages | number: '1.0-0' }}</td>
	</tr>
</table>

