<form *ngIf="step.form" [formGroup]="roleNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Name</mat-label>
            <input name="name" formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Role Code</mat-label>
            <input name="roleCode" formControlName="roleCode" matInput required>
        </mat-form-field>
    </div>

    <div *ngIf="!role.permission" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Permission</mat-label>
            <input FormControlName="permission" matInput required [matAutocomplete]="permissionAutocomplete">
            <mat-autocomplete #permissionAutocomplete="matAutocomplete" [displayWith]="managementAutocompleteFunctionService.permissionDisplayFn">
                <mat-option *ngFor="let permission of filteredPermissions| async" [value]="permission">{{ permission.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!role.id" type="submit" mat-raised-button color="accent">Crea</button>
        <button *ngIf="role.id" type="submit" mat-raised-button color="accent">Aggiorna</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ roleNewUpdateForm.value | json }}</pre>
    <button *ngIf="!roleNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newRole()">Create New</button>
</div>