<div id="aig-city-detail-page" class="page-layout blank">
    <aig-standard-header [sectionName]="city.name" [search]="false"></aig-standard-header>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
               

               <entity-detail-city [city]="city"></entity-detail-city>

                <button mat-stroked-button color="primary" (click)="editCity(city)">Edit</button>
                <button mat-stroked-button color="primary"
                    (click)="deleteCity(cityDTO.id)">Delete
                </button>
            </div>
        </div>
    </div>
</div>