#home {
  width: 100%;
  background: url("/assets/images/backgrounds/dark-material-bg.jpg") no-repeat;
  background-size: cover;

  #home-wrapper {
    flex: 1 0 auto;
    padding: 32px;


    #home-wrapper-container {
      max-width: 480px;
      padding: 48px;
      text-align: center;
      background: #fff;

      .logo {
        margin: 0 auto 32px auto;
      }

      .title {
        font-size: 20px;
        margin-top: 16px;
      }

      .subtitle {
        margin: 16px auto;
        max-width: 300px;
        font-size: 15px;
      }

      .message {
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
      }
    }
  }
}
