<div [ngSwitch]="view">
    <p *ngSwitchCase="'CARD'">
        card
    </p>
    <p *ngSwitchDefault>
        <!-- <partecipation-list-table-prime [ds]="ds"></partecipation-list-table-prime> -->
        <p-table 
            styleClass="p-datatable-lg"
            [value]="ds" [loading]="loading"
            [lazy]="true" (onLazyLoad)="lazyLoad($event)"
            
            [resizableColumns]="true"
            [(selection)]="selectedElements" >

            <ng-template pTemplate="header">
                <tr>
					<th *ngSwitchCase="'_ck'" style="width:50px" ></th>
                    <th *ngSwitchCase="'awardCriterionCode'" style="width:auto" pResizableColumn pSortableColumn="proposerEopooCode">azienda proponente</th>
                    <th *ngSwitchCase="'partecipationTypeCode'" style="width:auto" pResizableColumn pSortableColumn="partecipationTypeCode">tipo di partecipazione</th>
                    <th *ngSwitchCase="'siteInspection'" style="width:auto" pResizableColumn pSortableColumn="siteInspection">sopralluogo</th>
                    <th *ngSwitchCase="'offering'"  style="width:auto" pResizableColumn pSortableColumn="offering">offerta</th>
                    <th *ngSwitchCase="'note'" style="width:auto" pResizableColumn pSortableColumn="note">note</th>
                    <th *ngSwitchCase="'creationDateTime'" style="width:auto" pResizableColumn pSortableColumn="creationDateTime">data inserimento</th>


			<th *ngSwitchCase="'description'" style="width:auto" pResizableColumn pSortableColumn= ""> descrizione</th>
			<th *ngSwitchCase="'description'" style="width:auto" pResizableColumn pSortableColumn= ""> descrizione</th>
			<th *ngSwitchCase="'cig'" style="width:auto" pResizableColumn pSortableColumn= ""> cig</th>
			<th *ngSwitchCase="'description'" style="width:auto" pResizableColumn pSortableColumn= ""> descrizione</th>
			<th *ngSwitchCase="'offerExpiryDate'"style="width:auto" pResizableColumn pSortableColumn= ""> data di scadenza offerta</th>
			<th *ngSwitchCase="'description'" style="width:auto" pResizableColumn pSortableColumn= ""> importo di base</th>
			<th *ngSwitchCase="'candidacy'" style="width:auto" pResizableColumn pSortableColumn= ""> candidatura</th>
			<th *ngSwitchCase="'securityAmount'" style="width:auto" pResizableColumn pSortableColumn= ""> importo di sicurezza</th>
			<th *ngSwitchCase="'istatCode'" style="width:auto" pResizableColumn pSortableColumn= ""> codice istat</th>
			<th *ngSwitchCase="'nutsCode'" style="width:auto" pResizableColumn pSortableColumn= ""> codice nuts</th>
			<th *ngSwitchCase="'cpvCode'"style="width:auto" pResizableColumn pSortableColumn= ""> cpv</th>
			<th *ngSwitchCase="'typeCode'"style="width:auto" pResizableColumn pSortableColumn= ""> tipo</th>
			<th *ngSwitchCase="'categoryCode'" style="width:auto" pResizableColumn pSortableColumn= ""> categoria</th>
			<th *ngSwitchCase="'awardCriterionCode'" style="width:auto" pResizableColumn pSortableColumn= ""> criterio di aggiudicazione</th>
			<th *ngSwitchCase="'statusCode'"style="width:auto" pResizableColumn pSortableColumn= ""> stato</th>
			<th *ngSwitchCase="'description'" style="width:auto" pResizableColumn pSortableColumn= ""> descrizione</th>
			<th *ngSwitchCase="'code'" style="width:auto" pResizableColumn pSortableColumn= ""> codice</th>
			<th *ngSwitchCase="'ref'" style="width:auto" pResizableColumn pSortableColumn= ""> ref</th>
			<th *ngSwitchCase="'contractorEopooCode'" style="width:auto" pResizableColumn pSortableColumn= ""> stazione appaltante</th>
			<th *ngSwitchCase="'sectorCode'" style="width:auto" pResizableColumn pSortableColumn= ""> settore</th>
			<th *ngSwitchCase="'procedureCode'" style="width:auto" pResizableColumn pSortableColumn= ""> procedura</th>
			<th *ngSwitchCase="'modalityCode'" style="width:auto" pResizableColumn pSortableColumn= ""> modalità</th>
			<th *ngSwitchCase="'statusCode'" style="width:auto" pResizableColumn pSortableColumn= ""> stato</th>

            <th style="width:auto" pResizableColumn pSortableColumn="">buttons</th>    

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e>
                <tr>
                    <td><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
					<td>{{ e.proposerEopooCode }}</td>
					<td>{{ e.partecipationTypeCode }}</td>
					<td>{{ e.siteInspection }}</td>
					<td>{{ e.offering }}</td>
					<td>{{ e.note }}</td>
					<td>{{ e.creationDateTime }}</td>

			<td>{{ e.partecipationStatus.description }}</td>
			<td>{{ e.partecipationModality.description }}</td>
			<td>{{ e.procurementLot.cig }}</td>
			<td>{{ e.procurementLot.description }}</td>
			<td>{{ e.procurementLot.offerExpiryDate }}</td>
			<td>{{ e.procurementLot.baseAmount }}</td>
			<td>{{ e.procurementLot.candidacy }}</td>
			<td>{{ e.procurementLot.securityAmount }}</td>
			<td>{{ e.procurementLot.istatCode }}</td>
			<td>{{ e.procurementLot.nutsCode }}</td>
			<td>{{ e.procurementLot.cpvCode }}</td>
			<td>{{ e.procurementLot.typeCode }}</td>
			<td>{{ e.procurementLot.categoryCode }}</td>
			<td>{{ e.procurementLot.awardCriterionCode }}</td>
			<td>{{ e.procurementLot.statusCode }}</td>
			<td>{{ e.procurement.description }}</td>
			<td>{{ e.procurement.code }}</td>
			<td>{{ e.procurement.ref }}</td>
			<td>{{ e.procurement.contractorEopooCode }}</td>
			<td>{{ e.procurement.sectorCode }}</td>
			<td>{{ e.procurement.procedureCode }}</td>
			<td>{{ e.procurement.modalityCode }}</td>
			<td>{{ e.procurement.statusCode }}</td>
            <td *ngIf="buttons">
                <button *ngFor="let button of buttons" (click)="button.fn(e)" >{{button.name}}</button>
            </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</div>

<agal-paginator 
    [totalRecords]="totalRecords"
    [pageSizeOptions]="[30,50,100,500]"
    [initialSize]="30"
    (paginator)="changePagination($event)"
    ></agal-paginator>