<form *ngIf="step.form" [formGroup]="procurementNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Procurement Name</mat-label>
            <input name="name" formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ procurementNewUpdateForm.value | json }}</pre>
    <button *ngIf="!procurementNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newProcurement()">Create New</button>
</div>