<form *ngIf="step.form" [formGroup]="warehouseHandlingNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="fill">
            <mat-label>Scegli una data</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div>
        <label id="warehouse-handling">Seleziona il tipo di movimentazione</label>
        <mat-radio-group aria-label="warehouse-handling" class="handling-radio-group">
            <mat-radio-button class="handling-radio-button" *ngFor="let warehouseHandling of warehouseHandlings" [value]="warehouseHandling">
                {{warehouseHandling}}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ warehouseNewUpdateForm.value | json }}</pre>
    <button *ngIf="!warehouseHandlingNewUpdateForm.value.id" mat-stroked-button color="primary"
        (click)="newWarehouseHandling()">Create
        New</button>
</div>