.handling-radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.handling-radio-button{
    margin: 5px;
}


.mat-form-field {
    margin-left: 20px;
}

.mat-radio-button{
    margin-left: 20px;
}
  
#add-quantity-inventory-item-combination-form-button{
    background-color: #039be5;
    border-color: #039be5;
    height: 40px;
    margin-left: 50px;
}
