<form *ngIf="step.form" [formGroup]="warehouseHandlingNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="fill">
            <mat-label>Scegli una data</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div>
        <mat-label>Seleziona il tipo di Movimentazione:</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="handlingType">
          <mat-radio-button value="LOAD">LOAD</mat-radio-button>
          <mat-radio-button value="SHIFT">SHIFT</mat-radio-button>
          <mat-radio-button value="UNLOAD">UNLOAD</mat-radio-button>
        </mat-radio-group>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ warehouseNewUpdateForm.value | json }}</pre>
    <button *ngIf="!warehouseHandlingNewUpdateForm.value.id" mat-stroked-button color="primary"
        (click)="newWarehouseHandling()">Create
        New</button>
</div>