<div id="aig-natura-detail-page" class="page-layout blank">
    
    <aig-standard-header [sectionName]="natura.name" [search]="false"></aig-standard-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-natura [natura]="natura"></entity-detail-natura>

                <button mat-stroked-button color="primary" (click)="editNatura(natura)">Edit</button>
                <button mat-stroked-button color="primary"
                    (click)="deleteNatura(naturaDTO.id)">Delete
                </button>
            </div>
        </div>
    </div>
</div>