<form *ngIf="step.form" [formGroup]="procurementLotNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.%]=20>
            <mat-label>Cig</mat-label>
            <input formControlName="cig" matInput required>
        </mat-form-field>
        
    
        <mat-form-field appearance="outline" [style.width.%]=45>
            <mat-label>Procurement Description</mat-label>
            <input formControlName="description" matInput required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Offer Expiry Date</mat-label>
            <input formControlName="offerExpiryDate" matInput [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>
       

    <div fxLayout="row" fxLayoutAlign="start start">
        
        <mat-form-field appearance="outline" [style.width.%]=50>
            <mat-label>Base Amount</mat-label>
            <input type="number" matInput formControlName="baseAmount" required>
        </mat-form-field>
       
   
        <mat-form-field appearance="outline" [style.width.%]=50>
            <mat-label>Security Amount</mat-label>
            <input type="number" matInput formControlName="securityAmount" required>
        </mat-form-field>
    
    </div>
    
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.%]=50>
            <mat-label>Istat Code</mat-label>
            <input formControlName="istatCode" matInput required>
        </mat-form-field>
    

    
        <mat-form-field appearance="outline" [style.width.%]=50>
            <mat-label>Nust Code</mat-label>
            <input formControlName="nustCode" matInput required>
        </mat-form-field>
    </div>
    
        
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.%]=33>
            <mat-label>Procurement ipp Lot Type Code</mat-label>
            <input formControlName="ippLotTypeCode" matInput required>
        </mat-form-field>
    
        <mat-form-field appearance="outline" [style.width.%]=33>
            <mat-label>Procurement ipp Lot Category Code</mat-label>
            <input formControlName="ippLotCategoryCode" matInput required>
        </mat-form-field>
    
        <mat-form-field appearance="outline" [style.width.%]=33>
            <mat-label>Procurement Cpv Code</mat-label>
            <input formControlName="cpvCode" matInput required>
        </mat-form-field>
    </div>


<div fxLayout="row" fxLayoutAlign="end top">
    <button type="submit" mat-raised-button color="accent">Crea</button>
</div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ procurementLotNewUpdateForm.value | json }}</pre>
    <button *ngIf="!procurementLotNewUpdateForm.value.id" mat-stroked-button color="primary"
        (click)="newProcurementLot()">Create New</button>
</div>