<form *ngIf="step.form" [formGroup]="procurementLotNewUpdateForm" (ngSubmit)="submit()">
	
    <div *ngIf="!procurement" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>{{ 'IPP.PROCUREMENT' | translate }}</mat-label>
            <input formControlName="procurement" matInput [matAutocomplete]="procurementAutocomplete" required >
            <mat-autocomplete #procurementAutocomplete="matAutocomplete" [displayWith]="ippAutocompleteDisplayService.procurementDisplayFn">
                <mat-option *ngFor="let procurement of filteredProcurement | async" [value]="procurement">{{ procurement.description }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
         

    <div fxLayout="row" fxLayoutAlign="start start">
        
        <mat-form-field appearance="outline" fxFlex="15">
            <mat-label>{{ 'IPP.LOT_TYPE' | translate }}</mat-label>
            <input formControlName="type" matInput [matAutocomplete]="ippLotTypeAutocomplete" required>
            <mat-autocomplete #ippLotTypeAutocomplete="matAutocomplete" [displayWith]="standardAutocompleteDisplayService.ippLotTypeDisplayFn">
                <mat-option *ngFor="let ippLotType of filteredIppLotType | async" [value]="ippLotType">{{ ippLotType.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

		<div appearance="outline" fxFlex="20" class="pl-4 pt-20">
            <mat-checkbox formControlName="candidacy" (change)="candidacyChecked($event.checked)">Prevede M. di Interesse</mat-checkbox>
        </div>

        <mat-form-field appearance="outline" fxFlex="25" class="pl-4">
            <mat-label>{{ 'IPP.CIG' | translate }}</mat-label>
            <input formControlName="cig" matInput [attr.required]="!procurementLotNewUpdateForm.value.candidacy">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="20" class="pl-4">
            <mat-label>{{ 'IPP.LOT_AMOUNT' | translate }}</mat-label>
            <input type="number" matInput formControlName="baseAmount" required>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="20" class="pl-4">
            <mat-label>{{ 'IPP.OFFER_EXPIRY_DATE' | translate }}</mat-label>
            <input formControlName="offerExpiryDate" matInput [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
    </div>
    
    <div fxLayout="row" fxLayoutAlign="start start">

		<div fxFlex="15" fxLayout="column" class="pt-20" fxLayoutAlign="center center">
			<button mat-raised-button type="button"
				[disabled]="!this.procurementLotNewUpdateForm.value.procurement"
				(click)="descriptionFromProcurement()">
				Copia nome gara
			</button>
        </div>

        <mat-form-field appearance="outline" fxFlex="85" class="pl-4">
            <mat-label>{{ 'IPP.DESCRIPTION' | translate }} {{ 'IPP.PROCUREMENT_LOT' | translate }}</mat-label>
            <input formControlName="description" matInput required>
        </mat-form-field>

    </div>
    
     <div fxLayout="row" fxLayoutAlign="start start">

        <mat-form-field appearance="outline" fxFlex="25">
            <mat-label>{{ 'IPP.LOT_SECURITY_AMOUNT' | translate }}</mat-label>
            <input type="number" matInput formControlName="securityAmount">
        </mat-form-field>
    


        <mat-form-field appearance="outline" fxFlex="25" class="pl-4">
            <mat-label>{{ 'MAIN.STATUS' | translate }}</mat-label>
            <input formControlName="status" matInput [matAutocomplete]="procurementLotStatusAutocomplete" required>
            <mat-autocomplete #procurementLotStatusAutocomplete="matAutocomplete" [displayWith]="standardAutocompleteDisplayService.ippLotCategoryDisplayFn">
                <mat-option *ngFor="let ippLotCategory of filteredProcurementLotStatus | async" [value]="ippLotCategory">{{ ippLotCategory.name}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>


    </div>

	<div fxLayout="row" fxLayoutAlign="start start">

		<mat-form-field appearance="outline" fxFlex="25" class="">
            <mat-label>{{ 'IPP.SECTOR' | translate }}</mat-label>
            <input formControlName="sector" matInput [matAutocomplete]="ippSectorAutocomplete" required>
            <mat-autocomplete #ippSectorAutocomplete="matAutocomplete"
                [displayWith]="standardAutocompleteDisplayService.ippSectorDisplayFn">
                <mat-option *ngFor="let ippSector of filteredIppSector | async" [value]="ippSector">
                    {{ ippSector.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25" class="pl-4">
            <mat-label>{{ 'IPP.PROCEDURE' | translate }}</mat-label>
            <input formControlName="procedure" matInput [matAutocomplete]="ippProcedureAutocomplete" required>
            <mat-autocomplete #ippProcedureAutocomplete="matAutocomplete"
                [displayWith]="standardAutocompleteDisplayService.ippProcedureDisplayFn">
                <mat-option *ngFor="let ippProcedure of filteredIppProcedure | async" [value]="ippProcedure">
                    {{ ippProcedure.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

		<mat-form-field appearance="outline" fxFlex="25" class="pl-4">
            <mat-label>{{ 'IPP.AWARD_CRITERION' | translate }}</mat-label>
            <input formControlName="awardCriterion" matInput [matAutocomplete]="awardCriterionAutocomplete" required>
            <mat-autocomplete #awardCriterionAutocomplete="matAutocomplete" [displayWith]="standardAutocompleteDisplayService.ippLotAwardCriterionDisplayFn">
                <mat-option *ngFor="let awardCriterion of filteredProcurementLotAwardCriterion | async" [value]="awardCriterion">
                    {{ awardCriterion.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25" class="pl-4">
            <mat-label>{{ 'IPP.MODALITY' | translate }}</mat-label>
            <input formControlName="modality" matInput [matAutocomplete]="ippModalityAutocomplete" required>
            <mat-autocomplete #ippModalityAutocomplete="matAutocomplete"
                [displayWith]="standardAutocompleteDisplayService.ippModalityDisplayFn">
                <mat-option *ngFor="let ippModality of filteredIppModality | async" [value]="ippModality">
                    {{ ippModality.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>

    
    <div fxLayout="row" fxLayoutAlign="start start">

		<mat-form-field appearance="outline" fxFlex="25" class="">
            <mat-label>Località lavori</mat-label>
            <input formControlName="workLocation" matInput [matAutocomplete]="workLocationAutocomplete">
            <mat-autocomplete #workLocationAutocomplete="matAutocomplete" [displayWith]="standardAutocompleteDisplayService.cityDisplayFn">
                <mat-option *ngFor="let city of filteredLocality | async" [value]="city">{{ city.name}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25" class="pl-4">
            <mat-label>Codice Istat</mat-label>
            <input formControlName="istatCode" matInput>
        </mat-form-field>
    
        <mat-form-field appearance="outline" fxFlex="25" class="pl-4">
            <mat-label>Nuts Code</mat-label>
            <input formControlName="nutsCode" matInput>
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.CREATE' | translate }}</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.UPDATE' | translate }}</button>
    </div>

</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <h1 *ngIf="!isUpdate && !notSubmit">{{ 'IPP.PROCUREMENT_LOT' | translate }} {{ 'MAIN.CREATION_OK' | translate }}</h1>
    <h1 *ngIf="isUpdate">{{ 'IPP.PROCUREMENT_LOT' | translate }} {{ 'MAIN.UPDATE_OK' | translate }}</h1>
    
    <hr>

    <aig-procurement-lot-detail-box [procurementLot]="procurementLotResult"></aig-procurement-lot-detail-box>

    <div *ngIf="!isUpdate">
        <br>
        <hr>
        <button mat-stroked-button color="primary" (click)="newProcurementLot()">
			<span *ngIf="!notSubmit">{{ 'MAIN.CREATE_NEWA' | translate }}</span>
			<span *ngIf="notSubmit">{{ 'MAIN.EDIT' | translate }}</span>
		</button>
    </div>
</div>