        <div class="h1 m-8 ml-16">{{ dati-contratto.dati-contratto }}</div>
        <div class="h4 ml-16">ID: <b>{{ dati-contratto.id }}</b></div>

        <div class="h4 ml-16">value: <b>{{ datiContratto.value }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">divisa: <b>{{ datiContratto.eopoo.person.divisa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ datiContratto.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiContratto.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoTotaleDocumento: <b>{{ datiContratto.eopoo.person.importoTotaleDocumento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">arrotondamento: <b>{{ datiContratto.eopoo.person.arrotondamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causale: <b>{{ datiContratto.eopoo.person.causale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">art73: <b>{{ datiContratto.eopoo.person.art73 }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoDocumentoCode: <b>{{ datiContratto.eopoo.person.tipoDocumentoCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">bolloVirtuale: <b>{{ datiContratto.eopoo.person.bolloVirtuale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoBollo: <b>{{ datiContratto.eopoo.person.importoBollo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">riferimentoFase: <b>{{ datiContratto.eopoo.person.riferimentoFase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">vettoreEopooCode: <b>{{ datiContratto.eopoo.person.vettoreEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">mezzoTrasporto: <b>{{ datiContratto.eopoo.person.mezzoTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causaleTrasporto: <b>{{ datiContratto.eopoo.person.causaleTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numeroColli: <b>{{ datiContratto.eopoo.person.numeroColli }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">descrizione: <b>{{ datiContratto.eopoo.person.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">unitaMisuraPeso: <b>{{ datiContratto.eopoo.person.unitaMisuraPeso }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoLordo: <b>{{ datiContratto.eopoo.person.pesoLordo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoNetto: <b>{{ datiContratto.eopoo.person.pesoNetto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraRitiro: <b>{{ datiContratto.eopoo.person.dataOraRitiro }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataInizioTrasporto: <b>{{ datiContratto.eopoo.person.dataInizioTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoResa: <b>{{ datiContratto.eopoo.person.tipoResa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraConsegna: <b>{{ datiContratto.eopoo.person.dataOraConsegna }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">indirizzo: <b>{{ datiContratto.eopoo.person.indirizzo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiContratto.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ datiContratto.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiContratto.eopoo.person.numero }}</b></div>

