        <div class="h1 m-8 ml-16">{{ procurement-lot-category.procurement-lot-category }}</div>
        <div class="h4 ml-16">ID: <b>{{ procurement-lot-category.id }}</b></div>

        <div class="h4 ml-16">categoryCode: <b>{{ procurementLotCategory.categoryCode }}</b></div>
        <div class="h4 ml-16">level: <b>{{ procurementLotCategory.level }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">cig: <b>{{ procurementLotCategory.eopoo.person.cig }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">description: <b>{{ procurementLotCategory.eopoo.person.description }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">offerExpiryDate: <b>{{ procurementLotCategory.eopoo.person.offerExpiryDate }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">baseAmount: <b>{{ procurementLotCategory.eopoo.person.baseAmount }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">candidacy: <b>{{ procurementLotCategory.eopoo.person.candidacy }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">securityAmount: <b>{{ procurementLotCategory.eopoo.person.securityAmount }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">istatCode: <b>{{ procurementLotCategory.eopoo.person.istatCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">nutsCode: <b>{{ procurementLotCategory.eopoo.person.nutsCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">cpvCode: <b>{{ procurementLotCategory.eopoo.person.cpvCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">typeCode: <b>{{ procurementLotCategory.eopoo.person.typeCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">awardCriterionCode: <b>{{ procurementLotCategory.eopoo.person.awardCriterionCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">statusCode: <b>{{ procurementLotCategory.eopoo.person.statusCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">description: <b>{{ procurementLotCategory.eopoo.person.description }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">code: <b>{{ procurementLotCategory.eopoo.person.code }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">ref: <b>{{ procurementLotCategory.eopoo.person.ref }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">contractorEopooCode: <b>{{ procurementLotCategory.eopoo.person.contractorEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">sectorCode: <b>{{ procurementLotCategory.eopoo.person.sectorCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">procedureCode: <b>{{ procurementLotCategory.eopoo.person.procedureCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">modalityCode: <b>{{ procurementLotCategory.eopoo.person.modalityCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">statusCode: <b>{{ procurementLotCategory.eopoo.person.statusCode }}</b></div>

