<div class="h4 m-8 ml-16 mb-0 secondary-text">
    ID: {{ procurementLot.id }}
    -
    {{ 'IPP.CIG' | translate }}: {{ procurementLot.cig }}
</div>
<div class="h1 m-8 ml-16">{{ procurementLot.description }}</div>
<div class="h4 ml-16">
    {{ 'IPP.LOT_AMOUNT' | translate }} ({{ 'IPP.LOT_SECURITY_AMOUNT' | translate }}):
    <b>{{ procurementLot.baseAmount | currency: "EUR" }}</b>
    <b *ngIf="procurementLot.securityAmount">({{ procurementLot.securityAmount | currency: "EUR" }})</b>
</div>
<div class="h4 ml-16">
    {{ 'IPP.OFFER_EXPIRY_DATE' | translate }}: <b>{{ procurementLot.offerExpiryDate | date: 'dd/MM/yyyy' }}</b>
</div>
<div class="h4 ml-16" *ngIf="procurementLot.type">{{ 'IPP.LOT_TYPE' | translate }}: <b>{{ procurementLot.type.name }}</b></div>
<div class="h4 ml-16" *ngIf="procurementLot.awardCriterion">{{ 'IPP.AWARD_CRITERION' | translate }}: <b>{{ procurementLot.awardCriterion.name }}</b></div>
<div class="h4 ml-16" *ngIf="procurementLot.status">{{ 'MAIN.STATUS' | translate }}: <b>{{ procurementLot.status.name }}</b></div>