<form *ngIf="step.form" [formGroup]="partecipationNewUpdateForm" (ngSubmit)="submit()">


    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.%]=33>
            <mat-label>Codice tipo di partecipazione</mat-label>
            <input formControlName="partecipationTypeCode" matInput required>
        </mat-form-field>
        

    
        <mat-form-field appearance="outline" fxFlex="33" class="pl-4">
            <mat-label>Anagrafica proposer </mat-label>
            <input formControlName="proposerEopooCode" matInput [matAutocomplete]="proposerEopooCodeAutocomplete">
            <mat-autocomplete #proposerEopooCodeAutocomplete="matAutocomplete" [displayWith]="genericAutocompleteFunctionService.eopooDisplayFn">
                <mat-option *ngFor="let eopoo of filteredEopoo | async" [value]="eopoo">{{ eopoo.name}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

    
        <mat-form-field appearance="outline" fxFlex="33" class="pl-4">
            <mat-label>Procurement Lot Cig </mat-label>
            <input formControlName="procurementLotCig" matInput [matAutocomplete]="procurementLotCigAutocomplete">
            <mat-autocomplete #procurementLotCigAutocomplete="matAutocomplete" [displayWith]="ippAutocompleteDisplayService.procurementLotDisplayFn">
                <mat-option *ngFor="let procurementLot of filteredProcurementLot | async" [value]="procurementLot">{{ procurementLot.cig}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

        
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.%]=50>
            <mat-label>procurementLotId</mat-label>
            <input formControlName="procurementLotId" matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline" [style.width.%]=50>
            <mat-label>statusDescription</mat-label>
            <input formControlName="statusDescription" matInput required>
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.%]=50>
            <mat-label>statusId</mat-label>
            <input formControlName="statusId" matInput required>
        </mat-form-field>
    </div>

            
    <div fxLayout="row" fxLayoutAlign="start start">   
        <mat-slide-toggle formControlName="siteInspection">Site Inspection</mat-slide-toggle>
    </div>
        


   

    
    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ partecipationNewUpdateForm.value | json }}</pre>
    <button *ngIf="!partecipationNewUpdateForm.value.id" mat-stroked-button color="primary"
        (click)="newPartecipation()">Create New</button>
</div>
