<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="data.entityReference == null" class="title dialog-title">Update Entity Reference</span>
            <span *ngIf="!data.entityReference != null" class="title dialog-title">Create New Entity Reference</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
       <aig-entity-reference-new-update-form [entityReference]="data.entityReference" ></aig-entity-reference-new-update-form>
    </div>
</div>