<form *ngIf="step.form" [formGroup]="datiPagamentoNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Condizioni Pagamento</mat-label>
            <input name="condizioniPagamento" formControlName="condizioniPagamento" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Fattura Elettronica</mat-label>
            <input type="number" name="fatturaElettronicaBody" formControlName="fatturaElettronicaBody" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <!--<aig-dettaglio-pagamento-detail [dettaglioPagamento]="dettaglioPagamento"></aig-dettaglio-pagamento-detail>-->
    <pre>{{ datiPagamentoNewUpdateForm.value | json }}</pre>
    <button *ngIf="!datiPagamentoNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newDatiPagamento()">Create New</button>
</div>