<div id="aig-solidarity-request-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">








        <div class="widget p-16" fxFlex.gt-sm="30">
            <div class="fuse-card auto-width p-16">
                <div class="h1 m-16">{{ foodProductRequestDTO.familyUnit.surname }}
                    {{ foodProductRequestDTO.familyUnit.name }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Codice Fiscale:
                    {{ foodProductRequestDTO.familyUnit.taxId }}</div>
                <div class="h4 m-8 ml-16">Email: {{ foodProductRequestDTO.familyUnit.email }}</div>
                <div class="h4 m-8 ml-16">Cell: {{ foodProductRequestDTO.familyUnit.mobile }}</div>
                <div class="h4 m-8 ml-16">Indirizzo: {{ foodProductRequestDTO.familyUnit.address }},
                    {{ foodProductRequestDTO.familyUnit.civicNumber }}</div>
                <hr>
                <div class="h2 m-16">Nucleo Familiare</div>
                <div class="h4 m-8 ml-16">Adulti: {{ foodProductRequestDTO.familyUnit.adultNumber }}</div>
                <div class="h4 m-8 ml-16">Bambini: {{ foodProductRequestDTO.familyUnit.childrenNumber }}</div>


            </div>
        </div>




























        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ foodProductRequestDTO.id }}</div>
                <div class="h4 m-8 ml-16">Data inserimento: {{ foodProductRequestDTO.reportingDate }}</div>
                <div class="h1 m-16">
                    <span>Categoria: {{ foodProductRequestDTO.familyUnit.postalCode }}</span>
                </div>
                <div class="h4 m-8 ml-16"><b>Affitto/Mutuo:</b>
                    <span *ngIf="foodProductRequestDTO.requestStatusA"> SI</span>
                    <span *ngIf="!foodProductRequestDTO.requestStatusA"> NO</span>
                </div>
                <div class="h4 m-8 ml-16"><b>Conto:</b>
                    <span *ngIf="foodProductRequestDTO.familyUnit.telephone == 'A'"> Meno di € 5.000,00</span>
                    <span *ngIf="foodProductRequestDTO.familyUnit.telephone == 'B'"> Tra € 5.000,01 a € 15.000,00</span>
                    <span style="color: red;" *ngIf="foodProductRequestDTO.familyUnit.telephone == 'C'"> Superiore di €
                        15.000,01</span>
                </div>
                <div class="h4 m-8 ml-16">
                    <b>Fatturato 2019:</b>
                    {{ foodProductRequestDTO.requestStatusBIncomeFeb }}
                </div>
                <div class="h4 m-8 ml-16">
                    <b>Reddito Ottobre 2020:</b>
                    {{ foodProductRequestDTO.requestStatusBIncomeMar | currency: 'EUR' }}
                </div>
                <div class="h4 m-8 ml-16">
                    <b>Motivo reddito:</b>
                    {{ foodProductRequestDTO.familyUnit.city }}
                </div>
            </div>

            <div class="fuse-card auto-width mt-8 p-16">
                <table style="width: 100%;">
                    <tr>
                        <th>Richiedente</th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>CF</th>
                        <th>Data nascita</th>
                        <th>Domande</th>
                    </tr>
                    <tr *ngFor="let familyMember of this.family">
                        <td><span *ngIf="isSameOfPerson(familyMember, foodProductRequestDTO)">X</span></td>
                        <td>{{ familyMember.nome }}</td>
                        <td>{{ familyMember.cognome }}</td>
                        <td>{{ familyMember.codice_fiscale_non_validato }}</td>
                        <td>{{ familyMember.data_nascita }}</td>
                        <td [ngClass]="{'domanda-duplicata': moreRequests(familyMember, foodProductRequestDTO)}">
                            {{ familyMember.numero_domande }}</td>
                    </tr>
                </table>
            </div>





        </div>






















        <div class="widget p-16" fxFlex.gt-sm="20">




            <div class="fuse-card auto-width p-16">
                <div class="h1 m-16">
                    Stato:
                    <span *ngIf="foodProductRequestDTO.note == '1'" style="color: gray;">Da istruire</span>
                    <span *ngIf="foodProductRequestDTO.note == '2'" style="color: blue;">In valutazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '3'" style="color: green;">Approvata</span>
                    <span *ngIf="foodProductRequestDTO.note == '4'" style="color: red;">Non ammissibile</span>
                    <span *ngIf="foodProductRequestDTO.note == '5'" style="color: brown;">Duplicata</span>
                    <span *ngIf="foodProductRequestDTO.note == '6'" style="color: blueviolet;">Soccorso
                        istruttorio</span>
                    <span *ngIf="foodProductRequestDTO.note == '7'" style="color: orange;">Integrato</span>
                </div>
                <div class="h4 m-16" *ngIf="foodProductRequestDTO.familyUnit.disabledPeopleNote != null">
                    Motivo:
                    {{ foodProductRequestDTO.familyUnit.disabledPeopleNote }}
                </div>

                <div class="h1 m-16" *ngIf="this.instructor">
                    Istruttore:
                    {{ this.instructor[1] }}
                </div>
            </div>





            <div class="fuse-card auto-width p-16 mt-8" *ngIf="foodProductRequestDTO.note == '1'">
                <div fxLayout="row" fxLayoutAlign="center top">
                    <button mat-stroked-button color="primary" (click)="take(foodProductRequestDTO)">Prendi in
                        carica</button>
                </div>
            </div>


            <div class="fuse-card auto-width p-16 mt-8" *ngIf="foodProductRequestDTO.note == '2'">
                <div *ngIf="checkAssignation(foodProductRequestDTO); else notAssignedToUser">
                    <div fxLayout="row" fxLayoutAlign="center top">
                        <button mat-stroked-button color="primary" (click)="showRejectFrom = true">Rigetta</button>
                        <button mat-stroked-button color="primary"
                            (click)="aprove(foodProductRequestDTO)">Approva</button>
                    </div>
                    <form [formGroup]="rejectForm" (ngSubmit)="reject()" *ngIf="showRejectFrom">
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Tipo rigetto</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option [value]="4">Non ammissibile</mat-option>
                                    <mat-option [value]="5">Duplicata</mat-option>
                                    <mat-option [value]="6">Da integrare</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Motivazione del rigetto</mat-label>
                                <input matInput formControlName="reason">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center top">
                            <button type="submit" mat-stroked-button color="primary">Conferma</button>
                        </div>
                    </form>
                </div>
                <ng-template #notAssignedToUser>
                    Un altro istruttore la stà lavorando
                </ng-template>
            </div>

            <div class="fuse-card auto-width p-16 mt-8" *ngIf="checkAssignation(foodProductRequestDTO)">
                <div fxLayout="row" fxLayoutAlign="center top">
                    <button mat-stroked-button color="primary" (click)="reset(foodProductRequestDTO)">Resetta</button>
                </div>
            </div>





            <div class="fuse-card auto-width p-16 mt-8" *ngIf="foodProductRequestDTO.note == '3'">
                <div fxLayout="row" fxLayoutAlign="center top">
                    <div class="h1 m-16">
                        Stato:
                        {{ aigSolidarityRequestCalculatorService.calculate(foodProductRequestDTO) | currency: 'EUR' }}
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>