<div id="aig-solidarity-request-detail-page" class="page-layout blank">


    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="20">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Stato:</div>
                <div class="h1 m-16">
                    <span *ngIf="foodProductRequestDTO.note == null" style="color: gray;">NON ANCORA ISTRUITA</span>
                    <span *ngIf="foodProductRequestDTO.note == null" style="color: gray;">NON ANCORA ISTRUITA</span>
                    <span *ngIf="foodProductRequestDTO.note == '98'" style="color: blueviolet;">Da rivalutare</span>
                    <span *ngIf="foodProductRequestDTO.note == '1'" style="color: blue;">In valutazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '2'" style="color: green;">Approvata</span>
                    <span *ngIf="foodProductRequestDTO.note == '3'" style="color: green;">Approvata dopo integrazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '95'" style="color: gray;">Rifiutata</span>
                    <span *ngIf="foodProductRequestDTO.note == '96'" style="color: red;">Non ammissibili</span>
                    <span *ngIf="foodProductRequestDTO.note == '93'" style="color: gray;">Rifiutata dopo integrazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '94'" style="color: red;">Non ammissibili dopo integrazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '87'" style="color: brown;">Duplicata dopo integrazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '97'" style="color: brown;">Duplicata</span>
                    <span *ngIf="foodProductRequestDTO.note == '99'" style="color: orange;">Non Approvata</span>
                </div>
                <div class="h4 mt-16 m-8 ml-16 mb-0 secondary-text" *ngIf="foodProductRequestDTO.note == null">
                    Istruttore:</div>
                <div class="h1 m-16" *ngIf="this.instructor">{{ this.instructor[1] }}</div>
            </div>
            <div class="fuse-card auto-width p-16 mt-8">
                <button mat-stroked-button color="primary"
                    *ngIf="foodProductRequestDTO.note == null || foodProductRequestDTO.note == 98"
                    (click)="take(foodProductRequestDTO)">Prendi in carica</button>

                <button mat-stroked-button color="primary"
                    *ngIf="foodProductRequestDTO.note == 1 && checkAssignation(foodProductRequestDTO)"
                    (click)="aprove(foodProductRequestDTO)">Approva</button>
                
                <button mat-stroked-button color="primary"
                    *ngIf="foodProductRequestDTO.note == 1 && checkAssignation(foodProductRequestDTO)"
                    (click)="duplicate(foodProductRequestDTO)">Setta duplicata</button>
                
                <div *ngIf="foodProductRequestDTO.note == 1 && checkAssignation(foodProductRequestDTO)">
                    <hr>
                    <form [formGroup]="rejectForm" (ngSubmit)="reject()">
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Tipo rigetto</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option [value]="99">Non Approvata</mat-option>
                                    <mat-option [value]="96">Rigettata</mat-option>
                                    <mat-option [value]="95">Rifiutata</mat-option>
                                    <mat-option [value]="94">Non Ammissibili dopo integrazione</mat-option>
                                    <mat-option [value]="93">Rifiutata dopo integrazione</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Motivazione del rigetto</mat-label>
                                <input matInput formControlName="reason">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end top">
                            <button type="submit" mat-stroked-button color="primary">Rigetta</button>
                        </div>
                    </form>
                </div>

                <div *ngIf="foodProductRequestDTO.note == 1 && checkAssignation(foodProductRequestDTO) == false">Un
                    altro istruttore la stà lavorando</div>

                <button mat-stroked-button color="primary"
                    *ngIf="foodProductRequestDTO.note == 3 || foodProductRequestDTO.note == 99 || foodProductRequestDTO.note == 87 || foodProductRequestDTO.note == 96 || foodProductRequestDTO.note == 95 || foodProductRequestDTO.note == 93 || foodProductRequestDTO.note == 94"
                    (click)="revalutate(foodProductRequestDTO)">Rivaluta</button>

                
                <hr>
                <button mat-stroked-button color="primary"
                    (click)="duplicatea(foodProductRequestDTO)">duplicata</button>
                <button mat-stroked-button color="primary"
                    (click)="duplicate(foodProductRequestDTO)">duplicata after</button>
                <button mat-stroked-button color="primary"
                    (click)="aprove(foodProductRequestDTO)">approvata after</button>
                <button mat-stroked-button color="primary"
                    (click)="aprovea(foodProductRequestDTO)">approvata before</button>
                
            </div>
        </div>
        <div class="widget p-16" fxFlex.gt-sm="40">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ foodProductRequestDTO.id }}</div>
                <div class="h4 m-8 ml-16">Data inserimento: {{ foodProductRequestDTO.reportingDate }}</div>
                <div class="h1 m-16">
                    <span>Stato: </span>
                    <span *ngIf="foodProductRequestDTO.note == null">Inserita</span>
                    <span *ngIf="foodProductRequestDTO.note == '98'">Da rivalutare</span>
                    <span *ngIf="foodProductRequestDTO.note == '1'">In valutazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '2'">Approvata</span>
                    <span *ngIf="foodProductRequestDTO.note == '3'">Approvata dopo integrazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '95'">Rifiutata</span>
                    <span *ngIf="foodProductRequestDTO.note == '96'">Non ammissibili</span>
                    <span *ngIf="foodProductRequestDTO.note == '97'">Duplicata</span>
                    <span *ngIf="foodProductRequestDTO.note == '99'">Non approvata</span>
                    <span *ngIf="foodProductRequestDTO.note == '93'">Rifiutata dopo integrazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '94'">Non ammissibili dopo integrazione</span>
                    <span *ngIf="foodProductRequestDTO.note == '87'">Duplicata dopo integrazione</span>
                </div>
                <div class="h4 m-8 ml-16">
                    <span>Categoria: </span>
                    <span *ngIf="foodProductRequestDTO.requestStatusA">A</span>
                    <span *ngIf="foodProductRequestDTO.requestStatusB">B</span>
                    <span *ngIf="foodProductRequestDTO.requestStatusC">C</span>
                </div>
                <div class="h4 m-8 ml-16" *ngIf="foodProductRequestDTO.requestStatusB">Reddito Febbraio:
                    {{ foodProductRequestDTO.requestStatusBIncomeFeb }}</div>
                <div class="h4 m-8 ml-16"
                    *ngIf="foodProductRequestDTO.requestStatusB || foodProductRequestDTO.requestStatusC">Reddito Marzo:
                    {{ foodProductRequestDTO.requestStatusBIncomeMar }}</div>
                <div class="h4 m-8 ml-16" style="color: red;"
                    *ngIf="foodProductRequestDTO.familyUnit.disabledPeopleNote != null">Note:
                    {{ foodProductRequestDTO.familyUnit.disabledPeopleNote }}</div>
            </div>
            <div class="fuse-card auto-width mt-8 p-16" *ngIf="foodProductRequestDTO.note == '2'">
                <div class="h4 m-8 ml-16">Importo: </div>
                <div class="h1 m-16">€ {{ aigSolidarityRequestCalculatorService.calculate(foodProductRequestDTO) }},00</div>
            </div>
        </div>
        <div class="widget p-16" fxFlex.gt-sm="40">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Richiedente</div>
                <div class="h1 m-16">{{ foodProductRequestDTO.familyUnit.surname }}
                    {{ foodProductRequestDTO.familyUnit.name }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Codice Fiscale:
                    {{ foodProductRequestDTO.familyUnit.taxId }}</div>
                <div class="h4 m-8 ml-16">Email: {{ foodProductRequestDTO.familyUnit.email }}</div>
                <div class="h4 m-8 ml-16">Tel: {{ foodProductRequestDTO.familyUnit.telephone }}</div>
                <div class="h4 m-8 ml-16">Cell: {{ foodProductRequestDTO.familyUnit.mobile }}</div>
                <div class="h4 m-8 ml-16">Indirizzo: {{ foodProductRequestDTO.familyUnit.address }},
                    {{ foodProductRequestDTO.familyUnit.civicNumber }}</div>
            </div>
            <div class="fuse-card auto-width p-16 mt-8">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Nucleo Familiare</div>
                <div class="h1 m-16">Adulti: {{ foodProductRequestDTO.familyUnit.adultNumber }}</div>
                <div class="h1 m-16">Bambini: {{ foodProductRequestDTO.familyUnit.childrenNumber }}</div>
            </div>
        </div>
    </div>
</div>