        <div class="h1 m-8 ml-16">{{ insurance-policy.insurance-policy }}</div>
        <div class="h4 ml-16">ID: <b>{{ insurance-policy.id }}</b></div>

        <div class="h4 ml-16">companyPreparatorEopooCode: <b>{{ insurancePolicy.companyPreparatorEopooCode }}</b></div>
        <div class="h4 ml-16">note: <b>{{ insurancePolicy.note }}</b></div>
        <div class="h4 ml-16">totalAmount: <b>{{ insurancePolicy.totalAmount }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">description: <b>{{ insurancePolicy.eopoo.person.description }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">proposerEopooCode: <b>{{ insurancePolicy.eopoo.person.proposerEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">partecipationTypeCode: <b>{{ insurancePolicy.eopoo.person.partecipationTypeCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">siteInspection: <b>{{ insurancePolicy.eopoo.person.siteInspection }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">offering: <b>{{ insurancePolicy.eopoo.person.offering }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">note: <b>{{ insurancePolicy.eopoo.person.note }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">creationDateTime: <b>{{ insurancePolicy.eopoo.person.creationDateTime }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">description: <b>{{ insurancePolicy.eopoo.person.description }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">description: <b>{{ insurancePolicy.eopoo.person.description }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">cig: <b>{{ insurancePolicy.eopoo.person.cig }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">description: <b>{{ insurancePolicy.eopoo.person.description }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">offerExpiryDate: <b>{{ insurancePolicy.eopoo.person.offerExpiryDate }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">baseAmount: <b>{{ insurancePolicy.eopoo.person.baseAmount }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">candidacy: <b>{{ insurancePolicy.eopoo.person.candidacy }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">securityAmount: <b>{{ insurancePolicy.eopoo.person.securityAmount }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">istatCode: <b>{{ insurancePolicy.eopoo.person.istatCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">nutsCode: <b>{{ insurancePolicy.eopoo.person.nutsCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">cpvCode: <b>{{ insurancePolicy.eopoo.person.cpvCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">typeCode: <b>{{ insurancePolicy.eopoo.person.typeCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">awardCriterionCode: <b>{{ insurancePolicy.eopoo.person.awardCriterionCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">statusCode: <b>{{ insurancePolicy.eopoo.person.statusCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">description: <b>{{ insurancePolicy.eopoo.person.description }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">code: <b>{{ insurancePolicy.eopoo.person.code }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">ref: <b>{{ insurancePolicy.eopoo.person.ref }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">contractorEopooCode: <b>{{ insurancePolicy.eopoo.person.contractorEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">sectorCode: <b>{{ insurancePolicy.eopoo.person.sectorCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">procedureCode: <b>{{ insurancePolicy.eopoo.person.procedureCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">modalityCode: <b>{{ insurancePolicy.eopoo.person.modalityCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">statusCode: <b>{{ insurancePolicy.eopoo.person.statusCode }}</b></div>

