<div id="solidarity-request-module-page" class="page-layout blank" fxLayout="row">

    <div class="module-container">

        <div class="card mb-16">
            <button class="ml-8" mat-stroked-button color="accent"
                [routerLink]="'/solidarity/request/detail/' + (foodProductRequestDTO.id - 1) + '/module'">Precedente</button>
            <button class="ml-8" mat-stroked-button color="accent"
                [routerLink]="'/solidarity/request/detail/' + (foodProductRequestDTO.id + 1) + '/module'">Prossimo</button>

            <h3 *ngIf="foodProductRequestDTO.note != '3'">Non stampare</h3>

            <div class="h1 m-16">
                Stato:
                <span *ngIf="foodProductRequestDTO.note == '1'" style="color: gray;">Da istruire</span>
                <span *ngIf="foodProductRequestDTO.note == '2'" style="color: blue;">In valutazione</span>
                <span *ngIf="foodProductRequestDTO.note == '3'" style="color: green;">Approvata</span>
                <span *ngIf="foodProductRequestDTO.note == '4'" style="color: red;">Non ammissibile</span>
                <span *ngIf="foodProductRequestDTO.note == '5'" style="color: brown;">Duplicata</span>
                <span *ngIf="foodProductRequestDTO.note == '6'" style="color: blueviolet;">Soccorso
                    istruttorio</span>
                <span *ngIf="foodProductRequestDTO.note == '7'" style="color: orange;">Integrato</span>
            </div>
            <h5 *ngIf="foodProductRequestDTO.note != '3'">{{ foodProductRequestDTO.familyUnit.surname }} {{ foodProductRequestDTO.familyUnit.name }}</h5>
            <button class="ml-8" mat-stroked-button color="accent" printSectionId="module" ngxPrint *ngIf="foodProductRequestDTO.note == '3'">Stampa</button> 
        </div>

        <div class="card" *ngIf="foodProductRequestDTO.note == '3'">

            <div id="module" #module class="content" >
                <h1>{{ foodProductRequestDTO.familyUnit.surname }} {{ foodProductRequestDTO.familyUnit.name }}</h1>

                <br>

                    <div style="width: 350px; margin: 0 auto; text-align: center;">
                        <img src="https://www.comune.santamarialacarita.na.it/public/th.gif" />
                        <h3>Comune di Santa Maria la Carità</h3>
                        <h4>Città Metropolitana di Napoli</h4>
                    </div>
    
                    <p style="text-align: right; margin: 50px 0;">
                        <b>Al Sindaco Avv. Giosuè C.M.A. D’Amora</b>
                        <br>Comune di Santa Maria La Carità
                    </p>
    
                    <p style="padding: 0 0 0 0; "><b>Oggetto:</b> DOMANDA DI AMMISSIONE EROGAZIONE BUONI SPESA
                        MISURA DI SOLIDARIETA’ ALIMENTARE D.L. N. 154 DEL 23/11/2020
                        EMERGENZA EPIDEMIOLOGICA COVID 19
                    </p>
                    <p style="padding: 0 0 0 30px;">
                        Il/La sottoscritto/a {{ foodProductRequestDTO.familyUnit.surname }}
                        {{ foodProductRequestDTO.familyUnit.name }}
                        residente in Santa Maria la Carità (Na) alla via {{ foodProductRequestDTO.familyUnit.address }} n.
                        {{ foodProductRequestDTO.familyUnit.civicNumber }}
                        Codice Fiscale {{ foodProductRequestDTO.familyUnit.taxId.toUpperCase() }}
                        cell {{ foodProductRequestDTO.familyUnit.mobile }}
                        <span *ngIf="(foodProductRequestDTO.familyUnit.email != '')">email
                            {{ foodProductRequestDTO.familyUnit.email }}</span>
                        in riferimento all’Avviso Pubblico “MISURA DI SOLIDARIETA’ ALIMENTARE in attuazione del D. L. n. 154
                        del 23/11/2020, recante “Misure finanziarie urgenti connesse all’emergenza epidemiologica da
                        Covid-19, c.d. “Decreto Ristori ter” - EMERGENZA EPIDEMIOLOGICA DA COVID 19- INDIVIDUAZIONE DEI
                        NUCLEI BENEFICIARI DEI BUONI SPESA”,
                    </p>
    
    
                    <h3>Consapevole</h3>
                    <ul>
                        <li>che ai sensi dell’art. 76, comma 1 del DPR 445/2000, le dichiarazioni mendaci, le falsità in
                            atti, l’uso di atti falsi sono puniti ai sensi del codice penale; che, ai sensi dell’art. 75 del
                            DPR n. 445/2000, il dichiarante decade dai benefici eventualmente conseguiti da provvedimenti
                            emanati sulla base di dichiarazioni non veritiere; che, ai sensi dell’art. 71 del DPR 445/2000,
                            l’Ente ha l’obbligo di effettuare idonei controlli, anche a campione, sulla veridicità di quanto
                            dichiarato, ai sensi degli artt. 46 e 47 del DPR 445/2000;</li>
                        <li>che tutte le informazioni fornite saranno trasmesse dal Comune di Santa Maria la Carità alle
                            Autorità competenti (Guardia di Finanza, Agenzia delle Entrate) per i controlli di rito sulla
                            veridicità delle stesse;</li>
                    </ul>
    
                    <h3>Chiede</h3>
                    <p>
                        di essere ammesso all’erogazione di buoni spesa da utilizzare presso gli esercizi commerciali
                        aderenti del territorio comunale;
                    </p>
    
                    <h3>Dichiara</h3>
                    <ul>
                        <li>
                            di aver subìto un grave deterioramento della propria condizione economico-finanziaria
                            determinatasi per effetto delle conseguenze dell’emergenza epidemiologica da Covid-19;
                        </li>
                        <li>
                            di possedere al 30/11/2020 un saldo disponibile di conto corrente bancario/postale e/o un saldo
                            derivante da libretti di risparmio bancari/postali, complessivamente per l'intero nucleo
                            familiare
                            non superiore a € 15.000,00 e precisamente:
                            <span *ngIf="foodProductRequestDTO.familyUnit.telephone == 'A'">minore di
                                &euro; 5.000,00;</span>
                            <span *ngIf="foodProductRequestDTO.familyUnit.telephone == 'B'">da &euro;
                                5.000,01 a &euro;15.000,00;</span>
                        </li>
                        <li>
                            che pertanto il proprio nucleo familiare, come si evince dallo STATO DI FAMIGLIA è composto da:
                            {{ foodProductRequestDTO.familyUnit.adultNumber }} adulti
                            <span *ngIf="(foodProductRequestDTO.familyUnit.childrenNumber != '')">
                                e {{ foodProductRequestDTO.familyUnit.childrenNumber }} minori (0-18 anni)
                            </span>
                            complessivi presenti nel nucleo familiare;
                        </li>
                        <li *ngIf="(foodProductRequestDTO.requestStatusA)">
                            <b>che il proprio nucleo familiare è residente in immobile adibito ad abitazione principale ed in
                            possesso di contratto di locazione registrato oppure titolare di contratto di mutuo;</b>
                        </li>
                        <li>
                            che la suddetta istanza è l’unica presentata dal proprio nucleo familiare;
                        </li>
                        <li [ngSwitch]="foodProductRequestDTO.familyUnit.postalCode">
                            <span *ngSwitchCase="'A'">
                                <u>FASCIA A</u> - essere disoccupato/inoccupato a far data dal 1 Ottobre 2020, non
                                beneficiare di
                                alcuna
                                misura di sostegno al reddito e che l’intero nucleo familiare non percepisce alcun reddito;
                            </span>
                            <span *ngSwitchCase="'B'">
                                <u>FASCIA B</u> - essere disoccupato/inoccupato a far data dal 1 Ottobre 2020, non
                                beneficiare di
                                alcuna
                                misura di sostegno al reddito, ed il reddito netto complessivo dell’intero nucleo familiare
                                nel mese
                                di Ottobre 2020 pari a
                                <b>{{ foodProductRequestDTO.requestStatusBIncomeMar | currency: "EUR" }}</b>
                                derivante da: {{ foodProductRequestDTO.familyUnit.city }};
                            </span>
                            <span *ngSwitchCase="'C'">
                                <u>FASCIA C</u> - essere titolare di reddito di pensione con un reddito netto complessivo
                                dell’intero nucleo familiare
                                nel mese
                                di Ottobre 2020 pari a
                                <b>{{ foodProductRequestDTO.requestStatusBIncomeMar | currency: "EUR" }}</b>;
                            </span>
                            <span *ngSwitchCase="'D'">
                                <u>FASCIA D</u> - essere titolare di reddito derivante da misure di sostegno quali reddito
                                di
                                cittadinanza,
                                reddito di emergenza, reddito di inclusione, naspi, mini naspi, asdi nonché le diverse forme
                                di cassa integrazione, ed il reddito netto complessivo dell’intero nucleo familiare nel mese
                                di Ottobre 2020 pari a
                                <b>{{ foodProductRequestDTO.requestStatusBIncomeMar | currency: "EUR" }}</b>
                                derivante da: {{ foodProductRequestDTO.familyUnit.city }};
                            </span>
                            <span *ngSwitchCase="'E'">
                                <u>FASCIA E</u> - essere titolare di un reddito da lavoro dipendente e/o un reddito ad esso
                                assimilato con
                                un reddito netto complessivo per il mese di Ottobre 2020 pari a
                                <b>{{ foodProductRequestDTO.requestStatusBIncomeMar | currency: "EUR" }}</b>;
                            </span>
                            <span *ngSwitchCase="'F'">
                                <u>FASCIA F</u> - essere titolare di un reddito da lavoro autonomo (con Partita Iva) e/o un
                                reddito
                                ad esso
                                assimilabile (senza Partita Iva, a titolo esemplificativo: prestazioni occasionali
                                certificate), aver realizzato un fatturato e/o corrispettivi per il periodo di imposta 2019
                                pari a <b>{{ foodProductRequestDTO.requestStatusBIncomeFeb | currency: "EUR" }}</b>
                                (ad eccezione delle attività iniziate a partire dal 1/01/2020) ed aver
                                conseguito nel mese di Ottobre 2020 un reddito netto complessivo pari a
                                <b>{{ foodProductRequestDTO.requestStatusBIncomeMar | currency: "EUR" }}</b>;
                            </span>
                        </li>
                        <li>
                            di autorizzare il trattamento dei dati personali ai sensi dell’art. 13 del Decreto Legislativo
                            30 Giugno 2003, n. 196 “Codice in materia di protezione dei dati personali” e dell’art. 13 del
                            GDPR (Regolamento UE 679/2016).
                        </li>
    
                    </ul>
                

                <p>Si allega alla presente, valido documento di riconoscimento;</p>
                <p>Santa Maria la Carità, 21/12/2020</p>

                <div style="text-align: right;">
                    <p>Firma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: white;">.</span></p>
                </div>

                <br><br><br><br><br>
                <p>Pratica istruita da: {{ instructor[1] }}</p>
                <p>--------------------------------------------------------------------------------------------------------------</p>
                <p>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'M'">Il sottoscritto</span>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'F'">La sottoscritta</span>
                    {{ foodProductRequestDTO.familyUnit.surname }} {{ foodProductRequestDTO.familyUnit.name }}
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'M'">nato </span>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'F'">nata </span>
                    a {{ itFiscalCodeService.comuneCf(foodProductRequestDTO.familyUnit.taxId) }}
                    il {{ itFiscalCodeService.dataCf(foodProductRequestDTO.familyUnit.taxId) }}
                    residente in Santa Maria la Carità (Na)
                    alla via {{ foodProductRequestDTO.familyUnit.address }},
                    {{ foodProductRequestDTO.familyUnit.civicNumber }},
                    codice Fiscale {{ foodProductRequestDTO.familyUnit.taxId.toUpperCase() }},
                    <span *ngIf="foodProductRequestDTO.familyUnit.telephone != null">tel: {{ foodProductRequestDTO.familyUnit.telephone }}</span>
                    cell: {{ foodProductRequestDTO.familyUnit.mobile }}
                </p>
                <p>
                    dichiara di ricevere l'importo di <b>{{ aigSolidarityRequestCalculatorService.calculate(foodProductRequestDTO) }},00 € </b> in buoni spesa
                </p>
                <p>Santa Maria la Carità, 21/12/2020</p>

                <div style="text-align: right;">
                    <p>Firma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: white;">.</span></p>
                </div>

                <br><br><br><br><br>
            </div>

        </div>

    </div>

</div>