<div id="solidarity-request-module-page" class="page-layout blank" fxLayout="row">

    <div class="module-container">

        <div class="card mb-16">
            <button class="ml-8" mat-stroked-button color="accent"
                [routerLink]="'/solidarity/request/detail/' + (foodProductRequestDTO.id - 1) + '/module'">Precedente</button>
            <button class="ml-8" mat-stroked-button color="accent"
                [routerLink]="'/solidarity/request/detail/' + (foodProductRequestDTO.id + 1) + '/module'">Prossimo</button>

            <h3 *ngIf="foodProductRequestDTO.note != '2'">Non stampare</h3>
            <h3 *ngIf="foodProductRequestDTO.note == '2'">Approvata</h3>
            <button class="ml-8" mat-stroked-button color="accent" printSectionId="module" ngxPrint>Stampa</button> 
        </div>

        <div class="card" *ngIf="foodProductRequestDTO.note == '2'">

            <div id="module" #module class="content" >
                <h1>{{ foodProductRequestDTO.familyUnit.surname }} {{ foodProductRequestDTO.familyUnit.name }}</h1>

                <br>

                <div style="text-align: center;">
                    <p>
                        <img src="https://www.comune.santamarialacarita.na.it/public/th.gif" /><br>
                        <strong>Comune di Santa Maria la Carità </strong><br>
                        Città Metropolitana di Napoli
                    </p>
                </div>

                <br>

                <div style="text-align: right;">
                    <p>Al Sindaco Avv. Giosu&egrave; C.M.A.D'Amora</p>
                    <p>Comune di Santa Maria La Carità</p>
                </div>

                <br>
                <br>

                <table>
                    <tr>
                        <td><strong>OGGETTO:</strong><br><span>&nbsp;</span></td>
                        <td>Domanda di ammissione erogazione buoni spesa misura di solidarietà alimentare OCPC n° 658 del 29/03/2020 emergenza epidemiologica Covid19</td>
                    </tr>
                </table>

                <br>

                <p>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'M'">Il sottoscritto</span>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'F'">La sottoscritta</span>
                    {{ foodProductRequestDTO.familyUnit.surname }} {{ foodProductRequestDTO.familyUnit.name }}
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'M'">nato </span>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'F'">nata </span>
                    a {{ itFiscalCodeService.comuneCf(foodProductRequestDTO.familyUnit.taxId) }}
                    il {{ itFiscalCodeService.dataCf(foodProductRequestDTO.familyUnit.taxId) }}
                    residente in Santa Maria la Carità (Na)
                    alla via {{ foodProductRequestDTO.familyUnit.address }},
                    {{ foodProductRequestDTO.familyUnit.civicNumber }},
                    codice Fiscale {{ foodProductRequestDTO.familyUnit.taxId.toUpperCase() }},
                    <span *ngIf="foodProductRequestDTO.familyUnit.telephone != null">tel: {{ foodProductRequestDTO.familyUnit.telephone }}</span>
                    cell: {{ foodProductRequestDTO.familyUnit.mobile }}
                    email: {{ foodProductRequestDTO.familyUnit.email }}
                </p>
                <p>in riferimento all'Avviso Pubblico "MISURA DI SOLIDARIETA' ALIMENTARE IN ATTUAZIONE DELL' OCPC N. 658 DEL 29/03/2020 - EMERGENZA EPIDEMIOLOGICA DA COVID19 - INDIVIDUAZIONE DEI NUCLEI BENEFICIARI DEI BUONI SPESA",</p>

                <div style="text-align: center;">
                    <strong>CONSAPEVOLE</strong>
                </div>
                <ul>
                    <li>che ai sensi dell' art. 76, comma 1 del DPR 445/2000, le dichiarazioni mendaci, le falsità in atti, l'uso di atti falsi sono puniti ai sensi del codice penale; che, ai sensi dell'art. 75 del DPR n. 445/2000, il dichiarante decade dai benefici eventualmente conseguiti da provvedimenti emanati sulla base di dichiarazioni non veritiere; che, ai sensi dell'art. 71 del DPR 445/2000, l'Ente ha l'obbligo di effettuare idonei controlli, anche a campione, sulla veridicità di quanto dichiarato, ai sensi degli artt. 46 e 47 del DPR 445/2000;</li>
                    <li>che tutte le informazioni fornite saranno trasmesse dal Comune di Santa Maria la Carità alle Autorità competenti (Guardia di Finanza, Agenzia delle Entrate) per i controlli di rito sulla veridicità delle stesse;</li>
                </ul>

                <div style="text-align: center;">
                    <strong>CHIEDE</strong>
                </div>
                <p>di essere ammesso all'erogazione di buoni spesa da utilizzare presso gli esercizi commerciali aderenti del territorio comunale;</p>

                <div style="text-align: center;">
                    <strong>DICHIARA</strong>
                </div>
                <ul>
                    <li>di aver subito un grave deterioramento della propria condizione economico-finanziaria
                        determinatasi per effetto delle conseguenze dell'emergenza epidemiologica da Covid-19;</li>
                    <li>che pertanto il proprio nucleo familiare è composto da:
                        <ul>
                            <li>Adulti: {{ foodProductRequestDTO.familyUnit.adultNumber }}</li>
                            <li>Bambini: {{ foodProductRequestDTO.familyUnit.childrenNumber }}</li>
                        </ul>
                    </li>
                    <li>di autorizzare il trattamento dei dati personali ai sensi dell'art. 13 del Decreto
                        Legislativo 30 Giugno 2003, n. 196 &ldquo;Codice in materia di protezione dei dati
                        personali&rdquo; e dell'art. 13 del GDPR (Regolamento UE 679/2016).
                    </li>
                    <li>
                        di trovarsi nella seguente condizione:
                        <span *ngIf="foodProductRequestDTO.requestStatusA">essere disoccupato/inoccupato dal 1 Gennaio 2020 – condizione riferita a tutti i componenti il nucleo familiare – e non beneficiare di alcuna misura di sostegno al reddito;</span>
                        <span *ngIf="foodProductRequestDTO.requestStatusB">l’aver subìto un impoverimento/peggioramento
                            della situazione economica- reddituale, sempre derivante dall’emergenza epidemiologica da virus Covid 19.
                            Saranno dichiarati e confrontati i redditi netti complessivi percepiti dal nucleo
                            familiare nei mesi di Febbraio 2020 (prima dell’emergenza) e Marzo 2020 (inizio
                            emergenza). Per accedere alla misura, il reddito netto complessivo del nucleo
                            familiare relativo al mese di Marzo non deve essere superiore ad € 1.300,00 (con
                            uno scostamento tra le due mensilità non inferiore al 50 %) comprensivo delle
                            eventuali ulteriori agevolazioni previste dal Decreto “Cura Italia” D.L. 17/03/2020,
                            n.18.</span>
                        <span *ngIf="foodProductRequestDTO.requestStatusC">essere esposto agli effetti economici
                            derivanti dall’emergenza epidemiologica da virus Covid-19 con reddito netto complessivo dell’intero nucleo familiare non
                            superiore ad € 1.300,00. Rientrano nella suddetta categoria i percettori di misure
                            di sostegno al reddito, nello specifico: reddito di cittadinanza, reddito di inclusione,
                            naspi, mini naspi, asdi e cassa integrazione guadagni.
                            Per i nuclei familiari di due o più persone in cui l’unico reddito è costituito dalla
                            pensione sociale il tetto massimo per accedere alla misura è di € 800,00; per i
                            nuclei familiari (una sola persona) in cui l’unico reddito è costituito dalla pensione
                            sociale il tetto massimo per accedere alla misura è di € 540,00;</span>
                    </li>
                    <li *ngIf="foodProductRequestDTO.requestStatusB">
                        che il reddito per il mese di febbraio è stato:
                        {{ foodProductRequestDTO.requestStatusBIncomeFeb }} €
                    </li>
                    <li *ngIf="foodProductRequestDTO.requestStatusB || foodProductRequestDTO.requestStatusC">
                        che il reddito per il mese di marzo è stato: {{ foodProductRequestDTO.requestStatusBIncomeMar }} €
                    </li>
                </ul>

                <p>Si allega alla presente, valido documento di riconoscimento;</p>
                <p>Santa Maria la Carità, 09/04/2020</p>

                <div style="text-align: right;">
                    <p>Firma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: white;">.</span></p>
                </div>

                <br><br><br><br><br>
                <p>--------------------------------------------------------------------------------------------------------------</p>
                <p>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'M'">Il sottoscritto</span>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'F'">La sottoscritta</span>
                    {{ foodProductRequestDTO.familyUnit.surname }} {{ foodProductRequestDTO.familyUnit.name }}
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'M'">nato </span>
                    <span *ngIf="itFiscalCodeService.sessoCf(foodProductRequestDTO.familyUnit.taxId) == 'F'">nata </span>
                    a {{ itFiscalCodeService.comuneCf(foodProductRequestDTO.familyUnit.taxId) }}
                    il {{ itFiscalCodeService.dataCf(foodProductRequestDTO.familyUnit.taxId) }}
                    residente in Santa Maria la Carità (Na)
                    alla via {{ foodProductRequestDTO.familyUnit.address }},
                    {{ foodProductRequestDTO.familyUnit.civicNumber }},
                    codice Fiscale {{ foodProductRequestDTO.familyUnit.taxId.toUpperCase() }},
                    <span *ngIf="foodProductRequestDTO.familyUnit.telephone != null">tel: {{ foodProductRequestDTO.familyUnit.telephone }}</span>
                    cell: {{ foodProductRequestDTO.familyUnit.mobile }}
                    email: {{ foodProductRequestDTO.familyUnit.email }}
                </p>
                <p>
                    dichiara di ricevere l'importo di {{ aigSolidarityRequestCalculatorService.calculate(foodProductRequestDTO) }},00 € in buoni spesa
                </p>
                <p>Santa Maria la Carità, 09/04/2020</p>

                <div style="text-align: right;">
                    <p>Firma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: white;">.</span></p>
                </div>

                <br><br><br><br><br>
            </div>

        </div>

    </div>

</div>