#solidarity-request-module-page {
    
    .module-container {
        padding: 64px;
        margin: 0 auto;

        .card {
            width: 1020px;
            min-width: 1020px;
            max-width: 1020px;
            padding: 64px 88px;
            overflow: hidden;
            background: #ffffff;
        }
    }
}

