<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">
    <div class="center" >
        <div class="content">
            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100">





                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="40">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountApproved | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero domande approvate:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalApproved }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate con meno di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMin5 | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMin5 }} di {{ totalApproved }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate con più di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMor5 | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMor5 }} di {{ totalApproved }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>






                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="40">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia A
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountApprovedA | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalApprovedA }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia A con meno di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMin5A | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMin5A }} di {{ totalApprovedA }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia A con più di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMor5A | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMor5A }} di {{ totalApprovedA }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>






                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="40">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia B
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountApprovedB | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalApprovedB }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia B con meno di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMin5B | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMin5B }} di {{ totalApprovedB }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia B con più di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMor5B | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMor5B }} di {{ totalApprovedB }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>






                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="40">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia C
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountApprovedC | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalApprovedC }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia C con meno di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMin5C | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMin5C }} di {{ totalApprovedC }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia C con più di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMor5C | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMor5C }} di {{ totalApprovedC }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>








                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="40">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia D
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountApprovedD | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalApprovedD }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia D con meno di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMin5D | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMin5D }} di {{ totalApprovedD }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia D con più di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMor5D | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMor5D }} di {{ totalApprovedD }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>






                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="40">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia E
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountApprovedE | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalApprovedE }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia E con meno di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMin5E | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMin5E }} di {{ totalApprovedE }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia E con più di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMor5E | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMor5E }} di {{ totalApprovedE }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>





                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="40">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia F
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountApprovedF | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalApprovedF }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia F con meno di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMin5F | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMin5F }} di {{ totalApprovedF }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>
                <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="30">
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                            Approvate fascia F con più di 5000 €
                        </div>
                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{ totalAmountMor5F | currency: 'EUR' }}
                            </div>
                            <div class="h3 secondary-text font-weight-500">euro</div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h4 secondary-text text-truncate">
                                Numero:
                            </span>
                            <span class="h4 ml-8">
                                {{ totalMor5F }} di {{ totalApprovedF }} / {{ total }}
                            </span>
                        </div>
                    </div>
                </fuse-widget>



            </div>
        </div>
    </div>
</div>