<div id="aig-role-list" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <aig-management-header [sectionName]="'Roles'" [search]="false"></aig-management-header>

    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="aig-user-list-filters-sidebar" position="left" lockedOpen="gt-sm">
            <div class="content" fusePerfectScrollbar>
                <div class="sidebar-content">

                    <div class="card mb-16">
                        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h5">Filters</span>
                        </div>
                        <div class="content py-16" fusePerfectScrollbar>
                            <div class="nav material2">
                                role filters
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content">
                <aig-role-system-table [displayedColumns]="roleSystemDisplayedColumns" [dataSource]="roleSystemDataSource | async"></aig-role-system-table>
            </div>
        </div>
        <!-- /CENTER -->

    </div>

</div>

<button mat-fab class="accent" id="add-role-button" (click)="newRole()" aria-label="add role">
    <mat-icon>add</mat-icon>
</button>