<div id="aig-referent-detail-page" class="page-layout blank">
    <aig-generic-header [sectionName]="contactDTO.value" [search]="false"></aig-generic-header>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
               
                <aig-contact-entity-detail [contact]="contactDTO"></aig-contact-entity-detail>

                <button mat-stroked-button color="primary" (click)="editContact(contactDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteContact(contactDTO.id)">Delete </button>
            </div>
        </div>
    </div>
</div>