<div class="page-layout simple left-sidebar">
	<!-- SIDEBAR -->
	<fuse-sidebar class="sidebar" name="purchase-sidebar" position="left" lockedOpen="gt-md">
		<!-- SIDEBAR CONTENT -->
		<div class="content">
			<div>
				<div class="p-16 border-bottom" fxLayout="row" fxLayoutAlign="center top">
					<button mat-raised-button (click)="resetFiltersInventoryCategory()">Resetta filtri</button>
				</div>
				<div class="header pl-16 mt-8" fxLayout="row" fxLayoutAlign="start center">
					<span class="h3">Filtri</span>
				</div>
				<div class="content" fusePerfectScrollbar>
					<div class="nav material2">
						<div class="nav-item" aria-label="inbox">
							<form [formGroup]="inventoryCategorySearchFormGroup"
								(ngSubmit)="inventoryCategorySearchWithFilter()" class="p-8">
								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Id</mat-label>
										<input matInput type="number" formControlName="id">
									</mat-form-field>
								</div>
								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Name</mat-label>
										<input matInput type="text" formControlName="name">
									</mat-form-field>
								</div>
								<div fxLayout="row" fxLayoutAlign="end top">
									<button type="submit" mat-raised-button color="accent">Cerca</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / SIDEBAR CONTENT -->
	</fuse-sidebar>
	<!-- / SIDEBAR -->
	<!-- CENTER -->
	<div class="center">
		<!-- HEADER -->
		<div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
			<button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
				(click)="toggleSidebar('purchase-sidebar')">
				<mat-icon>menu</mat-icon>
			</button>
			<h2>Categorie Inventario</h2>
		</div>
		<!-- / HEADER -->
		<!-- CONTENT -->
		<div class="content mb-48">
			<inventory-category-list-table [displayColumns]="inventoryCategoryDC" [dataSource]="inventoryCategoryDTOs"
				[error]="inventoryCategoryError">
			</inventory-category-list-table>

			<mat-paginator #paginator [length]="inventoryCategoryLength"
				[pageSize]="this.inventoryCategoryPagination.size" [pageIndex]="this.inventoryCategoryPagination.page"
				[pageSizeOptions]="[10, 20, 50]" (page)="inventoryCategoryPaginationEvent($event)">
			</mat-paginator>

			<button mat-fab class="accent" id="add-inventory-category-button" (click)="newInventoryCategory()" aria-label="add inventory category">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<!-- / CONTENT -->
	</div>
	<!-- / CENTER -->
</div>