<div id="aig-insurance-policy-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <pre>{{ insurancePolicyDTO | json }}</pre>

                <button mat-stroked-button color="primary" (click)="editInsurancePolicy(insurancePolicyDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteInsurancePolicy(insurancePolicyDTO.id)">Delete</button>

            </div>
        </div>
    </div>
</div>