<div id="aig-social-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-warehouse [warehouseDTO]="warehouseDTO"></entity-detail-warehouse>
                 <!--<pre>{{ warehouseDTO | json }}</pre> !-->

                <button mat-stroked-button color="primary" (click)="editWarehouse(warehouseDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteWarehouse(warehouseDTO.id)">Delete</button>

            </div>
        </div>
    </div>
</div>