<form *ngIf="step.form" [formGroup]="partecipationStatusNewUpdateForm" (ngSubmit)="submit()">

    
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput required>
    </mat-form-field>

    
    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">

    <span>
        <h1>Hai creato una nuovo stato di partecipazione!</h1>
        <p>Description: {{ partecipationStatusNewUpdateForm.controls.description.value }}</p>
    </span>

    <button *ngIf="!partecipationStatusNewUpdateForm.value.id" mat-stroked-button color="primary"
        (click)="newPartecipationStatus()">Create New</button>

    <button [routerLink]="'/ipp/partecipation-status/detail/'" mat-stroked-button color="primary">Dettagli</button>

</div>
