        <div class="h1 m-8 ml-16">{{ personalization.personalization }}</div>
        <div class="h4 ml-16">ID: <b>{{ personalization.id }}</b></div>

        <div class="h4 ml-16">name: <b>{{ personalization.name }}</b></div>
        <div class="h4 ml-16">type: <b>{{ personalization.type }}</b></div>
        <div class="h4 ml-16">typeAttribute: <b>{{ personalization.typeAttribute }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">name: <b>{{ personalization.eopoo.person.name }}</b></div>

