<form [formGroup]="quantityInventoryItemCombinationFormGroup">
    <div>
        <mat-form-field>
            <mat-label>Quantità</mat-label>
            <input type="number" matInput formControlName="quantity" placeholder="Quantità" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prodotto</mat-label>
            <input matInput formControlName="inventoryName"
                [matAutocomplete]="selectInventoryItemCombinationAutocomplete" placeholder="Prodotto" required>
            <mat-autocomplete #selectInventoryItemCombinationAutocomplete="matAutocomplete"
                [displayWith]="autocompleteDisplayService.inventoryItemDisplayFn">
                <mat-option *ngFor="let inventoryItem of filteredInventoryItem | async" [value]="inventoryItem">
                    {{inventoryItem.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button id="add-quantity-inventory-item-combination-form-button">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    

    <div>
        <mat-error *ngIf="quantityItemCombinationRequirementError != ''">{{
            quantityItemCombinationRequirementError }}</mat-error>
    </div>
    <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button (click)="checkQuantityItemCombinationRequirement(stepper)">Avanti</button>
    </div>
</form>