<form *ngIf="step.form" [formGroup]="eopooTypeNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput />
            <mat-error>Indicare il nome del tipo anagrafica!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Eopoo Type Code</mat-label>
            <input formControlName="eopooTypeCode" matInput />
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Eopoo Type Category</mat-label>
            <mat-select formControlName="eopooCategory">
                <mat-option *ngFor="let eopooTypeCategory of eopooTypeCategorys" [value]="eopooTypeCategory">
                    {{ eopooTypeCategory }}
                </mat-option>
            </mat-select>
            <mat-error>Seleziona la categoria del tipo anagrafica!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">Crea</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">Aggiorna</button>
    </div>

</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">

    <h1 *ngIf="!isUpdate">Eopoo Type creato con successo</h1>
    <h1 *ngIf="isUpdate">Eopoo Type con successo</h1>
    
    <hr>

    <aig-eopoo-type-entity-detail [eopooType]="eopooTypeResult"></aig-eopoo-type-entity-detail>

    <div *ngIf="!isUpdate">
        <br>
        <hr>
        <button *ngIf="!isUpdate" mat-stroked-button color="primary" (click)="newEopooType()">Crea nuovo</button>
    </div>

</div>