<mat-toolbar class="p-0 mat-elevation-z1">

	<div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

		<div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

			<button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
				(click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
				<mat-icon class="secondary-text">menu</mat-icon>
			</button>

			<div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

			<div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
				<div class="logo ml-16">
					<img class="logo-icon" src="assets/images/logos/fuse.svg">
				</div>
			</div>



		</div>


		<div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

			<div class="toolbar-separator"></div>

			<button mat-icon-button class="quick-panel-toggle-button" (click)="reload()">
				<mat-icon class="secondary-text">autorenew</mat-icon>
			</button>

			<div class="toolbar-separator"></div>

			<div *ngIf="isAuthenticated && loadedUserInfo">
				<button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
					<div fxLayout="row" fxLayoutAlign="center center">
						<img class="avatar mr-0 mr-sm-16" [src]="loggedUser.image">
						<span class="username mr-12" fxHide fxShow.gt-sm>
							{{ loggedUser.given_name }}
							{{ loggedUser.family_name }}
						</span>
						<mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
					</div>
				</button>

				<mat-menu #userMenu="matMenu" [overlapTrigger]="false">

					<button mat-menu-item class="" (click)="reloadPermissions()">
						<mat-icon>autorenew</mat-icon>
						<span>Reload permissions</span>
					</button>

					<button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
						<span fxLayout="row" fxLayoutAlign="start center">
							<img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
							<span class="iso">{{lang.title}}</span>
						</span>
					</button>

					<button mat-menu-item class="" (click)="logout()">
						<mat-icon>exit_to_app</mat-icon>
						<span>Logout</span>
					</button>

				</mat-menu>
			</div>

		</div>

		<div class="toolbar-separator"></div>

		<div *ngIf="isAuthenticated && context != null">

			<button mat-button [matMenuTriggerFor]="contextMenu" class="user-button">
				<div fxLayout="row" fxLayoutAlign="center center" *ngIf="context">
					<span class="username mr-12">{{ context.contextName }}</span>
					<mat-icon class="s-16">keyboard_arrow_down</mat-icon>
				</div>
			</button>

			<mat-menu #contextMenu="matMenu" [overlapTrigger]="false">
				<button mat-menu-item *ngFor="let context of contexts" (click)="setCurrentContext(context)">
					<span>{{ context.contextName }}</span>
				</button>
				<button mat-menu-item [routerLink]="[ '/m8t/context/list' ]"><span>Other contexts</span></button>
			</mat-menu>

			<button mat-icon-button class="quick-panel-toggle-button" (click)="toggleSidebarOpen('quickPanel')"
				aria-label="Toggle quick panel">
				<mat-icon class="secondary-text">settings</mat-icon>
			</button>

		</div>

	</div>

</mat-toolbar>