        <div class="h1 m-8 ml-16">{{ dati-riepilogo.dati-riepilogo }}</div>
        <div class="h4 ml-16">ID: <b>{{ dati-riepilogo.id }}</b></div>

        <div class="h4 ml-16">aliquotaIVA: <b>{{ datiRiepilogo.aliquotaIVA }}</b></div>
        <div class="h4 ml-16">esigibilitaIvaCode: <b>{{ datiRiepilogo.esigibilitaIvaCode }}</b></div>
        <div class="h4 ml-16">naturaCode: <b>{{ datiRiepilogo.naturaCode }}</b></div>
        <div class="h4 ml-16">speseAccessorie: <b>{{ datiRiepilogo.speseAccessorie }}</b></div>
        <div class="h4 ml-16">arrotondamento: <b>{{ datiRiepilogo.arrotondamento }}</b></div>
        <div class="h4 ml-16">imponibileImporto: <b>{{ datiRiepilogo.imponibileImporto }}</b></div>
        <div class="h4 ml-16">imposta: <b>{{ datiRiepilogo.imposta }}</b></div>
        <div class="h4 ml-16">riferimentoNormativo: <b>{{ datiRiepilogo.riferimentoNormativo }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiRiepilogo.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">divisa: <b>{{ datiRiepilogo.eopoo.person.divisa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ datiRiepilogo.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiRiepilogo.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoTotaleDocumento: <b>{{ datiRiepilogo.eopoo.person.importoTotaleDocumento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">arrotondamento: <b>{{ datiRiepilogo.eopoo.person.arrotondamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causale: <b>{{ datiRiepilogo.eopoo.person.causale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">art73: <b>{{ datiRiepilogo.eopoo.person.art73 }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoDocumentoCode: <b>{{ datiRiepilogo.eopoo.person.tipoDocumentoCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">bolloVirtuale: <b>{{ datiRiepilogo.eopoo.person.bolloVirtuale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoBollo: <b>{{ datiRiepilogo.eopoo.person.importoBollo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">riferimentoFase: <b>{{ datiRiepilogo.eopoo.person.riferimentoFase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">vettoreEopooCode: <b>{{ datiRiepilogo.eopoo.person.vettoreEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">mezzoTrasporto: <b>{{ datiRiepilogo.eopoo.person.mezzoTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causaleTrasporto: <b>{{ datiRiepilogo.eopoo.person.causaleTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numeroColli: <b>{{ datiRiepilogo.eopoo.person.numeroColli }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">descrizione: <b>{{ datiRiepilogo.eopoo.person.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">unitaMisuraPeso: <b>{{ datiRiepilogo.eopoo.person.unitaMisuraPeso }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoLordo: <b>{{ datiRiepilogo.eopoo.person.pesoLordo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoNetto: <b>{{ datiRiepilogo.eopoo.person.pesoNetto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraRitiro: <b>{{ datiRiepilogo.eopoo.person.dataOraRitiro }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataInizioTrasporto: <b>{{ datiRiepilogo.eopoo.person.dataInizioTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoResa: <b>{{ datiRiepilogo.eopoo.person.tipoResa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraConsegna: <b>{{ datiRiepilogo.eopoo.person.dataOraConsegna }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">indirizzo: <b>{{ datiRiepilogo.eopoo.person.indirizzo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ datiRiepilogo.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ datiRiepilogo.eopoo.person.data }}</b></div>

