<!-- AigSocialActionListPageComponent
<pre>{{ socialActionDTOs | json }}</pre> -->
<div id="aig-social-list-page" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="aig-user-list-filters-sidebar" position="left" lockedOpen="gt-sm">
            <div class="content" fusePerfectScrollbar>
                <div class="sidebar-content">

                    <div class="card mb-16">
                        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
                            <span class="h5">Filters</span>
                        </div>
                        <div class="content py-16" fusePerfectScrollbar>
                            <div class="nav material2">
                                role filters
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <div class="content">
                <aig-social-actiopn-list-table [dataSource]="socialActionDTOs" [displayedColumns]="displayedColumns"></aig-social-actiopn-list-table>
            </div>
        </div>
        <!-- /CENTER -->

    </div>

</div>

<button mat-fab class="accent" id="add-social-button" (click)="newAction()" aria-label="add action">
    <mat-icon>add</mat-icon>
</button>