<form *ngIf="step.form" [formGroup]="designatedCompanyNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
            <mat-label>Partecipation</mat-label>
            <input formControlName="partecipation" matInput [matAutocomplete]="partecipationAutocomplete">
            <mat-autocomplete #partecipationAutocomplete="matAutocomplete"
                [displayWith]="ippAutoCompleteDisplayService.partecipationDisplayFn">
                <mat-option *ngFor="let partecipation of filteredPartecipation | async" [value]="partecipation">{{
                    partecipation.procurementLot.cig }} > {{ partecipation.proposerEopooCode }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
            <mat-label>Company Eopoo </mat-label>
            <input formControlName="companyEopoo" matInput [matAutocomplete]="companyEopooAutocomplete">
            <mat-autocomplete #companyEopooAutocomplete="matAutocomplete"
                [displayWith]="genericAutocompleteFunctionService.eopooDisplayFn">
                <mat-option *ngFor="let eopoo of filteredEopoo | async" [value]="eopoo">{{ eopoo | eopooName }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
            <mat-label>Note</mat-label>
            <input formControlName="note" matInput>
        </mat-form-field>
    </div>



    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">

    <span>
        <h1>Hai creato una nuova designated company!</h1>
        <p>Partecipation: {{ designatedCompanyNewUpdateForm.controls.partecipation.value }}</p>
        <p>Company Eopoo: {{ designatedCompanyNewUpdateForm.controls.companyEopoo.value.genericEopoo ? designatedCompanyNewUpdateForm.controls.companyEopoo.value.genericEopoo.name : designatedCompanyNewUpdateForm.controls.companyEopoo.value.person.firstname + " " + designatedCompanyNewUpdateForm.controls.companyEopoo.value.person.lastname }}</p>
        <p>Note: {{ designatedCompanyNewUpdateForm.controls.note.value }}</p>
    </span>

    <button *ngIf="!designatedCompanyNewUpdateForm.value.id" mat-stroked-button color="primary"
        (click)="newDesignatedCompany()">Create New</button>

    <button [routerLink]="'/ipp/designated-company/detail/'" mat-stroked-button color="primary">Dettagli</button>

</div>