<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <h3>Error!</h3>
    <span *ngIf="error.status == 401">No access to this info</span>

    <button (click)="showError = true">.</button>
    <pre *ngIf="showError">{{ error | json }}</pre>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.type }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isRequired">
            <mat-header-cell *matHeaderCellDef>Is Required</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.isRequired }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isUnique">
            <mat-header-cell *matHeaderCellDef>isUnique</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.isUnique }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="minLength">
            <mat-header-cell *matHeaderCellDef>min Length</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.minLength }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="maxLength">
            <mat-header-cell *matHeaderCellDef>Max Length</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.maxLength }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="patternValue">
            <mat-header-cell *matHeaderCellDef>Pattern Value</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.patternValue }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="minBytesValue">
            <mat-header-cell *matHeaderCellDef>min Bytes Value</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.minBytesValue }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="maxBytesValue">
            <mat-header-cell *matHeaderCellDef>max Bytes Value</mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.maxBytesValue }} </mat-cell>
        </ng-container>
        

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="'/m8t/field-reference/detail/' + e.id">
                      <mat-icon>details</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item (click)="editFieldReference(e)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                    <button mat-menu-item (click)="deleteFieldReference(e.id)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let dataSource; columns: displayColumns;"></mat-row>

    </mat-table>

</div>