#aig-partecipation-detail-page {
    #designed-company-list {
        position: relative;
        padding-bottom: 64px !important;
    }

    #insurance-policy-list {
        position: relative;
        padding-bottom: 64px !important;
    }

    #preparation-list {
        position: relative;
        padding-bottom: 64px !important;
    }
}