#add-designated-company-button{
    margin-top: 8px;
    margin-left: 1042px;
    margin-bottom: 8px;
}

#add-insurance-policy-button{
    margin-top: 8px;
    margin-left: 1042px;
    margin-bottom: 8px;
}

#add-preparation-button{
    margin-top: 8px;
    margin-left: 1042px;
    margin-bottom: 8px;
}