<div id="aig-iam-role-list" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <aig-iam-header></aig-iam-header>

    <div class="content">

        <div class="center p-16" fusePerfectScrollbar>
            <div class="content">
                <aig-role-system-table [displayedColumns]="roleSystemDisplayedColumns" [dataSource]="roleSystemDataSource"></aig-role-system-table>
            </div>
        </div>

        <div class="center p-16" fusePerfectScrollbar>
            <div class="content">
                <aig-role-custom-table [displayedColumns]="roleCustomDisplayedColumns" [dataSource]="roleCustomDataSource"></aig-role-custom-table>
                <div style="height: 45px;"></div>
                <button mat-fab class="accent" id="add-custom-role-button" (click)="newCustomRole()" aria-label="add role">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

    </div>

</div>