<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <span *ngIf="error.status == 401">No access to this info</span>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cig">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.CIG' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.cig }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.LOT_DESCRIPTION' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.description }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="offerExpiryDate">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.OFFER_EXPIRY_DATE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.offerExpiryDate | date: 'dd/MM/yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.LOT_AMOUNT' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.baseAmount | currency:'EUR' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="securityAmount">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.LOT_SECURITY_AMOUNT' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.securityAmount }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="locality">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.LOCALITY' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.istatCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nustCode">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.NUTIS' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.nustCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.LOT_TYPE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.type.name }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.LOT_CATEGORIES' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.category.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cpvCode">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.CPV_CODE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.cpvCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="awardCriterion">
            <mat-header-cell *matHeaderCellDef>{{ 'IPP.AWARD_CRITERION' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.awardCriterion.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>{{ 'MAIN.STATUS' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.status.description }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="'/ipp/procurement-lot/detail/' + e.id">
                      <mat-icon>details</mat-icon>
                      <span>{{ 'MAIN.DETAILS' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="editProcurementLot(e)">
                        <mat-icon>edit</mat-icon>
                        <span>{{ 'MAIN.EDIT' | translate }}</span>
                      </button>
                    <button mat-menu-item (click)="deleteProcurementLot(e.id)">
                        <mat-icon>delete</mat-icon>
                        <span>{{ 'MAIN.DELETE' | translate }}</span>
                      </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let dataSource; columns: displayColumns;"></mat-row>

    </mat-table>

</div>