.mat-column-cig {
    flex: 0 0 150px;
}
.mat-column-type {
    flex: 0 0 100px;
}
.mat-column-category {
    flex: 0 0 15%;
}
.mat-column-amount {
    flex: 0 0 150px;
}
.mat-column-offerExpiryDate {
    flex: 0 0 150px;
}
.mat-column-buttons {
    flex: 0 0 100px;
}