<div [ngSwitch]="view">
    <p *ngSwitchCase="'CARD'">
        card
    </p>
    <p *ngSwitchDefault>
        <!-- <soggetto-emittente-list-table-prime [ds]="ds"></soggetto-emittente-list-table-prime> -->
        <p-table 
            styleClass="p-datatable-lg"
            [value]="ds" [loading]="loading"
            [lazy]="true" (onLazyLoad)="lazyLoad($event)"
            
            [resizableColumns]="true"
            [(selection)]="selectedElements" >

            <ng-template pTemplate="header">
                <tr>
					<th style="width:50px" ></th>
                    <th style="width:auto" pResizableColumn pSortableColumn="eopooCode">eopooCode</th>



            <th style="width:auto" pResizableColumn pSortableColumn="">buttons</th>    

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e>
                <tr>
                    <td><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
					<td>{{ e.eopooCode }}</td>

            <td *ngIf="buttons">
                <button *ngFor="let button of buttons" (click)="button.fn(e)" >{{button.name}}</button>
            </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</div>

<agal-paginator 
    [totalRecords]="totalRecords"
    [pageSizeOptions]="[30,50,100,500]"
    [initialSize]="30"
    (paginator)="changePagination($event)"
    ></agal-paginator>