<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="data.modalitaPagamento.id" class="title dialog-title">Update Modalita Pagamento </span>
            <span *ngIf="!data.modalitaPagamento.id" class="title dialog-title">Create New Modalita Pagamento</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <aig-modalita-pagamento-new-update-form [modalitaPagamento]="data.modalitaPagamento"></aig-modalita-pagamento-new-update-form>
    </div>
</div>