        <div class="h1 m-8 ml-16">{{ context-module.context-module }}</div>
        <div class="h4 ml-16">ID: <b>{{ context-module.id }}</b></div>

        <div class="h4 ml-16">active: <b>{{ contextModule.active }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">name: <b>{{ contextModule.eopoo.person.name }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">contextCode: <b>{{ contextModule.eopoo.person.contextCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">nameDatabase: <b>{{ contextModule.eopoo.person.nameDatabase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">logoImage: <b>{{ contextModule.eopoo.person.logoImage }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">name: <b>{{ contextModule.eopoo.person.name }}</b></div>

