<div id="aig-ipp-procedure-detail-page" class="page-layout blank">
    
    <aig-standard-header [sectionName]="ippProcedure.name" [search]="false"></aig-standard-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-ipp-procedure [ippProcedure]="ippProcedure"></entity-detail-ipp-procedure>

             
                <button mat-stroked-button color="primary" (click)="editIppProcedureDTO(ippProcedure)">Edit</button>
                <button mat-stroked-button color="primary"(click)="deleteIppProcedure(ippProcedure.id)">Delete</button>
            </div>
        </div>
    </div>
</div>