<form *ngIf="step.form" [formGroup]="regimeFiscaleNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Regime Fiscale Value</mat-label>
            <input name="value" formControlName="value" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Descrizione</mat-label>
            <input name="description" formControlName="description" matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ regimeFiscaleNewUpdateForm.value | json }}</pre>
    <button *ngIf="!regimeFiscaleNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newRegimeFiscale()">Create New</button>
</div>
       