<form *ngIf="step.form" [formGroup]="fiscalTransactionNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Date</mat-label>
            <input type="date" formControlName="date" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Codice</mat-label>
            <input type= "number" formControlName="code" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Importo</mat-label>
            <input type= "number" formControlName="amount" matInput required>
        </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Acquisto</mat-label>
        <input type= "text" formControlName="buyer" matInput required>
    </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Stato</mat-label>
        <input type= "text" formControlName="status" matInput required>
    </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">{{ 'MAIN.CREATE' | translate | titlecase }}</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ fiscalTransactionNewUpdateForm.value | json }}</pre>
    <button *ngIf="!fiscalTransactionNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newFiscalTransaction()">{{ 'MAIN.CREATE_NEWA' | translate | titlecase }}</button>
</div>