<table id="table">
    <tr>
        <td>
        
        </td>
        <td *ngFor="let priceListDTO of priceListDTOs">
            {{ priceListDTO.name }} | {{ priceListDTO.id }}
        </td>
    </tr>
    <tr *ngFor="let catalogItemDTO of catalogItemDTOs">
        <td >
            {{ catalogItemDTO.id }} | {{ catalogItemDTO.inventoryItemCombination.inventoryItem.name }} - {{ catalogItemDTO.inventoryItemCombination.name }}
        </td>
        <td *ngFor="let priceListDTO of priceListDTOs">
            <span *ngIf="temp[catalogItemDTO.id] && temp[catalogItemDTO.id][priceListDTO.id]">
                {{ temp[catalogItemDTO.id][priceListDTO.id].amount | currency:'EUR':true }}
            </span>
            <span *ngIf="!(temp[catalogItemDTO.id] && temp[catalogItemDTO.id][priceListDTO.id])">
                <button (click)="newPriceListItem(temp)">aggiungi</button> da creare con price list= {{ priceListDTO.id }}  e catalog item = {{catalogItemDTO.id }}
            </span>
        </td>
    </tr>
</table>