<form *ngIf="step.form" [formGroup]="socialNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Social Name</mat-label>
            <input name="name" formControlName="name" matInput required ="required">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Code</mat-label>
            <input name="code" formControlName="code" matInput required = "required">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Wiki Code</mat-label>
            <input name="wikicode" formControlName="wikiCode" matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ socialNewUpdateForm.value | json }}</pre>
    <button *ngIf="!socialNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newSocial()">Create New</button>
</div>