<div class="page-layout simple left-sidebar">
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="ipp-lot-category-list-page-sidebar" position="left" lockedOpen="gt-md">
        <!-- SIDEBAR CONTENT -->
        <div class="content">
            <div>
                <div class="p-16 border-bottom" fxLayout="row" fxLayoutAlign="center top">
                    <button mat-raised-button (click)="showAllIppLotCategory()">Resetta filtri</button>
                </div>
                <div class="header pl-16 mt-8" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h3">Filtri</span>
                </div>
                <div class="content" fusePerfectScrollbar>
                    <div class="nav material2">
                        <div class="nav-item" aria-label="inbox">
                            <form [formGroup]="ippLotCategorySearchFormGroup"
                                (ngSubmit)="ippLotCategorySearchWithFilter()" class="p-8">

                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Id</mat-label>
                                        <input matInput type="number" formControlName="id">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Name</mat-label>
                                        <input matInput type="text" formControlName="name">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="end top">
                                    <button type="submit" mat-raised-button color="accent">Cerca</button>
                                </div>

                                  <!--<div fxLayout="row" fxLayoutAlign="end top">
                                    <button mat-raised-button (click)="publish()"> Publish </button>
                                </div>
                                -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                (click)="toggleSidebar('ipp-lot-category-list-page-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>
            <h2>Ipp lot category</h2>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content mb-48">
            <aig-lot-category-list-table [displayedColumns]="ippLotCategoryDC" [dataSource]="ippLotCategoryDTOs"
                [error]="ippLotCategoryError"></aig-lot-category-list-table>

            <mat-paginator #paginator [length]="ippLotCategoryLength"
                [pageSize]="this.ippLotCategoryPaginationSize" [pageIndex]="this.ippLotCategoryFilters.page"
                [pageSizeOptions]="[10, 20, 50]" (page)="ippLotCategoryPaginationEvent($event)">
            </mat-paginator>

            <button mat-fab class="accent" id="add-ipp-lot-category-button" (click)="newIppLotCategory()"
                aria-label="add ipp lot category">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>