        <div class="h1 m-8 ml-16">{{ dettaglio-linea.dettaglio-linea }}</div>
        <div class="h4 ml-16">ID: <b>{{ dettaglio-linea.id }}</b></div>

        <div class="h4 ml-16">numeroLinea: <b>{{ dettaglioLinea.numeroLinea }}</b></div>
        <div class="h4 ml-16">tipoCessionePrestazioneCode: <b>{{ dettaglioLinea.tipoCessionePrestazioneCode }}</b></div>
        <div class="h4 ml-16">codiceArticoloTipo: <b>{{ dettaglioLinea.codiceArticoloTipo }}</b></div>
        <div class="h4 ml-16">codiceArticoloValore: <b>{{ dettaglioLinea.codiceArticoloValore }}</b></div>
        <div class="h4 ml-16">descrizione: <b>{{ dettaglioLinea.descrizione }}</b></div>
        <div class="h4 ml-16">quantita: <b>{{ dettaglioLinea.quantita }}</b></div>
        <div class="h4 ml-16">unitaMisura: <b>{{ dettaglioLinea.unitaMisura }}</b></div>
        <div class="h4 ml-16">dataInizioPeriodo: <b>{{ dettaglioLinea.dataInizioPeriodo }}</b></div>
        <div class="h4 ml-16">dataFinePeriodo: <b>{{ dettaglioLinea.dataFinePeriodo }}</b></div>
        <div class="h4 ml-16">prezzoUnitario: <b>{{ dettaglioLinea.prezzoUnitario }}</b></div>
        <div class="h4 ml-16">prezzoTotale: <b>{{ dettaglioLinea.prezzoTotale }}</b></div>
        <div class="h4 ml-16">aliquotaIVA: <b>{{ dettaglioLinea.aliquotaIVA }}</b></div>
        <div class="h4 ml-16">ritenuta: <b>{{ dettaglioLinea.ritenuta }}</b></div>
        <div class="h4 ml-16">naturaCode: <b>{{ dettaglioLinea.naturaCode }}</b></div>
        <div class="h4 ml-16">riferimentoAmministrazione: <b>{{ dettaglioLinea.riferimentoAmministrazione }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ dettaglioLinea.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">divisa: <b>{{ dettaglioLinea.eopoo.person.divisa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ dettaglioLinea.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ dettaglioLinea.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoTotaleDocumento: <b>{{ dettaglioLinea.eopoo.person.importoTotaleDocumento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">arrotondamento: <b>{{ dettaglioLinea.eopoo.person.arrotondamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causale: <b>{{ dettaglioLinea.eopoo.person.causale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">art73: <b>{{ dettaglioLinea.eopoo.person.art73 }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoDocumentoCode: <b>{{ dettaglioLinea.eopoo.person.tipoDocumentoCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">bolloVirtuale: <b>{{ dettaglioLinea.eopoo.person.bolloVirtuale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoBollo: <b>{{ dettaglioLinea.eopoo.person.importoBollo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">riferimentoFase: <b>{{ dettaglioLinea.eopoo.person.riferimentoFase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">vettoreEopooCode: <b>{{ dettaglioLinea.eopoo.person.vettoreEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">mezzoTrasporto: <b>{{ dettaglioLinea.eopoo.person.mezzoTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causaleTrasporto: <b>{{ dettaglioLinea.eopoo.person.causaleTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numeroColli: <b>{{ dettaglioLinea.eopoo.person.numeroColli }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">descrizione: <b>{{ dettaglioLinea.eopoo.person.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">unitaMisuraPeso: <b>{{ dettaglioLinea.eopoo.person.unitaMisuraPeso }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoLordo: <b>{{ dettaglioLinea.eopoo.person.pesoLordo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoNetto: <b>{{ dettaglioLinea.eopoo.person.pesoNetto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraRitiro: <b>{{ dettaglioLinea.eopoo.person.dataOraRitiro }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataInizioTrasporto: <b>{{ dettaglioLinea.eopoo.person.dataInizioTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoResa: <b>{{ dettaglioLinea.eopoo.person.tipoResa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraConsegna: <b>{{ dettaglioLinea.eopoo.person.dataOraConsegna }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">indirizzo: <b>{{ dettaglioLinea.eopoo.person.indirizzo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ dettaglioLinea.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ dettaglioLinea.eopoo.person.data }}</b></div>

