
    <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100">




		<fuse-widget fxFlex.gt-md="60" fxFlex.gt-xs="50" fxFlex="100">
			<div class="fuse-widget-front">
				<div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
					<h2>BENVENUTO IN API-GEST!</h2>
				</div>
				<div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
					<span class="h4 secondary-text">
						Da qui puoi utilizzare i tuoi modili attivi su Api-Gest. Se non vedi nulla nel menù a sinistra clicca sul tuo nome in alto a destra e poi su reload permissions.
					</span>
				</div>
			</div>
		</fuse-widget>

		<!--




		<fuse-widget fxFlex.gt-md="40" fxFlex.gt-xs="50" fxFlex="100">
			<div class="fuse-widget-front">
				<div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
					<div>Utenti attivi</div>
				</div>
				<div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
					<div class="light-blue-fg font-size-72 line-height-72">6</div>
					<div class="h3 secondary-text font-weight-500">utenti</div>
				</div>
				<div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
					<span class="h4 secondary-text text-truncate">
						Costo mensile licenze:
					</span>
					<span class="h4 ml-8">
						€ 20.00
					</span>
				</div>
			</div>
		</fuse-widget>

		<fuse-widget fxFlex.gt-md="60" fxFlex.gt-xs="50" fxFlex="100">
			<div class="fuse-widget-front">
				<div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
					<div>Uso medio</div>
				</div>
			</div>
		</fuse-widget>
		
-->



	</div>

