<div id="aig-esigibilita-iva-detail-page" class="page-layout blank">
    <aig-standard-header [sectionName]="esigibilitaIva.value" [search]="false"></aig-standard-header>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
               

               <entity-detail-esigibilita-iva [esigibilitaIva]="esigibilitaIva"></entity-detail-esigibilita-iva>

                <button mat-stroked-button color="primary" (click)="editEsigibilitaIva(esigibilitaIva)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteEsigibilitaIva(esigibilitaIva.id)">Delete </button>
            </div>
        </div>
    </div>
</div>