<div id="aig-user-eopoo-associate-form" *ngIf="step.form">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">

        <div class="h4 mb-4 ">ASSOCIATE</div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field class="mr-8 ml-8" appearance="outline" fxFlex>
                <mat-label>Utente da associare</mat-label>
                <mat-icon matSuffix class="secondary-text">person</mat-icon>
                <input type="text" matInput formControlName="user" required [matAutocomplete]="userAutocomplete">
                <mat-autocomplete #userAutocomplete="matAutocomplete"
                    [displayWith]="aigAutocompleteFunctionService.userDisplayFn">
                    <mat-option *ngFor="let user of filteredUsers | async" [value]="user">{{ user.email }}</mat-option>
                </mat-autocomplete>
                <mat-error>E' necessario selezionare un utente!</mat-error>
            </mat-form-field>
        </div>
        <div class="h4 mb-4 mt-8">TO</div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field class="mr-8 ml-8" appearance="outline" fxFlex>
                <mat-label>Anagrafica da associare</mat-label>
                <mat-icon matSuffix class="secondary-text">how_to_reg</mat-icon>
                <input type="text" matInput formControlName="eopoo" required
                    [matAutocomplete]="eopooPersonAutocomplete">
                <mat-autocomplete #eopooPersonAutocomplete="matAutocomplete"
                    [displayWith]="AigGenericAutocompleteDisplayService.eopooDisplayFn">
                    <mat-option *ngFor="let filteredEopoo of filteredEopoos | async" [value]="filteredEopoo">
                        {{ filteredEopoo | eopooName }}</mat-option>
                </mat-autocomplete>
                <mat-error>E' necessario selezionare un'anagrafica!</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="end top">
            <button type="submit" mat-raised-button color="accent">Associa</button>
        </div>

    </form>
</div>
<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    Associazione effettuata
</div>