        <div class="h1 m-8 ml-16">{{ procurement-lot.procurement-lot }}</div>
        <div class="h4 ml-16">ID: <b>{{ procurement-lot.id }}</b></div>

        <div class="h4 ml-16">cig: <b>{{ procurementLot.cig }}</b></div>
        <div class="h4 ml-16">description: <b>{{ procurementLot.description }}</b></div>
        <div class="h4 ml-16">offerExpiryDate: <b>{{ procurementLot.offerExpiryDate }}</b></div>
        <div class="h4 ml-16">baseAmount: <b>{{ procurementLot.baseAmount }}</b></div>
        <div class="h4 ml-16">candidacy: <b>{{ procurementLot.candidacy }}</b></div>
        <div class="h4 ml-16">securityAmount: <b>{{ procurementLot.securityAmount }}</b></div>
        <div class="h4 ml-16">istatCode: <b>{{ procurementLot.istatCode }}</b></div>
        <div class="h4 ml-16">nutsCode: <b>{{ procurementLot.nutsCode }}</b></div>
        <div class="h4 ml-16">cpvCode: <b>{{ procurementLot.cpvCode }}</b></div>
        <div class="h4 ml-16">typeCode: <b>{{ procurementLot.typeCode }}</b></div>
        <div class="h4 ml-16">categoryCode: <b>{{ procurementLot.categoryCode }}</b></div>
        <div class="h4 ml-16">awardCriterionCode: <b>{{ procurementLot.awardCriterionCode }}</b></div>
        <div class="h4 ml-16">statusCode: <b>{{ procurementLot.statusCode }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">description: <b>{{ procurementLot.eopoo.person.description }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">code: <b>{{ procurementLot.eopoo.person.code }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">ref: <b>{{ procurementLot.eopoo.person.ref }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">contractorEopooCode: <b>{{ procurementLot.eopoo.person.contractorEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">sectorCode: <b>{{ procurementLot.eopoo.person.sectorCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">procedureCode: <b>{{ procurementLot.eopoo.person.procedureCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">modalityCode: <b>{{ procurementLot.eopoo.person.modalityCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">statusCode: <b>{{ procurementLot.eopoo.person.statusCode }}</b></div>

