<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="data.procurement == null" class="title dialog-title">Crea gara d'appalto</span>
            <span *ngIf="data.procurement != null" class="title dialog-title">Modifica gara d'appalto</span>
            
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <aig-procurement-new-update-form [procurement]="data.procurement"></aig-procurement-new-update-form>
    </div>
</div>