<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <span *ngIf="error.status == 401">No access to this info</span>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>

        
        <ng-container matColumnDef="eopoo">
            <mat-header-cell *matHeaderCellDef> Eopoo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.eopoo }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="referent">
            <mat-header-cell *matHeaderCellDef> Referent </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.referent.lastname }}  {{ element.referent.firstname }} </mat-cell> -
        </ng-container>
        
        <ng-container matColumnDef="contactType">
            <mat-header-cell *matHeaderCellDef> Contact Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.contactTypeCode }} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.value }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-stroked-button color="primary" (click)="editContact(element)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteContact(element)">Delete</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let dataSource; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>