<div id="aig-procurement-lot-status-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <procurement-lot-status-detail-box [procurementLotStatus]="procurementLotStatus"></procurement-lot-status-detail-box>

                <button mat-stroked-button color="primary" (click)="editProcurementLotStatus(procurementLotStatus)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteProcurementLotStatus(procurementLotStatus.id)">Delete</button>
            </div>
        </div>
    </div>
</div>