<div id="aig-social-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Cataloghi</div>
                <div class="h1 m-16">{{ catalogDTO.name }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ catalogDTO.id }}</div>
                <div *ngIf="catalogDTO.seller" class="h4 m-8 ml-16 mb-0 secondary-text">Seller: {{ catalogDTO.seller.name }}</div>
                <br>
                <button mat-stroked-button color="primary" (click)="editCatalog(catalogDTO)">Edit</button>
            </div>
        </div>
    </div>
</div>