<div id="aig-permission-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-permission [permissionDTO]="permissionDTO"></entity-detail-permission>
                

                <button mat-stroked-button color="primary" (click)="editPermission(permissionDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deletePermission(permissionDTO.id)">Delete</button>
            </div>
        </div>
    </div>
</div>