<form *ngIf="step.form" [formGroup]="formGroup" (ngSubmit)="submit()">
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Group Name</mat-label>
            <mat-icon matSuffix class="secondary-text">group</mat-icon>
            <input name="name" formControlName="name" matInput required>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ contextGroup | json }}</pre>
</div>