<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Login</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 p-16 m-0" fusePerfectScrollbar>
		<div *ngIf="loading">
			<div fxLayout="row" fxLayoutAlign="center center" fxFlex>
				<mat-spinner [diameter]="40"></mat-spinner>
			</div>
		</div>
		
		<div *ngIf="!loading && dataSource.length == 0">
			<p>Nessun sistema di autenticazione attivo.</p>
		</div>

        <mat-table #table [dataSource]="dataSource" *ngIf="!loading && dataSource.length > 0">
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
				<mat-cell *matCellDef="let e"> {{ e.name }} </mat-cell>
			</ng-container>
				
			<ng-container matColumnDef="buttons">
				<mat-header-cell *matHeaderCellDef></mat-header-cell>
				<mat-cell *matCellDef="let e">
					<button class="mr-8" mat-stroked-button color="accent" (click)="goToAuth(e)">LOGIN</button>
				</mat-cell>
			</ng-container>
	
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let dataSource; columns: displayedColumns;"></mat-row>
		</mat-table>

    </div>
</div>