        <div class="h1 m-8 ml-16">{{ dettaglio-pagamento.dettaglio-pagamento }}</div>
        <div class="h4 ml-16">ID: <b>{{ dettaglio-pagamento.id }}</b></div>

        <div class="h4 ml-16">beneficiario: <b>{{ dettaglioPagamento.beneficiario }}</b></div>
        <div class="h4 ml-16">modalitaPagamentoCode: <b>{{ dettaglioPagamento.modalitaPagamentoCode }}</b></div>
        <div class="h4 ml-16">dataRiferimentoTerminiPagamento: <b>{{ dettaglioPagamento.dataRiferimentoTerminiPagamento }}</b></div>
        <div class="h4 ml-16">giorniTerminiPagamento: <b>{{ dettaglioPagamento.giorniTerminiPagamento }}</b></div>
        <div class="h4 ml-16">dataScadenzaPagamento: <b>{{ dettaglioPagamento.dataScadenzaPagamento }}</b></div>
        <div class="h4 ml-16">importoPagamento: <b>{{ dettaglioPagamento.importoPagamento }}</b></div>
        <div class="h4 ml-16">codUfficioPostale: <b>{{ dettaglioPagamento.codUfficioPostale }}</b></div>
        <div class="h4 ml-16">cognomeQuietanzante: <b>{{ dettaglioPagamento.cognomeQuietanzante }}</b></div>
        <div class="h4 ml-16">nomeQuietanzante: <b>{{ dettaglioPagamento.nomeQuietanzante }}</b></div>
        <div class="h4 ml-16">cFQuietanzante: <b>{{ dettaglioPagamento.cFQuietanzante }}</b></div>
        <div class="h4 ml-16">titoloQuietanzante: <b>{{ dettaglioPagamento.titoloQuietanzante }}</b></div>
        <div class="h4 ml-16">istitutoFinanziario: <b>{{ dettaglioPagamento.istitutoFinanziario }}</b></div>
        <div class="h4 ml-16">iBAN: <b>{{ dettaglioPagamento.iBAN }}</b></div>
        <div class="h4 ml-16">aBI: <b>{{ dettaglioPagamento.aBI }}</b></div>
        <div class="h4 ml-16">cAB: <b>{{ dettaglioPagamento.cAB }}</b></div>
        <div class="h4 ml-16">bIC: <b>{{ dettaglioPagamento.bIC }}</b></div>
        <div class="h4 ml-16">scontoPagamentoAnticipato: <b>{{ dettaglioPagamento.scontoPagamentoAnticipato }}</b></div>
        <div class="h4 ml-16">dataLimitePagamentoAnticipato: <b>{{ dettaglioPagamento.dataLimitePagamentoAnticipato }}</b></div>
        <div class="h4 ml-16">penalitaPagamentiRitardati: <b>{{ dettaglioPagamento.penalitaPagamentiRitardati }}</b></div>
        <div class="h4 ml-16">dataDecorrenzaPenale: <b>{{ dettaglioPagamento.dataDecorrenzaPenale }}</b></div>
        <div class="h4 ml-16">codicePagamento: <b>{{ dettaglioPagamento.codicePagamento }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">condizioniPagamento: <b>{{ dettaglioPagamento.eopoo.person.condizioniPagamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ dettaglioPagamento.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">divisa: <b>{{ dettaglioPagamento.eopoo.person.divisa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ dettaglioPagamento.eopoo.person.data }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ dettaglioPagamento.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoTotaleDocumento: <b>{{ dettaglioPagamento.eopoo.person.importoTotaleDocumento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">arrotondamento: <b>{{ dettaglioPagamento.eopoo.person.arrotondamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causale: <b>{{ dettaglioPagamento.eopoo.person.causale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">art73: <b>{{ dettaglioPagamento.eopoo.person.art73 }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoDocumentoCode: <b>{{ dettaglioPagamento.eopoo.person.tipoDocumentoCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">bolloVirtuale: <b>{{ dettaglioPagamento.eopoo.person.bolloVirtuale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">importoBollo: <b>{{ dettaglioPagamento.eopoo.person.importoBollo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">riferimentoFase: <b>{{ dettaglioPagamento.eopoo.person.riferimentoFase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">vettoreEopooCode: <b>{{ dettaglioPagamento.eopoo.person.vettoreEopooCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">mezzoTrasporto: <b>{{ dettaglioPagamento.eopoo.person.mezzoTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">causaleTrasporto: <b>{{ dettaglioPagamento.eopoo.person.causaleTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numeroColli: <b>{{ dettaglioPagamento.eopoo.person.numeroColli }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">descrizione: <b>{{ dettaglioPagamento.eopoo.person.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">unitaMisuraPeso: <b>{{ dettaglioPagamento.eopoo.person.unitaMisuraPeso }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoLordo: <b>{{ dettaglioPagamento.eopoo.person.pesoLordo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">pesoNetto: <b>{{ dettaglioPagamento.eopoo.person.pesoNetto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraRitiro: <b>{{ dettaglioPagamento.eopoo.person.dataOraRitiro }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataInizioTrasporto: <b>{{ dettaglioPagamento.eopoo.person.dataInizioTrasporto }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">tipoResa: <b>{{ dettaglioPagamento.eopoo.person.tipoResa }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dataOraConsegna: <b>{{ dettaglioPagamento.eopoo.person.dataOraConsegna }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">indirizzo: <b>{{ dettaglioPagamento.eopoo.person.indirizzo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">numero: <b>{{ dettaglioPagamento.eopoo.person.numero }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">data: <b>{{ dettaglioPagamento.eopoo.person.data }}</b></div>

