<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
        <mat-cell *matCellDef="let e"> {{ e.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let e"> {{ e.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="groups">
        <mat-header-cell *matHeaderCellDef> Groups </mat-header-cell>
        <mat-cell *matCellDef="let e">
            <aig-usergroup-chips [userGroups]="e.groupMemberOfs"></aig-usergroup-chips>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let e">
            <button class="mr-8" mat-stroked-button color="accent">Details</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let dataSource; columns: displayedColumns;"></mat-row>

</mat-table>