<div id="aig-tenant-context-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-tenant-context [tenantContextDTO]="tenantContextDTO"></entity-detail-tenant-context>
               

                <button mat-stroked-button color="primary" (click)="editTenantContext(tenantContextDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteTenantContext(tenantContextDTO.id)">Delete</button>
            </div>
        </div>
    </div>
</div>