<div id="aig-allegati-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

            
                <aig-allegati-detail [allegati]="allegati"></aig-allegati-detail>

                <button mat-stroked-button color="primary" (click)="editAllegati(allegati)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteAllegati(allegati.id)">Delete </button>
            </div>
        </div>
    </div>
</div>