<form *ngIf="step.form" [formGroup]="insurancePolicyNewUpdateForm" (ngSubmit)="submit()">
    
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" >
            <mat-label>Company Preparator Eopoo </mat-label>
            <input formControlName="companyPreparatorEopoo" matInput [matAutocomplete]="companyPreparatorEopooAutocomplete">
            <mat-autocomplete #companyPreparatorEopooAutocomplete="matAutocomplete" [displayWith]="genericAutocompleteDisplayService.eopooDisplayFn">
                <mat-option *ngFor="let eopoo of filteredEopoo | async" [value]="eopoo">{{ eopoo | eopooName }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
            <mat-label>Note</mat-label>
            <input formControlName="note" matInput >
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>Status</mat-label>
            <input formControlName="status" matInput [matAutocomplete]="statusAutocomplete">
            <mat-autocomplete #statusAutocomplete="matAutocomplete" [displayWith]="ippAutocompleteDisplayService.insurancePolicyStatusDisplayFn">
                <mat-option *ngFor="let insurancePolicyStatus of filteredInsurancePolicyStatus | async" [value]="insurancePolicyStatus">{{ insurancePolicyStatus.description }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="start start">

        <mat-form-field appearance="outline" >
            <mat-label>Partecipation</mat-label>
            <input formControlName="partecipation" matInput [matAutocomplete]="partecipationAutocomplete">
            <mat-autocomplete #partecipationAutocomplete="matAutocomplete" [displayWith]="ippAutocompleteDisplayService.partecipationDisplayFn">
                <mat-option *ngFor="let partecipation of filteredPartecipation | async" [value]="partecipation">{{ partecipation.id }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label> Total Amount</mat-label>
            <input type="number" formControlName="totalAmount" matInput required>
        </mat-form-field>
    </div>

    
    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Crea</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">

    <span>
        <h1>Hai creato una nuova insurance policy!</h1>
        <p>Company preparator Eopoo: {{ insurancePolicyNewUpdateForm.controls.companyPreparatorEopoo.value.genericEopoo ? insurancePolicyNewUpdateForm.controls.companyPreparatorEopoo.value.genericEopoo.name : insurancePolicyNewUpdateForm.controls.companyPreparatorEopoo.value.person.firstname + " " + insurancePolicyNewUpdateForm.controls.companyPreparatorEopoo.value.person.lastname }}</p>
        <p>Note: {{ insurancePolicyNewUpdateForm.controls.note.value }}</p>
        <p>Status: {{ insurancePolicyNewUpdateForm.controls.status.value.description }}</p>
        <p>Total amount: {{ insurancePolicyNewUpdateForm.controls.totalAmount.value | currency:'EUR' }}</p>
    </span>
    
    <button *ngIf="!insurancePolicyNewUpdateForm.value.id" mat-stroked-button color="primary"
        (click)="newInsurancePolicy()">Create New</button>

    <button [routerLink]="'/ipp/insurance-policy/detail/'" mat-stroked-button color="primary">Dettagli</button>

</div>
