<div class="page-layout simple left-sidebar">
	<!-- SIDEBAR -->
	<fuse-sidebar class="sidebar" name="price-list-item-sidebar" position="left" lockedOpen="gt-md">
		<!-- SIDEBAR CONTENT -->
		<div class="content">
			<div>
				<div class="p-16 border-bottom" fxLayout="row" fxLayoutAlign="center top">
					<button mat-raised-button (click)="resetFiltersPriceListItem()">Resetta filtri</button>
				</div>
				<div class="header pl-16 mt-8" fxLayout="row" fxLayoutAlign="start center">
					<span class="h3">Filtri</span>
				</div>
				<div class="content" fusePerfectScrollbar>
					<div class="nav material2">
						<div class="nav-item" aria-label="inbox">
							<form [formGroup]="priceListItemSearchFormGroup"
								(ngSubmit)="priceListItemSearchWithFilter()" class="p-8">
								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Id</mat-label>
										<input matInput type="number" formControlName="id">
									</mat-form-field>
								</div>
								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Catalog item</mat-label>
										<input matInput formControlName="catalogItem"
											[matAutocomplete]="catalogItemAutocomplete">
										<mat-autocomplete #catalogItemAutocomplete="matAutocomplete"
											[displayWith]="autocompleteDisplayService.catalogItemDisplayFn">
											<mat-option *ngFor="let catalogItem of filteredCatalogItem | async"
												[value]="catalogItem">
												{{ catalogItem.inventoryItemCombination.inventoryItem.name }} - {{
												catalogItem.inventoryItemCombination.name }}</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Price List</mat-label>
										<input matInput type="text" formControlName="priceList"
											[matAutocomplete]="priceListAutocomplete">
										<mat-autocomplete #priceListAutocomplete="matAutocomplete"
											[displayWith]="autocompleteDisplayService.priceListDisplayFn">
											<mat-option *ngFor="let priceList of filteredPriceList | async"
												[value]="priceList">
												{{ priceList.name }}</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div fxLayout="row" fxLayoutAlign="end top">
									<button type="submit" mat-raised-button color="accent">Cerca</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / SIDEBAR CONTENT -->
	</fuse-sidebar>
	<!-- / SIDEBAR -->
	<!-- CENTER -->
	<div class="center">
		<!-- HEADER -->
		<div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
			<button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
				(click)="toggleSidebar('purchase-sidebar')">
				<mat-icon>menu</mat-icon>
			</button>
			<h2>Elenco price list item</h2>
		</div>
		<!-- / HEADER -->
		<!-- CONTENT -->
		<div class="content mb-48">
			<aig-price-list-item-list-table [displayColumns]="priceListItemDC" [dataSource]="priceListItemDTOs"
				[error]="priceListItemError"></aig-price-list-item-list-table>

			<mat-paginator #paginator [length]="priceListItemLength" [pageSize]="this.priceListItemPaginationSize"
				[pageIndex]="this.priceListItemFilters.page" [pageSizeOptions]="[10, 20, 50]"
				(page)="priceListItemPaginationEvent($event)">
			</mat-paginator>

			<button mat-fab class="accent" id="add-price-list-item-button" (click)="newPriceListItem()">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<!-- / CONTENT -->
	</div>
	<!-- / CENTER -->
</div>