<div id="aig-purchase-detail-page" class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="30">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Acquisto</div>
                <div class="h1 m-16">{{ purchase.amount | currency:'EUR' }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ purchase.id }}</div>
                <div class="h4 m-8 ml-16">Data: {{ purchase.insertedDateTime | date }}</div>
            </div>
        </div>
        <div class="widget p-16" fxFlex.gt-sm="35">
            <div class="fuse-card auto-width p-16">
                Scontrini:
                <aig-fiscal-transaction-list-table [dataSource]="fiscalTransactionDTOs"
                    [displayedColumns]="fiscalTransactionDisplayedColumns" [error]="fiscalTransactionError">
                </aig-fiscal-transaction-list-table>
            </div>
        </div>
        <div class="widget p-16" fxFlex.gt-sm="35">
            <div class="fuse-card auto-width p-16">
                Buoni usati:
                <p *ngFor="let valuePaperPaymentItemDTO of valuePaperPaymentItemDTOs">
                    Importo: {{ valuePaperPaymentItemDTO.amount | currency:'EUR' }}, matrice {{ valuePaperPaymentItemDTO.code }}
                </p>
            </div>
        </div>
    </div>
</div>