<div id="aig-purchase-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
        </div>
    </div>

    
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="20">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Acquisto</div>
                <div class="h1 m-16">{{ purchaseDTO.amount | currency:'EUR' }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ purchaseDTO.id }}</div>
                <div class="h4 m-8 ml-16">Data: {{ purchaseDTO.insertedDateTime | date }}</div>
                <div class="h4 m-8 ml-16">Note: {{ purchaseDTO.statusNote}}</div>
                <div class="h4 m-8 ml-16">Closed: {{ purchaseDTO.closed }}</div>
                <button mat-stroked-button color="primary" (click)="editPurchase(purchaseDTO)">Edit</button>
            </div>
        </div>

        <div class="widget p-16" fxFlex.gt-sm="20">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Cliente</div>
                <div class="h1 m-16" *ngIf="purchaseDTO.buyer.eopoo">{{ purchaseDTO.buyer.eopoo | eopooName }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ purchaseDTO.buyer.id }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Codice Anagrafica: {{ purchaseDTO.buyer.eopooCode }}</div>
                <div class="h4 m-8 ml-16">Stato: {{ purchaseDTO.buyer.statusNote | AigC6eGenericStatus }}</div>
                <button class="mr-8" mat-stroked-button color="accent" [routerLink]="'/commerce/buyer/detail/' + purchaseDTO.buyer.id">Details</button>
        </div>
            
            <div class="fuse-card auto-width p-16 mt-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Venditore</div>
                <div class="h2 m-16">{{ purchaseDTO.buyer.seller.name }}</div>
            </div>
        </div>

        <div class="widget p-16" fxFlex.gt-sm="60">
            <div class="fuse-card auto-width p-16">
                <aig-purchase-item-list-table [dataSource]="purchaseItemDTOs" [displayColumns]="purchaseItemDC" [error]="purchaseItemError"></aig-purchase-item-list-table>

                <div style="height: 35px;"></div>

                <button mat-fab class="accent" id="add-purchase-item-button"
                    (click)="addPurchaseItem(purchaseItemDTO)" aria-label="add purchase item">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
                Scontrini:
                <aig-fiscal-transaction-list-table [dataSource]="fiscalTransactionDTOs"
                    [displayColumns]="fiscalTransactiondisplayColumns" [error]="fiscalTransactionError">
                </aig-fiscal-transaction-list-table>
            </div>
            

        </div>
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
               Pagamenti:
               <aig-payment-list-table [dataSource]="paymentDTOs" [displayColumns]="paymentDC" [error]= "paymentError" ></aig-payment-list-table>
            </div>
        </div>

    </div>


</div>