<div id="aig-designated-company-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

            
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Azienda</div>
                <div class="h1 m-16">ID:{{ designatedCompanyDTO.id }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Id partecipazione: {{designatedCompanyDTO.partecipation.id}}</div>
                

                <button mat-stroked-button color="primary" (click)="editDesignatedCompany(designatedCompanyDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteDesignatedCompany(designatedCompanyDTO.id)">Delete</button>

            </div>
        </div>
    </div>
</div>