<div id="aig-designated-company-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <pre>{{ designatedCompanyDTO | json }}</pre>

                <button mat-stroked-button color="primary" (click)="editDesignatedCompany(designatedCompanyDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteDesignatedCompany(designatedCompanyDTO.id)">Delete</button>

            </div>
        </div>
    </div>
</div>