<div class="h4 m-8 ml-16 mb-0 secondary-text">
    ID: {{ eopoo.id }}
    -
    TIPO: {{ eopoo.eopooType.name }}
</div>
<div class="h1 m-8 ml-16">{{ eopoo | eopooName }}</div>
<div class="h4 ml-16" *ngIf="eopoo.person">Codice fiscale: <b>{{ eopoo.taxNumber }}</b></div>
<div class="h4 ml-16" *ngIf="!eopoo.person">Partita Iva: <b>{{ eopoo.taxNumber }}</b></div>
<div *ngIf="eopoo.person">
    <div class="h4 ml-16">Sesso: <b>{{ eopoo.person.sex }}</b></div>
    <div class="h4 ml-16">Data nascita: <b>{{ eopoo.person.bornDate }}</b></div>
    <div class="h4 ml-16">Città nascita: <b>{{ eopoo.person.city.name }}</b></div>
</div>