<div class="h4 m-8 ml-16 mb-0 secondary-text">
    ID: {{ eopooDTO.id }}
    -
    TIPO: {{ eopooDTO.eopooType.name }}
</div>
<div class="h1 m-8 ml-16">{{ eopooDTO | eopooName }}</div>
<div class="h4 ml-16">Codice fiscale: <b>{{ eopooDTO.taxNumber }}</b></div>
<div *ngIf="eopooDTO.person">
    <div class="h4 ml-16">Sesso: <b>{{ eopooDTO.person.sex }}</b></div>
    <div class="h4 ml-16">Data nascita: <b>{{ eopooDTO.person.bornDate }}</b></div>
    <div class="h4 ml-16">Città nascita: <b>{{ eopooDTO.person.city.name }}</b></div>
</div>