<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <h3>Error!</h3>
    <span *ngIf="error.status == 401">No access to this info</span>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="creationDateTime">
            <mat-header-cell *matHeaderCellDef>Data transazione</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.creationDateTime }}</mat-cell>
        </ng-container>

		<ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Importo</mat-header-cell>
            <mat-cell *matCellDef="let e">{{ e.amount }}</mat-cell>
        </ng-container>

		<ng-container matColumnDef="sender">
            <mat-header-cell *matHeaderCellDef>Inviante</mat-header-cell>
            <mat-cell *matCellDef="let e">
				<span *ngFor="let giveHave of e.giveHaves">
					<div *ngIf="giveHave.type == 'OUTPUT'">
						<span>{{ giveHave.wallet.eopoo | eopooName }}</span><br>
						<span>{{ giveHave.wallet.description }}</span>
					</div>
				</span>
			</mat-cell>
        </ng-container>
		
		<ng-container matColumnDef="reciver">
            <mat-header-cell *matHeaderCellDef>Ricevente</mat-header-cell>
            <mat-cell *matCellDef="let e">
				<span *ngFor="let giveHave of e.giveHaves">
					<div *ngIf="giveHave.type == 'INPUT'">
						<span>{{ giveHave.wallet.eopoo | eopooName }}</span><br>
						<span>{{ giveHave.wallet.description }}</span>
					</div>
				</span>
			</mat-cell>
        </ng-container>



		
		
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="'/wallet/transaction/detail/' + e.id">
                      <mat-icon>details</mat-icon>
                      <span>{{ 'MAIN.DETAILS' | translate | titlecase }}</span>
                    </button>
                  </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let dataSource; columns: displayColumns;"></mat-row>

    </mat-table>

</div>