<div [ngSwitch]="view">
	<p *ngSwitchCase="'CARD'">
		card
	</p>
	<p *ngSwitchDefault>
		
		<p-table styleClass="p-datatable-lg" 
			[value]="ds" [loading]="loading" 
			[lazy]="true" (onLazyLoad)="lazyLoad($event)" 
			[resizableColumns]="true" [(selection)]="selectedElements">
            
            [resizableColumns]="true"
            [(selection)]="selectedElements" >

            <ng-template pTemplate="header">
                <tr>
                    <ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
                        <th *ngSwitchCase="'_ck'" style="width:50px" ></th>
                        <th *ngSwitchCase="'description'" style="width:auto" pResizableColumn pSortableColumn="procurementDescription">Descrizione</th>
                        <th *ngSwitchCase="'code'" style="width:auto" pResizableColumn pSortableColumn="code">codice</th>
                        <th *ngSwitchCase="'ref'" style="width:auto" pResizableColumn pSortableColumn="ref">ref</th>
                        <th *ngSwitchCase="'contractorEopoo'" style="width:auto" pResizableColumn pSortableColumn="contractorCompleteName">Stazione appaltante</th>
                        <th *ngSwitchCase="'sector'" style="width:auto" pResizableColumn pSortableColumn="sector">settore</th>
                        <th *ngSwitchCase="'procedure'" style="width:auto" pResizableColumn pSortableColumn="procurementProcedureName">procedura</th>
                        <th *ngSwitchCase="'modality'" style="width:auto" pResizableColumn pSortableColumn="procurementModalityName">modalità</th>
                        <th *ngSwitchCase="'status'" style="width:auto" pResizableColumn pSortableColumn="procurementStatusName">stato</th>
                    </ng-container>
                
                    <th *ngIf="buttons" style="width:140px"></th>    

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e>
                <tr>
                    <ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
                        <td *ngSwitchCase="'_ck'"><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
                        <td *ngSwitchCase="'description'">{{ e.description }}</td>
                        <td *ngSwitchCase="'code'">{{ e.code }}</td>
                        <td *ngSwitchCase="'ref'">{{ e.ref }}</td>
                        <td *ngSwitchCase="'contractorEopoo'">{{ e.contractorEopoo  | eopooName}}</td>
                        <td *ngSwitchCase="'sector'">{{ e.sector.name }}</td>
                        <td *ngSwitchCase="'procedure'">{{ e.procedure.name }}</td>
                        <td *ngSwitchCase="'modality'">{{ e.modality.name }}</td>
                        <td *ngSwitchCase="'status'">{{ e.status.description }}</td>
                    </ng-container>

                    <td *ngIf="buttons">
						<ng-container *ngFor="let b of buttons">
							<p-splitButton *ngIf="b.childs" 
								styleClass="{{ b.class }} p-button-{{ b.severity }}" label="{{ b.label }}" 
								(onClick)="b.command(e)" [model]="b.childs"></p-splitButton>

							<button *ngIf="!b.childs" pButton type="button" 
								class="{{ b.class }} p-button-{{ b.severity }}" [ngClass]="{'ui-button-icon-only': b.hideLabel}"
								label="{{ b.label }}" icon="{{ b.icon }}"
								(click)="b.command(e)" ></button>
						</ng-container>
					</td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</div>

<agal-paginator [totalRecords]="totalRecords" [pageSizeOptions]="[30,50,100,500]" [initialSize]="30"
	(paginator)="changePagination($event)"></agal-paginator>