<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <h3>Error!</h3>
    <span *ngIf="error.status == 401">No access to this info</span>

    <button (click)="showError = true">.</button>
    <pre *ngIf="showError">{{ error | json}}</pre>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <mat-table #table [dataSource]="dataSource">
        

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="partecipationTypeCode">
            <mat-header-cell *matHeaderCellDef> Partecipation Type Code </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.partecipationTypeCode }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="procurementLotCig">
            <mat-header-cell *matHeaderCellDef> Procurement Lot Cig </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.procurementLotCig }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="procurementLotId">
            <mat-header-cell *matHeaderCellDef> Procurement Lot Id </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.procurementLotId }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="proposerEopooCode">
            <mat-header-cell *matHeaderCellDef> Proposer EopooCode </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.proposerEopooCode }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="siteInspection">
            <mat-header-cell *matHeaderCellDef> Site Inspection </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.siteInspection }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="statusDescription">
            <mat-header-cell *matHeaderCellDef> Status Description </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.statusDescription }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="statusId">
            <mat-header-cell *matHeaderCellDef> Status Id </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.statusId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="'/ipp/partecipation/detail/' + e.id">
                      <mat-icon>details</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item (click)="editPartecipation(e)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                    <button mat-menu-item (click)="deletePartecipation(e.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                  </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let dataSource; columns: displayColumns;"></mat-row>

    </mat-table>

</div>