<form *ngIf="step.form" [formGroup]="ippSectorNewUpdateForm" (ngSubmit)="createSector()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Ipp Sector Name</mat-label>
            <mat-icon matSuffix class="secondary-text">star_half</mat-icon>
            <input name="name" formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Code</mat-label>
            <mat-icon matSuffix class="secondary-text">star_half</mat-icon>
            <input name="code" formControlName="code" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Wiki Code</mat-label>
            <mat-icon matSuffix class="secondary-text">star_half</mat-icon>
            <input name="wikiCode" formControlName="wikiCode" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button type="submit" mat-raised-button color="accent">Create</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ ippSectorNewUpdateForm.value | json }}</pre>
</div>