<div id="aig-ipp-sector-detail-page" class="page-layout blank">
    <aig-standard-header [sectionName]="ippSector.name" [search]="false"></aig-standard-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-ipp-sector [ippSector]="ippSector"></entity-detail-ipp-sector>
             
                <button mat-stroked-button color="primary" (click)="editIppSector(ippSector)">Edit</button>
                <button mat-stroked-button color="primary"
                (click)="deleteIppSector(ippSector.id)">Delete
            </button>
            </div>
        </div>
    </div>
</div>