<div id="aig-city-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
               <div class="h4 m-8 ml-16 mb-0 secondary-text">City</div>
                <div class="h1 m-16">{{ sectorDTO.name }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ sectorDTO.id }}</div>
                <div class="h4 m-8 ml-16">Code: {{ sectorDTO.code }}</div>
                <div class="h4 m-8 ml-16">WikiCode: {{ sectorDTO.wikiCode }}</div>
            </div>
        </div>
    </div>
</div>