<form *ngIf="step.form" [formGroup]="producerNewUpdateForm" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'COMMERCE.NAME' | translate | titlecase }}</mat-label>
            <input name="name" formControlName="name" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.CREATE' | translate | titlecase }}</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.UPDATE' | translate | titlecase }}</button>
    </div>
</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <h1 *ngIf="!isUpdate">{{ 'COMMERCE.PRODUCTOR' | translate | titlecase }} {{ 'MAIN.CREATION_OK' | translate }}</h1>
    <h1 *ngIf="isUpdate">{{ 'COMMERCE.PRODUCTOR' | translate | titlecase }} {{ 'MAIN.UPDATE_OK' | translate }}</h1>
    
    <hr>

    <entity-detail-producer [producer]="producerResult"></entity-detail-producer>

    <div *ngIf="!isUpdate">
        <br>
        <hr>
        <button *ngIf="!isUpdate" mat-stroked-button color="primary" (click)="newProducer()">{{ 'MAIN.CREATE_NEW' | translate | titlecase }}</button>
    </div>
</div>