#aig-inventory-item-detail-page {

    #item-combination-list {
        position: relative;
    }
}

#add-inventory-item-combination-button {
    position:relative; 
    bottom:1px; 
    left:530px;
}