<div id="aig-social-detail-page" class="page-layout blank">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <pre>{{ inventoryItemDTO | json }}</pre>

                <button mat-stroked-button color="primary" (click)="editInventoryItem(inventoryItemDTO)">Edit</button>

            </div>
        </div>
    </div>
</div>

<div class="widget p-16" fxFlex.gt-sm="40">
    <div class="fuse-card auto-width p-16" id="role-list">
        <div class="h4 m-16 mt-0 mb-0">Lista combinazioni</div>
        <inventory-item-combination-list-table [displayColumns]="inventoryItemCombinationDC"
            [dataSource]="inventoryItemCombinationDTOs" [error]="inventoryItemCombinationError">
        </inventory-item-combination-list-table>
        <div style="height: 35px;"></div>
        <button mat-fab class="accent" id="add-inventory-item-combination-button" (click)="newInventoryItemCombination()" aria-label="add inventory item combination">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>