<div class="page-layout simple left-sidebar">
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="designated-company-sidebar" position="left" lockedOpen="gt-md">
        <!-- SIDEBAR CONTENT -->
        <div class="content">
            <div>
                <div class="content py-16" fusePerfectScrollbar>
                    <div class="nav material2">
                        <div class="nav-item" aria-label="inbox">
                            <div fxLayout="row" fxLayoutAlign="center top">
                                <button mat-raised-button (click)="showAllDesignatedCompany()">Resetta filtri</button>
                            </div>
                            <form [formGroup]="designatedCompanySearchFormGroup"
                                (ngSubmit)="designatedCompanySearchWithFilter()" class="p-8">

                                
                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Id</mat-label>
                                        <input matInput type="number" formControlName="id">
                                    </mat-form-field>
                                </div>
                            
                                <div fxLayout="row">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Anagrafica Azienda</mat-label>
                                        <input matInput formControlName="companyEopoo" [matAutocomplete]="companyEopooAutocomplete">
										<mat-autocomplete #companyEopooAutocomplete="matAutocomplete" [displayWith]="genericAutocompleteFunctionService.eopooDisplayFn">
											<mat-option *ngFor="let eopoo of filteredEopoo | async" [value]="eopoo">{{ eopoo.taxNumber }}</mat-option>
										</mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="end top">
                                    <button type="submit" mat-raised-button color="accent">Cerca</button>
                                </div>

                                <!--<div fxLayout="row" fxLayoutAlign="end top">
                                    <button mat-raised-button (click)="publish()"> Publish </button>
                                </div>
                                -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                (click)="toggleSidebar('designated-company-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>
            <h2>Compagnia designata</h2>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content mb-48">
            <aig-designated-company-list-table [displayColumns]="designatedCompanyDC" [dataSource]="designatedCompanyDTOs"
                [error]="designatedCompanyError">
            </aig-designated-company-list-table>

            <mat-paginator #paginator [length]="designatedCompanyLength"
                [pageIndex]="this.designatedCompanyFilters.page" [pageSize]="this.designatedCompanyPaginationSize"
                [pageSizeOptions]="[10, 20, 50]" (page)="designatedCompanyPaginationEvent($event)">
            </mat-paginator>

            <button mat-fab class="accent" id="add-designated-company-button" (click)="newDesignatedCompany()"
                aria-label="add designated company">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->

</div>