        <div class="h1 m-8 ml-16">{{ user-licenze.user-licenze }}</div>
        <div class="h4 ml-16">ID: <b>{{ user-licenze.id }}</b></div>

        <div class="h4 ml-16">active: <b>{{ userLicenze.active }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">userCode: <b>{{ userLicenze.eopoo.person.userCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">name: <b>{{ userLicenze.eopoo.person.name }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">contextCode: <b>{{ userLicenze.eopoo.person.contextCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">nameDatabase: <b>{{ userLicenze.eopoo.person.nameDatabase }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">logoImage: <b>{{ userLicenze.eopoo.person.logoImage }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">name: <b>{{ userLicenze.eopoo.person.name }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">name: <b>{{ userLicenze.eopoo.person.name }}</b></div>

