<div id="aig-modalita-pagamento-detail-page" class="page-layout blank">
    
    <aig-standard-header [sectionName]="modalitaPagamento.value" [search]="false"></aig-standard-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">

                <entity-detail-modalita-pagamento [modalitaPagamento]="modalitaPagamento"></entity-detail-modalita-pagamento>

                <button mat-stroked-button color="primary" (click)="editModalitaPagamento(modalitaPagamento)">Edit</button>
                <button mat-stroked-button color="primary"
                    (click)="deleteMmodalitaPagamento(modalitaPagamento.id)">Delete
                </button>
            </div>
        </div>
    </div>
</div>