<div id="aig-purchase-item-new-update-form" *ngIf="step.form">
    <form [formGroup]="purchaseItemNewUpdateForm" (ngSubmit)="submit()">

        <div fxLayout="row" fxLayoutAlign="start start">

            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Vendita</mat-label>
                    <input type="text" matInput formControlName="purchase" required [matAutocomplete]="purchaseAutocomplete">
                    <mat-autocomplete #purchaseAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.purchaseDisplayFn">
                        <mat-option *ngFor="let purchase of filteredPurchase | async" [value]="purchase">{{ purchase.insertedDateTime }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </div>
        <div  fxLayout="row" fxLayoutAlign="start start">
            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Combinazioni</mat-label>
                    <input type="text" matInput formControlName="inventoryItemCombination" [matAutocomplete]="inventoryItemCombinationAutocomplete">
                 <mat-autocomplete #inventoryItemCombinationAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.inventoryItemCombinationDisplayFn">
                        <mat-option *ngFor="let inventoryItemCombination of filteredInventoryItemCombination | async" [value]="inventoryItemCombination">
                            {{ inventoryItemCombination.name }}
                            {{ inventoryItemCombination.inventoryItem.producer.name }}
                            {{ inventoryItemCombination.inventoryItem.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="form-group col-md-2">
                <mat-form-field  appearance="outline" fxFlex>
                    <mat-label>Prezzo</mat-label> 
                    <mat-icon matSuffix>euro_symbol</mat-icon>
                    <input matInput required formControlName="price">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Quantità</mat-label>
                <input type="number" matInput formControlName="quantity" placeholder="Quantità">
            </mat-form-field>
            
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Tassa</mat-label>
                <input matInput formControlName="tax">
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="form-group col-md-2">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Prodotto di movimentazione di magazzino</mat-label>
                    <input type="text" matInput formControlName="warehouseHandlingItem" [matAutocomplete]="warehouseHandlingItemAutocomplete">
                    <mat-autocomplete #warehouseHandlingItemAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.warehouseHandlingItemDisplayFn">
                        <mat-option *ngFor="let warehouseHandlingItem of filteredWarehouseHandlingItem | async" [value]="warehouseHandlingItem">{{ warehouseHandlingItem.id }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
           


        </div>    
        <div fxLayout="row" fxLayoutAlign="end top">
            <button type="submit" mat-raised-button color="accent">Crea</button>
        </div>
    </form>
</div>
<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>{{ purchaseItemNewUpdateForm.value | json }}</pre>
    <button *ngIf="!purchaseItemNewUpdateForm.value.id" mat-stroked-button color="primary" (click)="newPurchaseItem()">Create New</button>
</div>