<div id="aig-purchase-item-new-update-form" *ngIf="step.form">
    <form [formGroup]="purchaseItemNewUpdateForm" (ngSubmit)="submit()">

        <div fxLayout="row" fxLayoutAlign="start start" *ngIf="!purchase">
            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Vendita</mat-label>
                    <input type="text" matInput formControlName="purchase" required [matAutocomplete]="purchaseAutocomplete">
                    <mat-autocomplete #purchaseAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.purchaseDisplayFn">
                        <mat-option *ngFor="let purchase of filteredPurchase | async" [value]="purchase">{{ purchase.insertedDateTime }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>


        
        <div fxLayout="row" fxLayoutAlign="start start">

            <mat-form-field appearance="outline" [style.width.%]=45>
                <mat-label>Combinazione</mat-label>
                <input type="text" matInput formControlName="inventoryItemCombination" [matAutocomplete]="inventoryItemCombinationAutocomplete">
                <mat-autocomplete #inventoryItemCombinationAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplayService.inventoryItemCombinationDisplayFn">
                    <mat-option *ngFor="let inventoryItemCombination of filteredInventoryItemCombination | async" [value]="inventoryItemCombination">
                        {{ inventoryItemCombination.name }}
                        {{ inventoryItemCombination.inventoryItem.producer.name }}
                        {{ inventoryItemCombination.inventoryItem.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            
            <mat-form-field appearance="outline" [style.width.%]=15>
                <mat-label>Quantità</mat-label>
                <input type="number" matInput formControlName="quantity" placeholder="Quantità">
            </mat-form-field>
            
            
            <mat-form-field  appearance="outline" [style.width.%]=15>
                <mat-label>Prezzo</mat-label> 

                <input matInput required formControlName="price">
            </mat-form-field>

            <mat-form-field appearance="outline" [style.width.%]=15>
                <mat-label>Tassa</mat-label>
                <input matInput formControlName="tax">
            </mat-form-field>

            <button *ngIf="continueInsertion" type="submit" mat-icon-button color="accent" [style.width.%]=10 [style.font.size]=16>
                <mat-icon>add</mat-icon>
            </button>
            
        </div>

        <div fxLayout="row" fxLayoutAlign="end top" *ngIf="!continueInsertion">
            <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.CREATE' | translate | titlecase }}</button>
            <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">{{ 'MAIN.UPDATE' | translate | titlecase }}</button>
        </div>

    </form>
</div>
<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">
    <pre>TODO METTERE DETTAGLI INSERIMENTO</pre>
    <div *ngIf="!isUpdate">
        <button mat-stroked-button color="primary" (click)="newPurchaseItem()">
            <span *ngIf="!returnToParent">{{ 'MAIN.CREATE_NEW' | translate | titlecase }}</span>
            <span *ngIf="returnToParent">{{ 'MAIN.EDIT' | translate | titlecase }}</span>
        </button>
    </div>
</div>