<div id="aig-social-detail-page" class="page-layout blank">
    
    <aig-standard-header [sectionName]="social.name" [search]="false"></aig-standard-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
                <div class="h4 m-8 ml-16 mb-0 secondary-text">Social</div>
                <div class="h1 m-16">{{ social.name }}</div>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">ID: {{ social.id }}</div>
                <div class="h4 m-8 ml-16">Code: {{ social.code }}</div>
                <div class="h4 m-8 ml-16">WikiCode: {{ social.wikiCode }}</div>
                <button mat-stroked-button color="primary" (click)="editSocial(social)">Edit</button>
                <button mat-stroked-button color="primary"
                    (click)="deleteSocial(socialDTO.id)">Delete
                </button>
            </div>
        </div>
    </div>
</div>