<div *ngIf="error != null" class="p-48" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <h3>Error!</h3>
    <span *ngIf="error.status == 401">No access to this info</span>

    <button (click)="showError = true">.</button>
    <pre *ngIf="showError">{{ error | json }}</pre>
</div>
<div *ngIf="error == null && dataSource == null" class="p-48">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="error == null && dataSource != null">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roleCode">
            <mat-header-cell *matHeaderCellDef> Role Code </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.roleCode }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="moduleName">
            <mat-header-cell *matHeaderCellDef> Module Name </mat-header-cell>
            <mat-cell *matCellDef="let e"> {{ e.applicationModule.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="permissions" style="width: 50%;">
            <mat-header-cell *matHeaderCellDef> Permissions </mat-header-cell>
            <mat-cell *matCellDef="let e">
				<span *ngFor="let permission of e.permissions" class="p-2 m-4" style="background-color: aquamarine; ">
					{{ permission.name }}
				</span>
			</mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let e">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="'/m8t/role/detail/' + e.id">
                      <mat-icon>details</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item (click)="editRole(e)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                    <button mat-menu-item (click)="deleteRole(e.id)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let dataSource; columns: displayColumns;"></mat-row>

    </mat-table>

</div>