<div class="h4 m-8 ml-16 mb-0 secondary-text">
    ID: {{ procurement.id }}
    -
    {{ 'IPP.ANAC_CODE' | translate }}: {{ procurement.code }}
</div>
<div class="h1 m-8 ml-16">{{ procurement.description }}</div>
<div class="h4 ml-16">
    {{ 'IPP.TOTAL_AMOUNT' | translate }}: <b>{{ procurement.procurementAmount | currency: "EUR" }}</b>
</div>
<div class="h4 ml-16" *ngIf="procurement.ref != null && procurement.ref != ''">{{ 'IPP.REFERENCE' | translate }}: <b>{{ procurement.ref }}</b></div>

<div class="h2 m-8 ml-16 mb-0 secondary-text">{{ 'MAIN.DETAILS' | translate }} {{ 'IPP.CONTRACTOR' | translate }}</div>
<aig-eopoo-entity-detail [eopoo]="procurement.contractorEopoo"></aig-eopoo-entity-detail>