<div class="h4 m-8 ml-16 mb-0 secondary-text">
    ID: {{ procurement.id }}
    -
    ANAC: {{ procurement.code }}
</div>
<div class="h1 m-8 ml-16">{{ procurement.description }}</div>
<div class="h4 ml-16">
    Importo totale: <b>{{ procurement.totalAmount | currency: "EUR" }}</b>
</div>
<div class="h4 ml-16">Settore: <b>{{ procurement.sector.name }}</b></div>
<div class="h4 ml-16">Procedura: <b>{{ procurement.procedure.name }}</b></div>
<div class="h4 ml-16">Modalità: <b>{{ procurement.modality.name }}</b></div>
<div class="h4 ml-16">Stato: <b>{{ procurement.status.name }}</b></div>
<div class="h4 ml-16">Riferimento: <b>{{ procurement.ref }}</b></div>

<div class="h2 m-8 ml-16 mb-0 secondary-text">{{ 'MAIN.DETAILS' | translate }} stazione appaltante</div>
<aig-eopoo-entity-detail [eopooDTO]="procurement.contractorEopoo"></aig-eopoo-entity-detail>