<div id="aig-city-detail-page" class="page-layout blank">
    <aig-standard-header [sectionName]="tipoCassa.value" [search]="false"></aig-standard-header>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">
        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
               

               <entity-detail-tipo-cassa [tipoCassa]="tipoCassa"></entity-detail-tipo-cassa>

                <button mat-stroked-button color="primary" (click)="editTipoCassa(tipoCassa)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteTipoCassa(tipoCassa.id)">Delete </button>
            </div>
        </div>
    </div>
</div>