<form *ngIf="step.form" [formGroup]="referentNewUpdateForm" (ngSubmit)="submit()">

    <div *ngIf="!eopoo" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Eopoo</mat-label>
            <input type="text" matInput formControlName="eopoo" required [matAutocomplete]="eopooAutocomplete">
            <mat-autocomplete #eopooAutocomplete="matAutocomplete" [displayWith]="genericAutocompleteFunctionService.eopooDisplayFn">
                <mat-option *ngFor="let eopoo of filteredEopoos | async" [value]="eopoo">{{ eopoo | eopooName }}</mat-option>
            </mat-autocomplete>
            <mat-error>è obbligatorio!</mat-error>
        </mat-form-field>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>First name</mat-label>
            <input formControlName="firstname" matInput required>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Last name</mat-label>
            <input formControlName="lastname" matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Position</mat-label>
            <input formControlName="position" matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end top">
        <button *ngIf="!isUpdate" type="submit" mat-raised-button color="accent">Crea</button>
        <button *ngIf="isUpdate" type="submit" mat-raised-button color="accent">Aggiorna</button>
    </div>

</form>

<div *ngIf="step.loading" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="step.complete">

    <h1 *ngIf="!isUpdate">Referent creato con successo</h1>
    <h1 *ngIf="isUpdate">Referent aggiornato con successo</h1>
    
    <hr>

    <aig-referent-entity-detail [referent]="referentResult"></aig-referent-entity-detail>

    <div *ngIf="!isUpdate">
        <br>
        <hr>
        <button *ngIf="!isUpdate" mat-stroked-button color="primary" (click)="newReferent()">Crea nuovo</button>
    </div>

</div>