<div class="page-layout blank">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget" fxFlex.gt-sm="auto">
            <div class="fuse-card auto-width p-16 m-8">
                <div class="h1 m-8 ml-16 mb-0 secondary-text"> {{ 'MAIN.DETAILS' | translate | titlecase }} {{ 'COMMERCE.PRICE_LIST_ITEM' | translate }}</div>
                <hr>
                <div class="h4 m-8 ml-16 mb-0 secondary-text">
                    ID: {{ priceListItemDTO.id }}
                </div>
                <aig-price-list-item-box-detail [priceListItemDTO]="priceListItemDTO"></aig-price-list-item-box-detail>
                <br>
                <div fxLayoutAlign="end">
                    <button class="ml-8" mat-stroked-button color="primary" (click)="editPriceListItem(priceListItemDTO)">{{ 'MAIN.EDIT' | translate | titlecase }}</button>
                    <button class="ml-8" mat-stroked-button color="warn" (click)="deletePriceListItem(priceListItemDTO.id)">{{ 'MAIN.DELETE' | translate | titlecase }}</button>
                </div>
            </div>
        </div>
    </div>

</div>