<div id="aig-eopoo-type-detail-page" class="page-layout blank">

    <aig-generic-header [sectionName]="eopooTypeDTO.name" [search]="false"></aig-generic-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="34">
            <div class="fuse-card auto-width p-16 m-16">
                <aig-eopoo-type-entity-detail [eopooType]="eopooTypeDTO"></aig-eopoo-type-entity-detail>

                <button mat-stroked-button color="primary" (click)="editEopooType(eopooTypeDTO)">Edit</button>
                <button mat-stroked-button color="primary" (click)="deleteEopooType(eopooTypeDTO.id)">Delete</button>
            </div>
        </div>

    </div>

</div>