<div id="aig-eopoo-type-detail-page" class="page-layout blank">

    <aig-generic-header [sectionName]="eopooTypeDTO.name" [search]="false"></aig-generic-header>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start" fxLayoutAlign.gt-sm="start start">

        <div class="widget p-16" fxFlex.gt-sm="50">
            <div class="fuse-card auto-width p-16">
                <pre>{{ eopooTypeDTO | json }}</pre>
                <button mat-stroked-button color="primary" (click)="editEopooType(eopooTypeDTO)">Edit</button>
            </div>
        </div>
    </div>

</div>

