<div class="page-layout simple left-sidebar">
	<!-- SIDEBAR -->
	<fuse-sidebar class="sidebar" name="purchase-sidebar" position="left" lockedOpen="gt-md">
		<!-- SIDEBAR CONTENT -->
		<div class="content">
			<div>
				<div class="p-16 border-bottom" fxLayout="row" fxLayoutAlign="center top">
					<button mat-raised-button (click)="resetFiltersWarehouseHandling()">Resetta filtri</button>
				</div>
				<div class="header pl-16 mt-8" fxLayout="row" fxLayoutAlign="start center">
					<span class="h3">Filtri</span>
				</div>
				<div class="content" fusePerfectScrollbar>
					<div class="nav material2">
						<div class="nav-item" aria-label="inbox">
							<form [formGroup]="warehouseHandlingSearchFormGroup"
								(ngSubmit)="warehouseHandlingSearchWithFilter()" class="p-8">
								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Id</mat-label>
										<input matInput type="number" formControlName="id">
									</mat-form-field>
								</div>

								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Data</mat-label>
										<input formControlName="date" matInput [matDatepicker]="picker">
										<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>

								<div fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="100">
										<mat-label>Tipo di Movimentazione</mat-label>
										<mat-select formControlName="warehouseHandlingType">
											<mat-option *ngFor="let warehouseHandling of warehouseHandlings"
												[value]="warehouseHandling.value">
												{{warehouseHandling.viewValue}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>

								<div fxLayout="row" fxLayoutAlign="end top">
									<button type="submit" mat-raised-button color="accent">Cerca</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / SIDEBAR CONTENT -->
	</fuse-sidebar>
	<!-- / SIDEBAR -->
	<!-- CENTER -->
	<div class="center">
		<!-- HEADER -->
		<div class="header p-24 primary" fxLayout="row" fxLayoutAlign="start center">
			<button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
				(click)="toggleSidebar('purchase-sidebar')">
				<mat-icon>menu</mat-icon>
			</button>
			<h2>Elenco Movimentazioni di Magazzino</h2>
		</div>
		<!-- / HEADER -->
		<!-- CONTENT -->
		<div class="content mb-48">
			<aig-warehouse-handling-list-table [displayColumns]="warehouseHandlingDC"
				[dataSource]="warehouseHandlingDTOs" [error]="warehouseHandlingError">
			</aig-warehouse-handling-list-table>

			<mat-paginator #paginator [length]="warehouseHandlingLength"
				[pageSize]="this.warehouseHandlingPaginationSize" [pageIndex]="this.warehouseHandlingFilters.page"
				[pageSizeOptions]="[10, 20, 50]" (page)="warehouseHandlingPaginationEvent($event)">
			</mat-paginator>

			<button mat-fab class="accent" id="add-warehouse-handling-button" (click)="newWarehouseHandling()"
				aria-label="add warehouse handling">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<!-- / CONTENT -->
	</div>
	<!-- / CENTER -->
</div>
<div>

</div>